<script src="https://kit.fontawesome.com/916442ede6.js" crossorigin="anonymous"></script>
  <div class="bg-main-health">
          
      </div>

  <div class="jumbotron">
    <div class="container altura">
      <div class="row">

       <section class="bg-white-trans">
        <h2 class="black animated animatedFadeInUp">
                        Alcanzar la salud
          </h2>
          <p>La salud es la verdadera riqueza y no el dinero y el oro.-Mahatma Gandhi.</p>
          <p>Viajar por el mundo es un gran sueño y puedes viajar realmente por los 237 paises y territorios del mundo pero tal vez solo desees conocer ciertas partes, asi que nos gustaria que veas nuestras opciones y selecciones la que te interesan. Disfruta y escoge de acuerdo a lo que desees. </p>
         </section>
        <div class="col-md-12">
         <div class="col-sm-6 col-sm-push-5 col-md-6 col-md-push-7">
           <div class="animated animatedFadeInUp shadowtr bg-white-trans">
             <h3 class="text-klein-purple hdreamfs">
                            SALUD FISICA
             </h3>
             <p class="fs-16">“Viajar es un ejercicio con consecuencias fatales para los prejuicios, la intolerancia y la estrechez de mente”. – Mark Twain</p>
             <p>Tienes 49 paises oficiales, 8 paises no oficialmente reconocidos, 9 territorios en disputa y 33 territorios dependientes de paises europeos por visitar. </p>

            <div  class="collapse" id="europaspre">
            <p>
                            Pasear en la torre Eiffel de noche, visitar el coliseo Romano y los canales de Venecia, Visitar el palacio de Buckingham.
            </p>
            <p class="black">
            	TOP 10 CIUDADES MAS VISITADAS
            	<ul class="dreamfs text-left fs201">
            		<li>
            			Paris, Francia
            		</li>
            		<li>
            			Londres, Inglaterra
            		</li>
            		<li>
            			Berlin, Alemania
            		</li>
            		<li>
            			Roma, Italia
            		</li>
            		<li>
            			Barcelona, España
            		</li>
            		<li>
            			Madrid, España
            		</li>
            		<li>
            			Estambul, Turquia
            		</li>
            		<li>
            			Praga, Republica Checa
            		</li>
            		<li>
            			Viena, Austria
            		</li>
            		<li>
            			Munich, Alemania
            		</li>
            	</ul>
            </p>
            <p>CONOCE EL TOP 50 LUGARES RECOMENDADOS ELIGIENDO EUROPA</p>
            </div>
                  <a class="btn btn-icon-only black" role="button" data-toggle="collapse" href="#europaspre" aria-expanded="false" aria-controls="collapseExample">
                            DESCUBRE MAS
                  </a>
                  <div><%= link_to "ELEGIR", health_pre_fisical_path,
           class: "ui-trigger btn btn-halo2 js-button-hero-get-premium" %></div>
           </div>
<div class="animated animatedFadeInUp shadowtr bg-white-trans">
             <h3 class="text-klein-purple hdreamfs">
                            SALUD ESPIRITUAL
             </h3>
             <p class="fs-16">“Al igual que la vela no puede arder sin fuego, el hombre no puede vivir sin vida espiritual”.-Buddha.</p>
             <p>Salud fisica, mental, emocional todas son importantes pero la salud espiritual es la que une las 3 en un solo ser. </p>
            
            <div  class="collapse" id="americaspre">
            <p>
                            La espiritualidad es la manera en que encontramos significado, esperanza, alivio, paz interior en nuestra vida. Nuestra conciencia no puede estar en paz si no esta espiritualmente sana.
            </p>
           <p class="black">
              ALGUNAS FORMAS EN QUE SE LOGRA 
              <ul class="dreamfs text-left fs201">
                <li>
                  El ARTE
                </li>
                <li>
                  ACERCARCE A DIOS
                </li>
                <li>
                  AYUDAR A ALGUIEN
                </li>
                <li>
                  SIENDO AGRADECIDOS
                </li>
                <li>
                  HACER DEPORTE
                </li>
                <li>
                  PRACTICAR YOGA
                </li>
                <li>
                  LA MEDITACION
                </li>
                <li>
                  LA NATURALEZA
                </li>
                <li>
                  LA MUSICA
                </li>
              </ul>
            </p>
            <p>CONOCE COMO LOGRAR UNA SALUD ESPIRITUAL SANA EN ESTE SUEÑO</p>
            </div>
                  <a class="btn btn-icon-only black" role="button" data-toggle="collapse" href="#americaspre" aria-expanded="false" aria-controls="collapseExample">
                            DESCUBRE MAS
                  </a>
                  <div><%= link_to "ELEGIR", health_espiritual_path,
           class: "ui-trigger btn btn-halo2 js-button-hero-get-premium" %></div>
           </div>
           

         </div>
         <div class="col-sm-6 col-sm-pull-6 col-md-6 col-md-pull-6">
            <div class="animated animatedFadeInUp shadowtr bg-white-trans">
             <h3 class="text-klein-purple hdreamfs">
                            SALUD MENTAL
             </h3>
             <p class="fs-16"> "Viajar es imprescindible y la sed de viaje, un síntoma neto de inteligencia"- Enrique Jardiel Poncela </p>
             <p>La salud mental abarca una amplia gama de actividades directa o indirectamente relacionadas con el componente de bienestar mental.
             </p>
             <div  class="collapse" id="asiaspre">
            <p>
                            Está relacionada con la promoción del bienestar, la prevención de trastornos mentales y el tratamiento y rehabilitación de las personas afectadas por dichos trastornos. Haci como la fomentacion de la inteligencia y habilidades mentales.
            </p>
           <p class="black">
              TOP 10 CIUDADES MAS VISITADAS
              <ul class="dreamfs text-left fs201">
                <li>
                  Paris, Francia
                </li>
                <li>
                  Londres, Inglaterra
                </li>
                <li>
                  Berlin, Alemania
                </li>
                <li>
                  Roma, Italia
                </li>
                <li>
                  Barcelona, España
                </li>
                <li>
                  Madrid, España
                </li>
                <li>
                  Estambul, Turquia
                </li>
                <li>
                  Praga, Republica Checa
                </li>
                <li>
                  Viena, Austria
                </li>
                <li>
                  Munich, Alemania
                </li>
              </ul>
            </p>
            <p>CONOCE EL TOP 50 LUGARES RECOMENDADOS ELIGIENDO EUROPA</p>
            </div>
                  <a class="btn btn-icon-only black" role="button" data-toggle="collapse" href="#asiaspre" aria-expanded="false" aria-controls="collapseExample">
                            DESCUBRE MAS
                  </a>
                  <div><%= link_to "ELEGIR", health_pre_mental_path,
           class: "ui-trigger btn btn-halo2 js-button-hero-get-premium" %></div>
           </div>
         <div class="animated animatedFadeInUp shadowtr bg-white-trans">
             <h3 class="text-klein-purple hdreamfs">
                            SALUD EMOCIONAL
             </h3>
             <p class="fs-16"> "Una inversión en un viaje es una inversión en ti mismo" -Matthew Karsten. </p>
             <p>Tienes 14 paises oficiales, 1 territorios en disputa y 9 territorios dependientes de paises oceanicos por visitar. </p>
             
            <div  class="collapse" id="oceaniaspre">
            <p>
                            Algunos consideran que la salud social, pero no necesitas depender de terceros para sentir completo y feliz.
            </p>
           <p class="black">
              TOP 10 CIUDADES MAS VISITADAS
              <ul class="dreamfs text-left fs201">
                <li>
                  Paris, Francia
                </li>
                <li>
                  Londres, Inglaterra
                </li>
                <li>
                  Berlin, Alemania
                </li>
                <li>
                  Roma, Italia
                </li>
                <li>
                  Barcelona, España
                </li>
                <li>
                  Madrid, España
                </li>
                <li>
                  Estambul, Turquia
                </li>
                <li>
                  Praga, Republica Checa
                </li>
                <li>
                  Viena, Austria
                </li>
                <li>
                  Munich, Alemania
                </li>
              </ul>
            </p>
            <p>CONOCE EL TOP 50 LUGARES RECOMENDADOS ELIGIENDO EUROPA</p>
            </div>
                  <a class="btn btn-icon-only black" role="button" data-toggle="collapse" href="#oceaniaspre" aria-expanded="false" aria-controls="collapseExample">
                            DESCUBRE MAS
                  </a>
                  <div><%= link_to "ELEGIR", health_emocional_path,
           class: "ui-trigger btn btn-halo2 js-button-hero-get-premium" %></div>
           </div>

         </div>
        </div>

       </div>
    </div>
   </div>
<footer class="footer footer-default footer-highlight-aquamarine text-center">
  <div class="container">
    <p class="text-white fs-24">Tienes un sueño de viajar que no encuentras aqui o algun sueño especial de viajar. Agregalo abajo.</p>
    <%= link_to "AGREGAR SUEÑO", pages_add_dream_path,
              class: "btn btn-solid3 js-goto-signup js-button-hero-get-free" %>
  </div>

</footer>