<script src="https://kit.fontawesome.com/916442ede6.js" crossorigin="anonymous"></script>
 <div class="bg-main-business">
          
      </div>

  <div class="jumbotron">
    <div class="container altura">
      <div class="row">

       <section class="bg-white-trans">
        <h2 class="black animated animatedFadeInUp">
                Tener mi propio negocio
        </h2>
          <p class="fs-14">“No hay secretos para el éxito. Este se alcanza preparándose, trabajando arduamente y aprendiendo del fracaso”. Colin Powell.</p>
          <p>Emprender un negocio es uno de los retos mas emocionantes que hay, pero tienes que comprender que el fracaso esta de por medio y que nosotros te guiaremos pero tu eres el creador. A continuacion realizaras tu primera decision como emprendedor.  </p>
         </section>
<!--Seleccion para comprender al emprendedor -->


        <div class="col-md-12">
         <div class="col-sm-6 col-sm-push-6 col-md-6 col-md-push-6">
           <div class="animated animatedFadeInUp shadowtr bg-white-trans">
             <h3 class="text-klein-purple hdreamfs">
                            NO TENGO UNA IDEA DEFINIDA
             </h3>
             <p class="fs-16">“Un emprendedor ve oportunidades allá donde otros solo ven problemas”. Michael Gerber.</p>
             <p>Mejor si no tienes una idea, las ideas por lo regular te llevan al fracaso cuando te enamoras de ellas, nosotros en cambio haremos investigaciones y una metodologia de emprendimiento que nos llevara a encotrar la solucion a un problema real que realmente la gente quiera comprar.</p>

            <div  class="collapse" id="no_initial_idea">
            <p>
                            Mediante las soluciones que te brindemos podrás no solo enfocarte a un solo nicho de mercado, sino que podrás elegir entre varios según la capacidad que notemos en ellos y las habilidades con las que cuentas para llevar a cabo tu emprendimiento de ensueño.
            </p>
            <p class="black">
            	TOP 10 MERCADOS CON MAYOR POTENCIAL
            	<ul class="dreamfs text-left fs201">
            		<li>
            			Paris, Francia
            		</li>
            		<li>
            			Londres, Inglaterra
            		</li>
            		<li>
            			Berlin, Alemania
            		</li>
            		<li>
            			Roma, Italia
            		</li>
            		<li>
            			Barcelona, España
            		</li>
            		<li>
            			Madrid, España
            		</li>
            		<li>
            			Estambul, Turquia
            		</li>
            		<li>
            			Praga, Republica Checa
            		</li>
            		<li>
            			Viena, Austria
            		</li>
            		<li>
            			Munich, Alemania
            		</li>
            	</ul>
            </p>
            <p>CONOCE LAS ACTIVIDADES Y CONOCIMIENTOS QUE TE HACEN MEJOR EMPRENDEDOR ADENTRO</p>
            </div>
                  <a class="btn btn-icon-only black" role="button" data-toggle="collapse" href="#no_initial_idea" aria-expanded="false" aria-controls="collapseExample">
                            DESCUBRE MAS
                  </a>
                  <div><%= link_to "ELEGIR", business_no_initial_idea_path,
                  class: "ui-trigger btn btn-halo2 js-button-hero-get-premium" %></div>
           </div>
<div class="animated animatedFadeInUp shadowtr bg-white-trans">
             <h3 class="text-klein-purple hdreamfs">
                            EMPRENDER UN NEGOCIO TRADICIONAL (TIENDAS, COSMETICAS, ABARROTES, EJERCICIO, AGENCIAS, ETC)
             </h3>
             <p class="fs-16">“Invertir en conocimientos produce siempre los mejores beneficios”. Benjamin Franklin.</p>
             <p>Un area enorme de oportunidades te esperan, es una eleccion con muchas puertas. Los negocios locales son aquellos que se conocen como los negocios de la esquina y atienden las necesidades de una comunidad con algunos productos y servicios.</p>
            
            <div  class="collapse" id="traditional">
            <p>
                            Sabemos que los tiempos han cambiado y que todo pareciera que se debe a la innovación, esto no quiere decir que todas las actuales grandes ideas se deban a la tecnología. Como bien sabemos la innovación no es otra cosa más que hacer las cosas de una manera diferente y que genere mayor valor. Si logramos aplicar dicha metodología a tu idea de negocio local seguramente este será un éxito. Aceptamos el reto de adentrarnos contigo a cumplir tu sueño. ¿Tú lo aceptas también? ¡Comencemos!
            </p>
           <p class="black">
              10 NEGOCIOS TRADICIONALES INNOVADORES
              <ul class="dreamfs text-left fs201">
                <li>
                  Death Wish Coffe
                </li>
                <li>
                  Praktik Bakery
                </li>
                <li>
                  Kerfcase
                </li>
                <li>
                  Productos Artesanales
                </li>
                <li>
                  Cyclehoop
                </li>
                <li>
                  Megabus
                </li>
                <li>
                  Hotel Literario San Beito
                </li>
                <li>
                  Hotel Aloft Cupertino
                </li>
                <li>
                  Bellabeat
                </li>
                <li>
                  Keap
                </li>
              </ul>
            </p>
            <p>CONOCE LAS ACTIVIDADES Y CONOCIMIENTOS QUE TE HACEN MEJOR EMPRENDEDOR ADENTRO</p>
            </div>
                  <a class="btn btn-icon-only black" role="button" data-toggle="collapse" href="#traditional" aria-expanded="false" aria-controls="collapseExample">
                            DESCUBRE MAS
                  </a>
                  <div><%= link_to "ELEGIR", business_local_path,
                  class: "ui-trigger btn btn-halo2 js-button-hero-get-premium" %></div>
           </div>
           <div class="animated animatedFadeInUp shadowtr bg-white-trans">
             <h3 class="text-klein-purple hdreamfs">
                            EMPRENDER UN NEGOCIO DE PRODUCCION, FABRICACION O CONSTRUCCION
             </h3>
             <p class="fs-16">“Las personas no son recordadas por el número de veces que fracasan, sino por el número de veces que tienen éxito”. Thomas Alva Edison.</p>
             <p>Te consideras es un apasionado de las operaciones necesarias para modificar las características de las materias primas y así crear un producto que le facilite la vida a las personas, o simplemente les generes una opción más que les satisfaga sus necesidades.</p>
             
            <div  class="collapse" id="factory_production">
            <p>
                            Emprender en Producción, fabricación y manufactura o Construcción es una opción increíble. Si tienes la idea de un producto innovador que le genere un beneficio a las personas pero no sabes cómo llevar a cabo su materialización en Noblidream de apoyamos para que lo descubras.
            </p>
           <p class="black">
              10 EMPRESAS DE PRODUCCION, FABRICACION, MANUFACTURA Y CONSTRUCCION
              <ul class="dreamfs text-left fs201">
                <li>
                  Volkswagen
                </li>
                <li>
                  Toyota
                </li>
                <li>
                  Siemens
                </li>
                <li>
                  Foxconn
                </li>
                <li>
                  Rolex
                </li>
                <li>
                  ICA constructoras
                </li>
                <li>
                  Monsanto
                </li>
                <li>
                  BHP Billiton
                </li>
                <li>
                  Nestle
                </li>
                <li>
                  Boeing
                </li>
              </ul>
            </p>
            <p>CONOCE LAS ACTIVIDADES Y CONOCIMIENTOS QUE TE HACEN MEJOR EMPRENDEDOR ADENTRO</p>
            </div>
                  <a class="btn btn-icon-only black" role="button" data-toggle="collapse" href="#factory_production" aria-expanded="false" aria-controls="collapseExample">
                            DESCUBRE MAS
                  </a>
                  <div><%= link_to "ELEGIR", business_factory_production_path,
                  class: "ui-trigger btn btn-halo2 js-button-hero-get-premium" %></div>
           </div>
           <div class="animated animatedFadeInUp shadowtr bg-white-trans">
             <h3 class="text-klein-purple hdreamfs">
                            EMPRENDER EN AREA MEDICA O FARMACEUTICA
             </h3>
             <p class="fs-16">“La vida es lo que ocurre mientras estamos ocupados haciendo planes”, John Lennon.</p>
             <p>¿Tienes un alto interés en emprender para ayudarle a la gente a sanar y mejorar su salud? ¡Emprender en medicina o farmacéutica es lo tuyo! Desde un sencillo consultorio hasta un Hospital. Desde un medicamento orgánico hasta uno para sanar enfermedades degenerativas.</p>
             
            <div  class="collapse" id="medical">
            <p>
                            La rama de la medicina es una de las areas vitales en el vivir de la humanidad. Grandes descubrimientos médicos que han salvado millones de vidas a lo largo de nuestra historia han surgido de personas con enormes conocimientos y gran voluntad como tú ¡Es el momento de que encuentres como llevar a cabo tu sueño y cambies la vida de millones de personas!
            </p>
            <p class="black">
              10 EMPRESAS MEDICAS Y FARMACEUTICAS
              <ul class="dreamfs text-left fs201">
                <li>
                  Johnson &amp; Johnson
                </li>
                <li>
                  Pfizer
                </li>
                <li>
                  Novartis
                </li>
                <li>
                  Merk &amp; Co
                </li>
                <li>
                  Roche
                </li>
                <li>
                  Pill pack
                </li>
                <li>
                  Counsyl
                </li>
                <li>
                  Juno Therapeutics
                </li>
                <li>
                  Walgreens
                </li>
                <li>
                  Hospital Puerta de hierro
                </li>
              </ul>
            </p>
            <p>CONOCE LAS ACTIVIDADES Y CONOCIMIENTOS QUE TE HACEN MEJOR EMPRENDEDOR ADENTRO</p>
            </div>

                  <a class="btn btn-icon-only black" role="button" data-toggle="collapse" href="#medical" aria-expanded="false" aria-controls="collapseExample">
                            DESCUBRE MAS
                  </a>
                  <div><%= link_to "ELEGIR", business_medical_path,
                  class: "ui-trigger btn btn-halo2 js-button-hero-get-premium" %></div>
           </div>

           <div class="animated animatedFadeInUp shadowtr bg-white-trans">
             <h3 class="text-klein-purple hdreamfs">
                            EMPRENDER EN SOFTWARE
             </h3>
             <p class="fs-16">“Sólo triunfa en el mundo quien se levanta y busca a las circunstancias y las crea si no las encuentra”. George Bernard Shaw.</p>
             <p>Comprendes que estamos en la Era digital y es hora de empezar a vender productos y servicios digitales. Desde Ecommerce, aplicaciones moviles y paginas web hasta crear inteligencias artificiales que automaticen tareas en las empresas.</p>
             <div  class="collapse" id="software">
            <p>
                            Es una de las opciones de emprendimiento con más potencial, ya que emprender en software tiene beneficios como costos bajos y un porcentaje muy alto de escalabilidad, lo que se traduce en llegar hasta lo más alto. Ahora te preguntamos ¿Qué esperas para cumplir tu sueño?
            </p>
           <p class="black">
              10 EMPRESAS DE SOFTWARE
              <ul class="dreamfs text-left fs201">
                <li>
                  Microsoft
                </li>
                <li>
                  Oracle
                </li>
                <li>
                  IBM
                </li>
                <li>
                  Uber
                </li>
                <li>
                  Symantec
                </li>
                <li>
                  EMC
                </li>
                <li>
                  Alibaba
                </li>
                <li>
                  Facebook
                </li>
                <li>
                  Google
                </li>
                <li>
                  Airbnb
                </li>
              </ul>
            </p>
            <p>CONOCE LAS ACTIVIDADES Y CONOCIMIENTOS QUE TE HACEN MEJOR EMPRENDEDOR ADENTRO</p>
            </div>
                  <a class="btn btn-icon-only black" role="button" data-toggle="collapse" href="#software" aria-expanded="false" aria-controls="collapseExample">
                            DESCUBRE MAS
                  </a>
                  <div><%= link_to "ELEGIR", business_software_path,
                  class: "ui-trigger btn btn-halo2 js-button-hero-get-premium" %></div>
           </div>

         </div>
         <div class="col-sm-6 col-sm-pull-6 col-md-6 col-md-pull-6">
         <div class="animated animatedFadeInUp shadowtr bg-white-trans">
             <h3 class="text-klein-purple hdreamfs">
                            EMPRENDER EN ALIMENTOS Y BEBIDAS
             </h3>
             <p class="fs-16">“No nos atrevemos a muchas cosas porque son difíciles, pero son difíciles porque no nos atrevemos a hacerlas”. Lucio Anneo Séneca.</p>
             <p>¿Buscas proporcionar las competencias necesarias para planear, organizar, dirigir y controlar la apertura o reingeniería de cualquier establecimiento de alimentos y bebidas para satisfacer las necesidades del mercado? De ser así estás leyendo la descripción correcta de tu sueño. </p>
             
            <div  class="collapse" id="food_and_beverages">
            <p>
                            Siempre has sido un apasionado de crear nuevos platillos o simplemente mejorarlos en cuanto a sabor y presentación o te encanta la idea de que la gente pruebe esos nuevos “Drinks” que sabes preparar y que estremecerán sus gustos, todo esto en un lugar con un concepto increíble que solo tú podrás crear. Pues motívate deja de leer esto y comienza en conjunto con Noblidream a “Preparar” tu sueño. ¡Haremos todo lo que esté en nuestras manos para que lo logres!.
            </p>
           <p class="black">
              10 EMPRESAS DE ALIMENTOS Y BEBIDAS
              <ul class="dreamfs text-left fs201">
                <li>
                  Bonafont
                </li>
                <li>
                  Artesian Bar (Londres)
                </li>
                <li>
                  Osteria Francescana (ITA)
                </li>
                <li>
                  The Death Rabbit Grocery &amp; Grog (NY)
                </li>
                <li>
                  El Celler de Can Roca (ESP)
                </li>
                <li>
                  Nightjar (Londres)
                </li>
                <li>
                  Eleven Madision Park (EUA)
                </li>
                <li>
                  Employees Only (NY)
                </li>
                <li>
                  Central (Peru)
                </li>
                <li>
                  Noma (Dinamarca)
                </li>
              </ul>
            </p>
            <p>CONOCE LAS ACTIVIDADES Y CONOCIMIENTOS QUE TE HACEN MEJOR EMPRENDEDOR ADENTRO</p>
            </div>
                  <a class="btn btn-icon-only black" role="button" data-toggle="collapse" href="#food_and_beverages" aria-expanded="false" aria-controls="collapseExample">
                            DESCUBRE MAS
                  </a>
                  <div><%= link_to "ELEGIR", business_food_and_beverages_path,
                  class: "ui-trigger btn btn-halo2 js-button-hero-get-premium" %></div>
           </div>
           <div class="animated animatedFadeInUp shadowtr bg-white-trans">
             <h3 class="text-klein-purple hdreamfs">
                            EMPRENDER UNA ORGANIZACION SOCIAL
             </h3>
             <p class="fs-16">“El mejor momento para plantar un árbol fue hace veinte años. El segundo mejor momento es ahora” - proverbio chino.</p>
             <p>Lo que te preocupa es el bienestar de la sociedad en general y tienes una idea o proyecto que puede generar un bien común por la humanidad. Ya sea un proyecto en zonas pequeñas o un proyecto a grande escala en Noblidream nos preocuparemos tanto como tú para llevarlo a cabo y generar ese impacto benéfico en la sociedad. </p>
             
            <div  class="collapse" id="social_org">
            <p>
                            En la actualidad crecen a grande escala las problemáticas sociales, y se necesita gente con iniciativa y fuerte voluntad para llevar a cabo esos grandes cambios que se necesitan ¡Motívate a comenzar ahora y a volverte un líder que de soluciones a estas problemáticas que nos acechan!
            </p>
           <p class="black">
              10 ORGANIZACIONES SOCIALES
              <ul class="dreamfs text-left fs201">
                <li>
                  BRAC
                </li>
                <li>
                  The Wikimedia Foundation
                </li>
                <li>
                  Acumen Found
                </li>
                <li>
                  JW.org
                </li>
                <li>
                  Partners In Health
                </li>
                <li>
                  Ceres
                </li>
                <li>
                  CARE International
                </li>
                <li>
                  Médicins Sans Frontiéres
                </li>
                <li>
                  Cure Violence
                </li>
                <li>
                  Mercy Corps
                </li>
              </ul>
            </p>
            <p>CONOCE LAS ACTIVIDADES Y CONOCIMIENTOS QUE TE HACEN MEJOR EMPRENDEDOR ADENTRO</p>
            </div>
                  <a class="btn btn-icon-only black" role="button" data-toggle="collapse" href="#social_org" aria-expanded="false" aria-controls="collapseExample">
                            DESCUBRE MAS
                  </a>
                  <div><%= link_to "ELEGIR", business_social_org_path,
                  class: "ui-trigger btn btn-halo2 js-button-hero-get-premium" %></div>
           </div>
           <div class="animated animatedFadeInUp shadowtr bg-white-trans">
             <h3 class="text-klein-purple hdreamfs">
                            EMPRENDER UNA EMPRESA COMERCIALIZADORA
             </h3>
             <p class="fs-16">“Una persona que nunca cometió un error, nunca intentó algo nuevo”- Albert Einstein</p>
             <p>Lo que te motiva son los negocios en territorio nacional e internacional no importa de qué se trate tu deseas llevar el producto a los consumidores. Tienes el conocimiento de qué está funcionando actualmente en el comercio y quieres llevar a cabo una entidad que potencialice el consumo de dicho producto y el ingreso de $$$ a tu bolsillo. </p>
             
            <div  class="collapse" id="trading_company">
            <p>
                            Emprender una Comercializadora es una gran opción ya que siempre habrá un cliente potencial para cada producto y tú te volverás ese intermediario que hará que el consumidor obtenga la mejor opción para cubrir sus necesidades. Solo es cuestión de que te decidas y tengas las herramientas necesarias para cumplir tus sueños y comenzar a generar ingresos. Y ¿Qué crees? ¡Estás en el lugar correcto para encontrar lo necesario para empezar¡.
            </p>
           <p class="black">
              TOP 10 EMPRESAS COMERCIALIZADORAS
              <ul class="dreamfs text-left fs201">
                <li>
                  Wal-Mart Stores (EUA)
                </li>
                <li>
                  Costco Wholesale (EUA)
                </li>
                <li>
                  Carrefour (FRA)
                </li>
                <li>
                  Schwarz (ALE)
                </li>
                <li>
                  Tesco (UK)
                </li>
                <li>
                  The Kroger (EUA)
                </li>
                <li>
                  Metro Ag (ALE)
                </li>
                <li>
                  Aldi Einkauf (ALE)
                </li>
                <li>
                  The Home Depot (EUA)
                </li>
                <li>
                  Target Corp (EUA)
                </li>
              </ul>
            </p>
            <p>CONOCE LAS ACTIVIDADES Y CONOCIMIENTOS QUE TE HACEN MEJOR EMPRENDEDOR ADENTRO</p>
            </div>
                  <a class="btn btn-icon-only black" role="button" data-toggle="collapse" href="#trading_company" aria-expanded="false" aria-controls="collapseExample">
                            DESCUBRE MAS
                  </a>
                  <div><%= link_to "ELEGIR", business_trading_company_path,
                  class: "ui-trigger btn btn-halo2 js-button-hero-get-premium" %></div>
           </div>
           <div class="animated animatedFadeInUp shadowtr bg-white-trans">
             <h3 class="text-klein-purple hdreamfs">
                            EMPRENDER UN NEGOCIO DE VIAJES Y/O TURISMO
             </h3>
             <p class="fs-16">“Las personas no son recordadas por el número de veces que fracasan, sino por el número de veces que tienen éxito”. Thomas Alva Edison.</p>
             <p>Eres un apasionado de la cultura y las atracciones turísticas que te rodean así mismo quieres hacer que el mundo entero las conozca y la admire ¿Por qué? ¡Porque son dignas de ser admiradas¡. </p>
             
            <div  class="collapse" id="travel_and_tourism">
            <p>
                            Sabes que puedes crear un Tour por las zonas más aventureras, planificar las vacaciones perfectas, llevar a tus clientes a los lugares más increíbles, hacerlos conocer y reconocer donde el lugar que visitan. ¡Anímate y llévalos más allá! Comienza ahora y date un tour por tus sueños.
            </p>
           <p class="black">
              10 EMPRESAS DE VIAJES Y TURISMO
              <ul class="dreamfs text-left fs201">
                <li>
                  Expedia
                </li>
                <li>
                  Travelocity
                </li>
                <li>
                  Lastminute.com
                </li>
                <li>
                  Viajes el Corte Inglés
                </li>
                <li>
                  Pullmantur
                </li>
                <li>
                  Despegar.com
                </li>
                <li>
                  Emerican Express
                </li>
                <li>
                  TUI AG
                </li>
                <li>
                  Grupo Marsans
                </li>
                <li>
                  Ebookers.com
                </li>
              </ul>
            </p>
            <p>CONOCE LAS ACTIVIDADES Y CONOCIMIENTOS QUE TE HACEN MEJOR EMPRENDEDOR ADENTRO</p>
            </div>
                  <a class="btn btn-icon-only black" role="button" data-toggle="collapse" href="#travel_and_tourism" aria-expanded="false" aria-controls="collapseExample">
                            DESCUBRE MAS
                  </a>
                  <div><%= link_to "ELEGIR", business_travel_and_tourism_path,
                  class: "ui-trigger btn btn-halo2 js-button-hero-get-premium" %></div>
           </div>
           <div class="animated animatedFadeInUp shadowtr bg-white-trans">
             <h3 class="text-klein-purple hdreamfs">
                            EMPRENDER EN HARDWARE
             </h3>
             <p class="fs-16">“El éxito no es para los que creen que lo pueden hacer, sino para los que lo hacen”. Anónimo.</p>
             <p>Te encanta el Internet de las cosas, la robotica y la electronica. Es hora de empezar a armar una empresa de ello.</p>
             
            <div  class="collapse" id="hardware">
            <p>
                            El futuro es ahora, convéncete de materializar esa idea que sabes que facilitara las tareas físicas de cualquier sistema informático, que brindara mayor eficiencia a la hora de realizar una actividad en especifico ya sea semiautomatizandola o automatizándola completamente. ¡Convéncete y cambia la manera en que se hacen las cosas!
            </p>
           <p class="black">
              10 EMPRESAS DE HARDWARE
              <ul class="dreamfs text-left fs201">
                <li>
                  SPACE X
                </li>
                <li>
                  General Electric
                </li>
                <li>
                  Apple
                </li>
                <li>
                  HP
                </li>
                <li>
                  Microsoft
                </li>
                <li>
                  Samsung
                </li>
                <li>
                  Sony
                </li>
                <li>
                  Boston Dynamics
                </li>
                <li>
                  Tesla
                </li>
                <li>
                  IRobot
                </li>
              </ul>
            </p>
            <p>CONOCE LAS ACTIVIDADES Y CONOCIMIENTOS QUE TE HACEN MEJOR EMPRENDEDOR ADENTRO</p>
            </div>
                  <a class="btn btn-icon-only black" role="button" data-toggle="collapse" href="#hardware" aria-expanded="false" aria-controls="collapseExample">
                            DESCUBRE MAS
                  </a>
                  <div><%= link_to "ELEGIR", business_hardware_path,
                  class: "ui-trigger btn btn-halo2 js-button-hero-get-premium" %></div>
           </div>

         </div>
        </div>

       </div>
    </div>
   </div>
<footer class="footer footer-default footer-highlight-aquamarine text-center">
  <div class="container">
    <p class="text-white fs-24">Tu sueño de emprendimiento no se encuentra aqui o tienes un sueño especial de negocios. Agregalo abajo.</p>
    <%= link_to "AGREGAR SUEÑO", pages_add_dream_path,
              class: "btn btn-solid3 js-goto-signup js-button-hero-get-free" %>
  </div>

</footer>
