<script src="https://kit.fontawesome.com/916442ede6.js" crossorigin="anonymous"></script>
  <div class="bg-main-travel">
          
      </div>

  <div class="jumbotron">
    <div class="container altura">
      <div class="row">

       <section class="bg-bluetravel">
        <h2 class="black animated animatedFadeInUp">
                        Viajar por el mundo
          </h2>
          <p>“El mundo es un libro y aquellos que no viajan solo leen una página”. – Agustín Povua</p>
          <p>Viajar por el mundo es un gran sueño y puedes viajar realmente por los 237 paises y territorios del mundo pero tal vez solo desees conocer ciertas partes</p>
         </section>
        <div class="col-md-12">
         <div class="col-sm-6 col-sm-push-6 col-md-6 col-md-push-6">
           <div class="animated animatedFadeInUp shadowtr bg-bluetravel">
             <h3 class="text-klein-purple hdreamfs">
                            VIAJAR POR EUROPA
             </h3>
             <p class="fs-16">“Viajar es un ejercicio con consecuencias fatales para los prejuicios, la intolerancia y la estrechez de mente”. – Mark Twain</p>
             <p>Tienes 49 paises oficiales, 8 paises no oficialmente reconocidos, 9 territorios en disputa y 33 territorios dependientes que visitar </p>

            <div  class="collapse" id="europaspre">
            <p>
                            Pasear en la torre Eiffel de noche, visitar el coliseo Romano y los canales de Venecia, Visitar el palacio de Buckingham
            </p>
            <p class="black">
            	TOP 10 CIUDADES MAS VISITADAS
            	<ul class="dreamfs text-left fs201">
            		<li>
            			Paris, Francia
            		</li>
            		<li>
            			Londres, Inglaterra
            		</li>
            		<li>
            			Berlin, Alemania
            		</li>
            		<li>
            			Roma, Italia
            		</li>
            		<li>
            			Barcelona, España
            		</li>
            		<li>
            			Madrid, España
            		</li>
            		<li>
            			Estambul, Turquia
            		</li>
            		<li>
            			Praga, Republica Checa
            		</li>
            		<li>
            			Viena, Austria
            		</li>
            		<li>
            			Munich, Alemania
            		</li>
            	</ul>
            </p>
            <p>CONOCE TODAS LAS OPCIONES DE PARA CONOCER EUROPA ADENTRO</p>
            </div>
                  <a class="btn btn-icon-only black" role="button" data-toggle="collapse" href="#europaspre" aria-expanded="false" aria-controls="collapseExample">
                            LEER MAS
                  </a>
                  <div><%= link_to "ELEGIR", travel_europe_path,
                  class: "ui-trigger btn btn-halo2 js-button-hero-get-premium" %></div>
           </div>
<div class="animated animatedFadeInUp shadowtr bg-bluetravel">
             <h3 class="text-klein-purple hdreamfs">
                            VIAJAR POR AMERICA
             </h3>
             <p class="fs-16">“Nuestro destino nunca es un lugar, sino una nueva forma de ver las cosas”. – Henry Miller</p>
             <p>Tienes 35 paises oficiales, 18 territorios en disputa y 15 territorios dependientes que visitar </p>
            
            <div  class="collapse" id="americaspre">
            <p>
                            Las playas caribeñas, los parques nacionales en el amazonas, visitar DisneyWorld, las heladas cataratas del Niagara y ver las interminables torres de Nueva York
            </p>
           <p class="black">
              TOP 10 CIUDADES MAS VISITADAS
              <ul class="dreamfs text-left fs201">
                <li>
                  Cancun, Mexico
                </li>
                <li>
                  Nueva York, Estados Unidos
                </li>
                <li>
                  Miami, Estados Unidos
                </li>
                <li>
                  Toronto, Canada
                </li>
                <li>
                  Las Vegas, Estados Unidos
                </li>
                <li>
                  San Francisco, Estados Unidos
                </li>
                <li>
                  Punta Cana, Republica Dominicana
                </li>
                <li>
                  Rio de Janeiro, Brasil
                </li>
                <li>
                  Buenos Aires, Argentina
                </li>
                <li>
                  Lima, Peru
                </li>
              </ul>
            </p>
            <p>CONOCE TODAS LAS OPCIONES DE PARA CONOCER AMERICA ADENTRO</p>
            </div>
                  <a class="btn btn-icon-only black" role="button" data-toggle="collapse" href="#americaspre" aria-expanded="false" aria-controls="collapseExample">
                            LEER MAS
                  </a>
                  <div><%= link_to "ELEGIR", travel_america_path,
                  class: "ui-trigger btn btn-halo2 js-button-hero-get-premium" %></div>
           </div>
           <div class="animated animatedFadeInUp shadowtr bg-bluetravel">
             <h3 class="text-klein-purple hdreamfs">
                            VIAJAR POR AFRICA
             </h3>
             <p class="fs-16">“Un viaje de mil millas ha de comenzar con un simple paso” – Lao Tzu</p>
             <p>Tienes 54 paises oficiales, 2 paises no oficialmente reconocidos, 8 territorios en disputa y 3 territorios dependientes que visitar </p>
             
            <div  class="collapse" id="africaspre">
            <p>
                            Las cataratas Victoria, el parque nacional del Serengueti, el valle de los reyes, el monte kilimanjaro, la isla Seychelles
            </p>
           <p class="black">
              TOP 10 CIUDADES MAS VISITADAS
              <ul class="dreamfs text-left fs201">
                <li>
                  Johannesburgo, Sudáfrica
                </li>
                <li>
                  Ciudad del Cabo, Sudáfrica
                </li>
                <li>
                  El Cairo, Egipto
                </li>
                <li>
                  Lagos, Nigeria
                </li>
                <li>
                  Casablanca, Marruecos
                </li>
                <li>
                  Durban, Sudáfrica
                </li>
                <li>
                  Acra, Ghana
                </li>
                <li>
                  Nairobi, Kenia
                </li>
                <li>
                  Dakar, Senegal
                </li>
                <li>
                  Entebbe, Uganda
                </li>
              </ul>
            </p>
            <p>CONOCE TODAS LAS OPCIONES DE PARA CONOCER AFRICA ADENTRO</p>
            </div>
                  <a class="btn btn-icon-only black" role="button" data-toggle="collapse" href="#africaspre" aria-expanded="false" aria-controls="collapseExample">
                            LEER MAS
                  </a>
                  <div><%= link_to "ELEGIR", travel_africa_path,
                  class: "ui-trigger btn btn-halo2 js-button-hero-get-premium" %></div>
           </div>

         </div>
         <div class="col-sm-6 col-sm-pull-6 col-md-6 col-md-pull-6">
            <div class="animated animatedFadeInUp shadowtr bg-bluetravel">
             <h3 class="text-klein-purple hdreamfs">
                            VIAJAR POR ASIA
             </h3>
             <p class="fs-16"> "Viajar es imprescindible y la sed de viaje, un síntoma neto de inteligencia"- Enrique Jardiel Poncela </p>
             <p>Tienes 44 paises oficiales, 5 paises no oficialmente reconocidos, 10 territorios en disputa y 3 territorios dependientes que visitar</p>
             <div  class="collapse" id="asiaspre">
            <p>
                            Ver a los increible monjes tibetanos y su estilo de vida, viajar en la espalda de un elefente en la India, conocer los increibles paisajes de los cerezales japoneses y sus templos, conocer Singapur y su increible y tecnologica ciudad, Ver la enorme muralla China
            </p>
           <p class="black">
              TOP 10 CIUDADES MAS VISITADAS
              <ul class="dreamfs text-left fs201">
                <li>
                  Hong kong, China
                </li>
                <li>
                  Bangkok, Tailandia
                </li>
                <li>
                  Singapur, Singapur
                </li>
                <li>
                  Macao, China
                </li>
                <li>
                  Kuala Lumpur, Malasia
                </li>
                <li>
                  Shenzen, China
                </li>
                <li>
                  Phuket, Tailandia
                </li>
                <li>
                  Tokyo, Japon
                </li>
                <li>
                  Taipei, Taiwan
                </li>
                <li>
                  Seul, Corea del sur
                </li>
              </ul>
            </p>
            <p>CONOCE TODAS LAS OPCIONES DE PARA CONOCER ASIA ADENTRO</p>
            </div>
                  <a class="btn btn-icon-only black" role="button" data-toggle="collapse" href="#asiaspre" aria-expanded="false" aria-controls="collapseExample">
                            LEER MAS
                  </a>
                  <div><%= link_to "ELEGIR", travel_asia_path,
                  class: "ui-trigger btn btn-halo2 js-button-hero-get-premium" %></div>
           </div>
         <div class="animated animatedFadeInUp shadowtr bg-bluetravel">
             <h3 class="text-klein-purple hdreamfs">
                            VIAJAR POR OCEANIA
             </h3>
             <p class="fs-16"> "Una inversión en un viaje es una inversión en ti mismo" -Matthew Karsten. </p>
             <p>Tienes 14 paises oficiales, 1 territorios en disputa y 9 territorios dependientes que visitar</p>
             
            <div  class="collapse" id="oceaniaspre">
            <p>
                            Las impresionantes islas Fiji, la gran barrera de coral, la isla de navidad, el lago hiller, ir al parque nacional Karijini, conocer bora bora
            </p>
           <p class="black">
              TOP 10 CIUDADES MAS VISITADAS
              <ul class="dreamfs text-left fs201">
                <li>
                  Auckland, Nueva Zelanda
                </li>
                <li>
                  Port vila, Vanuatu
                </li>
                <li>
                  Sidney, Australia
                </li>
                <li>
                  Honiara, Islas Salomon
                </li>
                <li>
                  Melbourne, Australia
                </li>
                <li>
                  Suva, Fiji
                </li>
                <li>
                  Nuku’alofa, Tonga
                </li>
                <li>
                  Christchurch, Nueva Zelanda
                </li>
                <li>
                  Apia, Samoa
                </li>
                <li>
                  Cairns, Australia
                </li>
              </ul>
            </p>
            <p>CONOCE TODAS LAS OPCIONES DE PARA CONOCER OCEANIA ADENTRO</p>
            </div>
                  <a class="btn btn-icon-only black" role="button" data-toggle="collapse" href="#oceaniaspre" aria-expanded="false" aria-controls="collapseExample">
                            LEER MAS
                  </a>
                  <div><%= link_to "ELEGIR", travel_oceania_path,
                  class: "ui-trigger btn btn-halo2 js-button-hero-get-premium" %></div>
           </div>
         <div class="animated animatedFadeInUp shadowtr bg-bluetravel">
             <h3 class="text-klein-purple hdreamfs">
                            VIAJAR A TODO EL MUNDO
             </h3>
             <p class="fs-16"> "Vayas a donde vayas, ve con todo tu corazón" -Confucio.</p>
             <p>Tienes 196 paises oficiales, 15 paises no oficialmente reconocidos y 63 territorios dependientes que visitar</p>
             
            <div  class="collapse" id="worldspre">
            <p>
                            No quieres ser un turista, tu meta es ser un ciudadano del mundo. Logra una hazaña que pocas personas han logrado. Sera un sueño historico
            </p>
            <p>CONOCE TODAS LAS OPCIONES DE PARA VIAJAR POR EL MUNDO</p>
            </div>

                  <a class="btn btn-icon-only black" role="button" data-toggle="collapse" href="#worldspre" aria-expanded="false" aria-controls="collapseExample">
                            LEER MAS
                  </a>
           <div><%= link_to "ELEGIR", travel_world_path(dream_id: @dream.id), class: "ui-trigger btn btn-halo2 js-button-hero-get-premium" %></div>
           </div>

         </div>
        </div>

       </div>
    </div>
   </div>
<footer class="footer footer-default footer-highlight-aquamarine text-center">
  <div class="container">
    <p class="text-white fs-24">Tienes un sueño de viajar que no encuentras aqui o algun sueño especial de viajar. Agregalo abajo.</p>
    <%= link_to "AGREGAR SUEÑO", new_add_dream_path,
              class: "btn btn-solid3 js-goto-signup js-button-hero-get-free" %>
  </div>

</footer>