<script src="https://kit.fontawesome.com/916442ede6.js" crossorigin="anonymous"></script>
<div class="bg-main-espiritualidad">
          
      </div>


<div class="jumbotron">
    <div class="container altura bg-white-trans">
      <div class="row">

       <section class="altura">
       <div>
        <h2 class="nblue animated animatedFadeInUp hsdreamfs">
                        DAR MAS QUE RECIBIR 
          </h2>
          <p>INDICACIONES: "Hay mas felicidad en dar que recibir" una de las frases celebres mas populares y estas a punto de experimentar su veracidad. Hay empresas sociales y organizaciones sociales intentando solucionar problemas graves en todo el mundo y necesitan tu ayuda para lograr cambiar el mundo y erradicar la pobreza, problemas ecologicas la desigualdad, el maltrato, problemas alimentarios, epidemias y enfermedades peligrosas, etc. Si estas aqui ya eres parte del cambio.</p>
          </div>

          <div class="ui-153">

          <div class="col-md-12">
          
            <!-- Item -->
            <div class="ui-item">
              <!-- Heading -->
              <div class="ui-head">
                <!-- Heading -->
                <h4 class="fs-18">¿Por que decidiste escoger este sueño</h4>
              </div>
              <!-- Body -->
                    <div class="col-md-12 col-sm-12  col-xs-12 col-padd">
                      <!-- Body item -->
                      <div class="ui-bitem clearfix">
                        <textarea class="form-control" id="historia" name="historia"></textarea>
                  </div>
              </div>
             
            </div>
          
          </div>
            
          </div>

       </section>

    <div>
       <div>
      <h3>PASO 1: AYUDA</h3>
      <p>Se te presentan a continuacion situaciones actuales en las que se necesita tu apoyo, selecciona en los que te gustaria ayudar.</p>
        </div>
<div class="ui-159">

    
          <!-- All -->
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'cambio_climatico.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>CAMBIO CLIMATICO</h6>
                                <h6 class="text-white">El mundo esta sufriendo una metastasis, necesitamos curarlo.</h6>
                                <!-- UI Content Hover -->   <!-- Links -->
                                <div class="ui-hover">
                <div class="ui-links">
                    <i class="fa fa-check fa-3x text-white"></i>
                </div>
                                </div>
                            </div>

                </div>

            </div>
            
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'cuidado_agua.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>CUIDADO DEL AGUA</h6>
                                <h6 class="text-white">El problema es grave, ayudemos a encontrar la solucion.</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                             <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                               </div>
                            </div>
                </div>
            </div>
            
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'cuidado_de_animales_en_peligro_de_extincion.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>CUIDADO/PROTECCION DE ANIMALES EN PELIGRO DE EXTINCION</h6>
                                <h6 class="text-white">Por que los amamos y merecen nuestro repeto y cariño.</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            
            
            
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'lucha_contra_pobreza.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>LUCHA CONTRA LA POBREZA</h6>
                                <h6 class="text-white">Ayudemos a que las personas tengan oportunidades.</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'osc_familiar.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>ORGANIZACIONES FAMILIARES</h6>
                                <h6 class="text-white">Los valores deben ser pulidos, las familias unidas.</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'agricultura_sustentable.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>AGRICULTURA SUSTENTABLE</h6>
                                <h6 class="text-white">Cada dia nos deja menos campos y mas poblacion.</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'ayuda_a_inmigrantes.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>AYUDA A INMIGRANTES</h6>
                                <h6 class="text-white">Necesitamos empezar a dar soluciones a los problemas migratorios.</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'ayuda_a_refugiados.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>AYUDA A REFUGIADOS</h6>
                                <h6 class="text-white">La guerra deja a millones sin casa, comida y esperanza.</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'energia_sustentable.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>ENERGIA SUSTENTABLE</h6>
                                <h6 class="text-white">Hacer que las energias verdes lleguen al mundo y rapido.</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'fabricas_sustentables.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>FABRICACION SUSTENTABLE</h6>
                                <h6 class="text-white">Encontrar el punto perfecto de produccion y ecologia.</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'inculcacion_de_bondad_y_amabilidad.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>INCULCACION DE BONDAD Y AMABILIDAD</h6>
                                <h6 class="text-white">Los valores que haran el cambio en cada individuo.</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'reforestacion.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>REFORESTACION</h6>
                                <h6 class="text-white">La recuperacion de nuestros bosques y biodiversidad.</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'rezago_educativo.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>REZAGO EDUCATIVO</h6>
                                <h6 class="text-white">Creacion de metodos mas efectivos de estudio.</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'rezago_tecnologico.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>REZAGO TECNOLOGICO</h6>
                                <h6 class="text-white">Las comunidades sin tecnologia son mas pobres y menos interesados por la ecologia.</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'ayuda_medica.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>AYUDA MEDICA</h6>
                                <h6 class="text-white">Lucha contra las enfermedades.</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <p>Se te enviaran nombres de empresas y organizaciones sociales de acuerdo a tu seleccion.</p>

            <p>Muy bien has terminado la seleccion. Ahora solo falta que envies tu seleccion.</p>
            <%= link_to "ENVIAR", travel_steps_travel_path,
            class: "btn btn-solid2 js-goto-signup js-button-hero-get-free" %>
            
              
    </div>




<!-- END OF THE THIRD SECTION "PASO 3" BEGIN OF THE EXPERT TRAVELER DREAM SECTION "SELECT ALL" -->

<div class="espacio">
        <div>
          <h3>
            SUEÑO ESPIRITUALIDAD MAXIMA
          </h3>
          <p>Vivir todos los tipos de experiencias espirituales que se encuentran en el mundo y lograr encontrar la forma de espiritualidad definitiva.</p>
        </div>
        <div>
          <div class="ui-all text-center">
                <a href="#" class="all btn btn-red">SELECCIONAR</a> &nbsp; <a href="#" class="none btn btn-lblue">DESELECCIONAR</a>
          </div>
            <p>No olvides Enviar al terminar tu seleccion.</p>
        </div>
      </div>  

    <script>
      $(document).ready(function(){
      
        <!-- Select and deselect on click -->
        $(".ui-i4 .ui-item").click(function(){
          if($(this).parent().hasClass("active")){
            $(this).parent().removeClass("active");
          }
          else{
            $(this).parent().addClass("active");
          }
        });
        
        <!-- Select all -->
        $(".ui-all .all").click(function(e){
          e.preventDefault();
          $(".ui-i4").removeClass("active").addClass("active");
        });
        
        <!-- Select none -->
        $(".ui-all .none").click(function(e){
          e.preventDefault();
          $(".ui-i4").removeClass("active");
        });

        
      });

    </script>

    <script>
      $(document).ready(function(){
      
        <!-- Select and deselect on click -->
        $(".ui-i3 .ui-item").click(function(){
          if($(this).parent().hasClass("active")){
            $(this).parent().removeClass("active");
          }
          else{
            $(this).parent().addClass("active");
          }
        });
        
        <!-- Select all -->
        $(".ui-all .all").click(function(e){
          e.preventDefault();
          $(".ui-i3").removeClass("active").addClass("active");
        });
        
        <!-- Select none -->
        $(".ui-all .none").click(function(e){
          e.preventDefault();
          $(".ui-i3").removeClass("active");
        });

        
      });

    </script>


      </div>
    </div>
   </div>