  <div class="bg-main">
  <!--
          <div style="display: block; background-image: url(&quot;//d2c87l0yth4zbw-2.global.ssl.fastly.net/i/home/bg-albums.png&quot;);" class="bg-main-img lazy lazy-no-small" data-original="//d2c87l0yth4zbw-2.global.ssl.fastly.net/i/home/bg-albums.png"></div> -->
      </div>
<div class="jumbotron jumbotron-albums jumbotron-subscriptions">
<div class="jumbotron-bg lazy lazy-no-small" style="background: url(../i/home/noise.png),linear-gradient(50deg,#010609 0,#1967bf 100%);" data-original=""></div>
  <div class="container">
   <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-10 col-lg-12">
              <div class="animated animatedFadeInUp">
                <h2>
                  <span class="text-white">
                      REGISTRO
                  </span>
                </h2>
              </div>
              <div class="animated animatedFadeInUp">
                <p class="text-white">
            Noblidream es nuestra aportación para ayudar a la humanidad a que llegue a ser algo de lo que todos estemos orgullosos de ser parte, con la esperanza de seguir moviendo a todos hacia nuestro mejor futuro. Podras cumplir cualquier cosa que hayas pensado alguna vez e incluso mejoraras tus actividades diarias.
            Gracias por confiar en nosotros y a continuacion te presentamos nuestra vision. 
                </p>
              </div>
            </div>
          </div>
          </div>
      </div>
      </div>


<div class="jumbotron">
    <div class="container altura bg-white">
      <div class="row">


<div style="max-width: 100%;
margin: 20px auto;
border: 1px solid #ddd;
box-shadow: 2px 2px 0px 1px rgba(0,0,0,0.07);
background: #fff;
border-radius: 4px;">
        <div>
          <h3> REGISTRATE</h3>
          <p>Regístrate y descubre cómo alcanzar tus sueños y <b>metas en la vida</b>, unete a nuestra comunidad de soñadores y aprende a definir y conseguir tus objetivos. No dejes que tus sueños se queden en el aire: crea tu plan de acción y <b>cumple tus metas.</b></p>
        </div>
        <div class="ui-153">

<div class="register-custom">
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-horizontal registrationForm' }) do |f| %>
  <%= f.error_notification %>
  <div class="panel-body">

        <div class="form-group">
            <label class="col-md-4 control-label fs-16">Nombre(s) *</label>
            <div class="no-padding col-md-6">
             <%= f.input :name, 
                required: true,
                input_html: { autocomplete: "name", class: 'form-control' }, 
                placeholder: 'Nombre(s)', label: false %>
            </div>
				</div>
        <div class="form-group">
            <label class="col-md-4 control-label fs-16">Apellido Paterno *</label>
            <div class="no-padding col-md-6">
             <%= f.input :surname, 
                required: true,
                input_html: { autocomplete: "surname", class: 'form-control' }, 
                placeholder: 'Apellido Paterno', label: false %>
            </div>
				</div>
        <div class="form-group">
            <label class="col-md-4 control-label fs-16">Apellido Materno</label>
            <div class="no-padding col-md-6">
             <%= f.input :mother_surname, 
                required: true,
                input_html: { autocomplete: "mother_surname", class: 'form-control' }, 
                placeholder: 'Apellido Materno', label: false %>
            </div>
				</div>
        <div class="form-group">
            <label class="col-md-4 control-label fs-16">Fecha de nacimiento *</label>
            <div class="no-padding col-md-6">
             <%= f.input :birthdate, 
                required: true,
                input_html: { type: "date", class: 'form-control' }, 
                placeholder: 'dd-mm-aaaa', label: false %>
            </div>
				</div>
        <div class="form-group">
            <label class="col-md-4 control-label fs-16">Teléfono *</label>
            <div class="no-padding col-md-6">
             <%= f.input :phone, 
                required: true,
                input_html: { autocomplete: "phone", class: 'form-control' }, 
                placeholder: '(XX) XXXXXXXX', label: false %>
            </div>
				</div>
        <div class="form-group">
            <label class="col-md-4 control-label fs-16">Domicilio *</label>
            <div class="no-padding col-md-6">
             <%= f.input :address, 
                required: true,
                input_html: { autocomplete: "address", class: 'form-control' }, label: false %>
            </div>
				</div>
        <div class="form-group">
            <label class="col-md-4 control-label fs-16">Número Exterior *</label>
            <div class="no-padding col-md-6">
             <%= f.input :exterior_number, 
                required: true,
                input_html: { autocomplete: "exterior_number", class: 'form-control' }, label: false %>
            </div>
				</div>
        <div class="form-group">
            <label class="col-md-4 control-label fs-16">Número Interior</label>
            <div class="no-padding col-md-6">
             <%= f.input :interior_number, 
                required: true,
                input_html: { autocomplete: "interior_number", class: 'form-control' }, label: false %>
            </div>
				</div>
        <div class="form-group">
            <label class="col-md-4 control-label fs-16">Código Postal</label>
            <div class="no-padding col-md-6">
             <%= f.input :zip_code, 
                required: true,
                input_html: { autocomplete: "zip_code", class: 'form-control' }, label: false %>
            </div>
				</div>
        <div class="form-group">
            <label class="col-md-4 control-label fs-16">Nombre De Usuario *</label>
            <div class="no-padding col-md-6">
             <%= f.input :username, 
                required: true,
                input_html: { autocomplete: "username", class: 'form-control' }, 
                placeholder: 'Elige un nombre de usuario', label: false %>
            </div>
				</div>
        <div class="form-group">
            <label class="col-md-4 control-label fs-16">Correo Electrónico *</label>
            <div class="no-padding col-md-6">
             <%= f.input :email, 
                required: true,
                input_html: { autocomplete: "email", class: 'form-control' }, 
                placeholder: 'nombre@email.com', label: false %>
            </div>
				</div>
        <div class="form-group">
            <label class="col-md-4 control-label fs-16">Contraseña *</label>
            <div class="no-padding col-md-6">
             <%= f.input :password, 
                required: true,
                input_html: { autocomplete: "new-password", class: 'form-control' }, 
                placeholder: ("#{@minimum_password_length} caracteres minimos" if @minimum_password_length), label: false %>
            </div>
				</div>
        <div class="form-group">
            <label class="col-md-4 control-label fs-16">Confirmar Contraseña *</label>
            <div class="no-padding col-md-6">
             <%= f.input :password_confirmation, 
                required: true,
                input_html: { autocomplete: "new-password", class: 'form-control' }, label: false %>
            </div>
				</div>

  <div class="form-actions">
    <%= f.button :submit, "Registrarte" %>
  </div>
  <br>
<% end %>

<%= render "devise/shared/links" %>

</div> 
</div>      

        </div>
</div>


      </div>
    </div>
</div>
</div>
