<div class="bg-main-friends">
          
      </div>


<div class="jumbotron">
    <div class="container altura bg-white-trans">
      <div class="row">

       <section class="altura">
       <div>
        <h2 class="nblue animated animatedFadeInUp hsdreamfs">
                        ALEJARSE DE LAS MALAS COMPAÑIAS
          </h2>
          <p>INDICACIONES: Todas las personas se llegan a sentir solas en ciertos momentos, pero las que tienen grandes amigos se les pasa a los segundos. Aqui encontraras a tus nuevos mejores amigos y a la vez ellos encontraran un mejor amigo en ti al finalizar el sueño. Sigue las instrucciones y llena como se te indica.</p>
          </div>
       </section>

    <div>
       <div>
      <h3>PASO 1: DETECTAR LAS MALAS COMPAÑIAS</h3>
      <p>Puede que consideres que sabes detectar bien a las malas compañias, pero siempre hay algunos puntos en los que fallamos sin darnos cuentas y algnas quedan sin detectar. Debes pensar en cada uno de tus conocidos y amigos y contestar los siguientes 2 puntos para detectar las malas amistades.</p>
        </div>

<!-- BEGINING OF MOSTRAR MAS WHERE IT SHOWS ALL THE NON-COMMON FOR TOURISM COUNTRIES -->
      <div>
             <!-- UI # -->
        <div class="ui-153">
         <p>Contesta las siguientes preguntas pero antes de hacerlas solo ten en mente a una sola persona, de lo contrario pofrias confundirte al pensar en muchas personas al contestar o no ser honesto contigo mismo. </p>

         <div class="col-md-4">
          
            <!-- Item -->
            <div class="ui-item">
              <!-- Heading -->
              <div class="ui-head">
                <!-- Heading -->
                <h4 class="fs-18">1.-¿Me siento bien cuando estoy convivendo con el/ella?</h4>
              </div>
              <!-- Body -->
                    <div class="col-md-12 col-sm-12  col-xs-12 col-padd">
                      <!-- Body item -->
                      <div class="ui-bitem clearfix">
                        <textarea class="form-control" id="historia" name="historia"></textarea>
                  </div>
              </div>
             
            </div>
          
          </div>

          <div class="col-md-4">
          
            <!-- Item -->
            <div class="ui-item">
              <!-- Heading -->
              <div class="ui-head">
                <!-- Heading -->
                <h4 class="fs-18">2.-¿Algunos de los temas y conversaciones que tenemos comunmente son dañinos o negativos?</h4>
              </div>
              <!-- Body -->
                    <div class="col-md-12 col-sm-12  col-xs-12 col-padd">
                      <!-- Body item -->
                      <div class="ui-bitem clearfix">
                        <textarea class="form-control" id="historia" name="historia"></textarea>
                  </div>
              </div>
             
            </div>          
          </div>

          <div class="col-md-4">
          
            <!-- Item -->
            <div class="ui-item">
              <!-- Heading -->
              <div class="ui-head">
                <!-- Heading -->
                <h4 class="fs-18">3.-¿Tienen algun vicio y siempre me andan invitando a tenerlo tambien?</h4>
              </div>
              <!-- Body -->
                    <div class="col-md-12 col-sm-12  col-xs-12 col-padd">
                      <!-- Body item -->
                      <div class="ui-bitem clearfix">
                        <textarea class="form-control" id="historia" name="historia"></textarea>
                  </div>
              </div>
             
            </div>
          
          </div>
          <div class="col-md-6">
          
            <!-- Item -->
            <div class="ui-item">
              <!-- Heading -->
              <div class="ui-head">
                <!-- Heading -->
                <h4 class="fs-18">4.-¿Siempre me esta intentando mandar?</h4>
              </div>
              <!-- Body -->
                    <div class="col-md-12 col-sm-12  col-xs-12 col-padd">
                      <!-- Body item -->
                      <div class="ui-bitem clearfix">
                        <textarea class="form-control" id="historia" name="historia"></textarea>
                  </div>
              </div>
             
            </div>
          
          </div>
          <div class="col-md-6">
          
            <!-- Item -->
            <div class="ui-item">
              <!-- Heading -->
              <div class="ui-head">
                <!-- Heading -->
                <h4 class="fs-18">5.-¿Son crueles con los demas y faltan mucho al respeto a las personas que los rodean?</h4>
              </div>
              <!-- Body -->
                    <div class="col-md-12 col-sm-12  col-xs-12 col-padd">
                      <!-- Body item -->
                      <div class="ui-bitem clearfix">
                        <textarea class="form-control" id="historia" name="historia"></textarea>
                  </div>
              </div>
             
            </div>
          
          </div>
          <div class="col-md-6">
          
            <!-- Item -->
            <div class="ui-item">
              <!-- Heading -->
              <div class="ui-head">
                <!-- Heading -->
                <h4 class="fs-18">6.-¿Te hacen sentir mal o menosprecian tus ideas y opiniones?</h4>
              </div>
              <!-- Body -->
                    <div class="col-md-12 col-sm-12  col-xs-12 col-padd">
                      <!-- Body item -->
                      <div class="ui-bitem clearfix">
                        <textarea class="form-control" id="historia" name="historia"></textarea>
                  </div>
              </div>
             
            </div>
          
          </div>
          <div class="col-md-6">
          
            <!-- Item -->
            <div class="ui-item">
              <!-- Heading -->
              <div class="ui-head">
                <!-- Heading -->
                <h4 class="fs-18">7.-¿Tienen buenas metas para el futuro o se preocupan mas por el dinero y otras cosas?</h4>
              </div>
              <!-- Body -->
                    <div class="col-md-12 col-sm-12  col-xs-12 col-padd">
                      <!-- Body item -->
                      <div class="ui-bitem clearfix">
                        <textarea class="form-control" id="historia" name="historia"></textarea>
                  </div>
              </div>
             
            </div>
          
          </div>



            </div>
<!-- END OF THE FIRST PATH -->
          <div class="ui-159">
          <p>Las malas compañias nos hacen sentir algunas emociones negativas como las siguientes, si alguna aplica contigo cuando estas con esa persona seleccionalo.</p>
          
          <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'agotado.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>AGOTADO</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'atrapado.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>ATRAPADO</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'culpabilidad.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>CULPABLE POR ALGO MALO QUE HICISTE EN SU COMPAÑIA</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'estres.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>ESTRESADO</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'manipulacion.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>MANIPULADO</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'sentirse_solo_o_sin_apoyo.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>SENTIRSE SOLO O SIN APOYO DE SU PARTE</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

          </div>
        
            </div>
      </div>
<!-- END OF THE FIRST SECTION "PASO 1" BEGIN OF THE SECOND SECTION "PASO 2" -->
      
      
<div>
        <div>
        
            <h3>
                PASO 2: TOMAR ACCION
            </h3>
            <p>Regularmente las personalidades identicas o similares a la nuestra es con las que desarrollamos confianza mas pronto, puesto que nos identificamos, sin embargo intenta que sean diferentes a la tuya para que desarrolles la capacidad e inteligencia de socializar con todas las personas. Sobre todo para las personalidades mas introvertidas que no les gusta socializar.</p>

        </div>

        <div class="ui-153">

       <div class="col-md-12">
          
            <!-- Item -->
            <div class="ui-item2">
              <!-- Heading -->
              <div class="ui-head">
                <!-- Heading -->
                <h4 class="fs-18">Comenta abajo el nombre de la persona en la que pensaste al contestar las partes anteriores.</h4>
              </div>
              <!-- Body -->
                    <div class="col-md-12 col-sm-12  col-xs-12 col-padd">
                      <!-- Body item -->
                      <div class="ui-bitem clearfix">
                        <textarea class="form-control" id="historia" name="historia"></textarea>
                  </div>
              </div>
             
            </div>
          
          </div>

      
      <p>Muy bien has terminado la seleccion. Ahora solo falta que envies tu seleccion.</p>
    </div>
  <a href="http://localhost:3000/travel/steps_travel" class="btn btn-solid js-goto-signup js-button-hero-get-free">
            ENVIAR
    </a>

</div>


<!-- END OF THE THIRD SECTION "PASO 3" BEGIN OF THE EXPERT TRAVELER DREAM SECTION "SELECT ALL" -->

<div class="espacio">
      	<div>
      		<h3>
      			SUEÑO JUGADOR PROFESIONAL
      		</h3>
      		<p>¿Crees que eres lo suficientemente bueno?, demuestralo y alcanza la gloria gamer.</p>
      	</div>
      	<div>
      		<div class="ui-all text-center">
         				<a href="#" class="all btn btn-red">SELECCIONAR</a> &nbsp; <a href="#" class="none btn btn-lblue">DESELECCIONAR</a>
         	</div>
            <p>No olvides Enviar al terminar tu seleccion.</p>
      	</div>
      </div>  
		<script>
			$(document).ready(function(){
			
				<!-- Select and deselect on click -->
				$(".ui-i6 .ui-item").click(function(){
					if($(this).parent().hasClass("active")){
						$(this).parent().removeClass("active");
					}
					else{
						$(this).parent().addClass("active");
					}
				});
				
				<!-- Select all -->
				$(".ui-all .all").click(function(e){
					e.preventDefault();
					$(".ui-i6").removeClass("active").addClass("active");
				});
				
				<!-- Select none -->
				$(".ui-all .none").click(function(e){
					e.preventDefault();
					$(".ui-i6").removeClass("active");
				});

				
			});

		</script>

        <script>
            $(document).ready(function(){
            
                <!-- Select and deselect on click -->
                $(".ui-i4 .ui-item").click(function(){
                    if($(this).parent().hasClass("active")){
                        $(this).parent().removeClass("active");
                    }
                    else{
                        $(this).parent().addClass("active");
                    }
                });
                
                <!-- Select all -->
                $(".ui-all .all").click(function(e){
                    e.preventDefault();
                    $(".ui-i4").removeClass("active").addClass("active");
                });
                
                <!-- Select none -->
                $(".ui-all .none").click(function(e){
                    e.preventDefault();
                    $(".ui-i4").removeClass("active");
                });

                
            });

        </script>



      </div>
    </div>
   </div>