<script src="https://kit.fontawesome.com/916442ede6.js" crossorigin="anonymous"></script>
<div class="bg-main-friends">
          
      </div>


<div class="jumbotron">
    <div class="container altura bg-white-trans">
      <div class="row">

       <section class="altura">
       <div>
        <h2 class="nblue animated animatedFadeInUp hsdreamfs">
                        AMISTAD
          </h2>
          <p>INDICACIONES: Todas las personas se llegan a sentir solas en ciertos momentos, pero las que tienen grendes amigos se les pasa a los segundos. Aqui encontraras a tus nuevos mejores amigos y a la vez ellos encontraran un mejor amigo en ti al finalizar el sueño. Sigue las instrucciones y llena como se te indica.</p>
          </div>
       </section>

    <div>
       <div>
      <h3>PASO 1: ¿QUE TAN BUEN AMIGO ERES TU?</h3>
      <p>Para encontrar personas increibles que te estimen y te consideren su mejor amigo tu tienes que ser igual de increible, a todos nos falta trabajar en algunos aspectos por ellos te pedimos que te califiques siendo honesto contigo mismo.</p>
        </div>

<!-- BEGINING OF MOSTRAR MAS WHERE IT SHOWS ALL THE NON-COMMON FOR TOURISM COUNTRIES -->
      <div>
             <!-- UI # -->
        <div class="ui-153">

        
            <div class="col-md-4">
          
            <!-- Item -->
            <div class="ui-item">
              <!-- Heading -->
              <div class="ui-head">
                <!-- Heading -->
                <h4 class="fs-18">¿Que tan honesto te consideras?</h4>
                <p>Siendo 1 totalmente deshonesto y 10 que cada accion que haces la analizas para saber si es honesta</p>
                <!-- Para -->
              </div>
              <!-- Body -->
                <div class="container-fluid">
                    <div class="col-md-12 col-sm-12  col-xs-12 col-padd">
                      <!-- Body item -->
                      <div class="ui-bitem clearfix">
                        <select name=””>
                           <option value=”menos-de-3”> 1 </option>
                           <option value=”entre-4y7”> 2 </option>
                           <option value=”entre-8y10”> 3 </option>
                           <option value=”entre-11y14”> 4 </option>
                           <option value=”mas-de-15”> 5</option>
                           <option value=”menos”> 6 </option>
                           <option value=”entre-4y7”> 7 </option>
                           <option value=”entre-8y10”> 8 </option>
                           <option value=”entre-11y14”> 9 </option>
                           <option value=”mas-de-15”> 10 </option>
                         </select>

                      </div>
                    </div>
              </div>
              <!-- Foot -->
            </div>
          
          </div>

          <div class="col-md-4">
          
            <!-- Item -->
            <div class="ui-item">
              <!-- Heading -->
              <div class="ui-head">
                <!-- Heading -->
                <h4 class="fs-18">¿Que nivel de paciencia tienes?</h4>
                <p>Siendo 1 que no tienes ninguna tolerancia y 10 que tienes una condicion que no te permite enojarte nunca.</p>
                <!-- Para -->
              </div>
              <!-- Body -->
                <div class="container-fluid">
                    <div class="col-md-12 col-sm-12  col-xs-12 col-padd">
                      <!-- Body item -->
                      <div class="ui-bitem clearfix">
                        <select name=””>
                           <option value=”menos-de-3”> 1 </option>
                           <option value=”entre-4y7”> 2 </option>
                           <option value=”entre-8y10”> 3 </option>
                           <option value=”entre-11y14”> 4 </option>
                           <option value=”mas-de-15”> 5</option>
                           <option value=”menos”> 6 </option>
                           <option value=”entre-4y7”> 7 </option>
                           <option value=”entre-8y10”> 8 </option>
                           <option value=”entre-11y14”> 9 </option>
                           <option value=”mas-de-15”> 10 </option>
                         </select>

                      </div>
                    </div>
              </div>
              <!-- Foot -->
            </div>
          
          </div>

          <div class="col-md-4">
          
            <!-- Item -->
            <div class="ui-item">
              <!-- Heading -->
              <div class="ui-head">
                <!-- Heading -->
                <h4 class="fs-18">¿Cuantas veces al mes consideras que debes convivir con un amigo?</h4>
                <!-- Para -->
              </div>
              <!-- Body -->
                <div class="container-fluid">
                    <div class="col-md-12 col-sm-12  col-xs-12 col-padd">
                      <!-- Body item -->
                      <div class="ui-bitem clearfix">
                        <select name=””>
                           <option value=”menos-de-3”> 1 vez </option>
                           <option value=”entre-4y7”> 2 veces </option>
                           <option value=”entre-8y10”> 3 veces </option>
                           <option value=”entre-11y14”> 4 veces </option>
                           <option value=”mas-de-15”> 5 veces</option>
                           <option value=”menos”> 6 veces </option>
                           <option value=”entre-4y7”> entre 7 y 9 </option>
                           <option value=”entre-11y14”> entre 10 y 15 </option>
                           <option value=”mas-de-15”> mas de 15 veces </option>
                         </select>

                      </div>
                    </div>
              </div>
              <!-- Foot -->
            </div>
          
          </div>

          <div class="col-md-6">
          
            <!-- Item -->
            <div class="ui-item">
              <!-- Heading -->
              <div class="ui-head">
                <!-- Heading -->
                <h4 class="fs-18">Comunicacion y platica</h4>
                <p>Ve las opciones y ve cual encaja contigo.</p>
                <!-- Para -->
              </div>
              <!-- Body -->
                <div class="container-fluid">
                    <div class="col-md-12 col-sm-12  col-xs-12 col-padd">
                      <!-- Body item -->
                      <div class="ui-bitem clearfix">
                        <select name=””>
                           <option value=”menos”> callado </option>
                           <option value=”entre-4y7”> solo hablas cuando es necesario </option>
                           <option value=”entre-8y10”> te puedes comunicar libremente </option>
                           <option value=”entre”> te gusta iniciar conversaciones para que no haya silencio</option>
                           <option value=”mas-de-15”> disfrutas mucho de hablar, consideras que hablas mucho</option>
                         </select>

                      </div>
                    </div>
              </div>
              <!-- Foot -->
            </div>
          
          </div>

          <div class="col-md-6">
          
            <!-- Item -->
            <div class="ui-item">
              <!-- Heading -->
              <div class="ui-head">
                <!-- Heading -->
                <h4 class="fs-18">¿Que tan generoso te consideras? Ademas cuentanos una historia en la que hayas sido generoso.</h4>
                <!-- Para -->
              </div>
              <!-- Body -->
                <div class="container-fluid">
                    <div class="col-md-12 col-sm-12  col-xs-12 col-padd">
                      <!-- Body item -->
                      <div class="ui-bitem clearfix">
                        <textarea class="form-control" id="historia" name="historia"></textarea>

                      </div>
                    </div>
              </div>
              <!-- Foot -->
            </div>
          
          </div>

          <div class="col-md-6">
          
            <!-- Item -->
            <div class="ui-item">
              <!-- Heading -->
              <div class="ui-head">
                <!-- Heading -->
                <h4 class="fs-18">¿Que tan franco crees que eres?</h4>
                <!-- Para -->
              </div>
              <!-- Body -->
                <div class="container-fluid">
                    <div class="col-md-12 col-sm-12  col-xs-12 col-padd">
                      <!-- Body item -->
                      <div class="ui-bitem clearfix">
                        <select name=””>
                           <option value=”menos”>no me gusta herir a los demas <br> por eso prefiero no hablar</option>
                           <option value=”entre-4y7”> a veces digo lo que pienso </option>
                           <option value=”entre-8y10”> me expreso francamente cuando hablo </option>
                           <option value=”entre”> Siempre digo lo que pienso </option>
                           <option value=”mas-de-15”> a veces puedo ser agresivo cuando digo lo que pienso</option>
                         </select>

                      </div>
                    </div>
              </div>
              <!-- Foot -->
            </div>
          
          </div>

          <div class="col-md-6">
          
            <!-- Item -->
            <div class="ui-item">
              <!-- Heading -->
              <div class="ui-head">
                <!-- Heading -->
                <h4 class="fs-18">¿Que tan agradecido eres?</h4>
                <!-- Para -->
              </div>
              <!-- Body -->
                <div class="container-fluid">
                    <div class="col-md-12 col-sm-12  col-xs-12 col-padd">
                      <!-- Body item -->
                      <div class="ui-bitem clearfix">
                        <select name=””>
                           <option value=”menos”> Intento serlo a veces </option>
                           <option value=”entre-4y7”> A veces puedo serlo, pero prefiero callarme </option>
                           <option value=”entre-8y10”> Siempre doy regalos y muestras de agradecimiento </option>
                           <option value=”mas-de-15”> Al despertarme agradezco a todos por lo que me dan</option>
                         </select>

                      </div>
                    </div>
              </div>
              <!-- Foot -->
            </div>
          
          </div>

            </div>
        
            </div>
      </div>
<!-- END OF THE FIRST SECTION "PASO 1" BEGIN OF THE SECOND SECTION "PASO 2" -->
      
      <div>
      	<div>
        
      		<h3>
      			PASO 2: TU PERSONALIDAD
      		</h3>
      		<p>¿Recuerdas cuando sacaste tu test de personalidad? Necesitamos que lo confirmes aqui (si no lo recuerdas abre otra pestaña y ve tu perfil de Noblidrem).</p>

      	</div>

      	<div>
            
    <div class="ui-159">

       <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'arquitecto-intj.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6 class="margtop-80">ARQUITECTO <br> INTJ</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'logico-intp.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6 class="margtop-80">LOGICO <br> INTP</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'comandante-entj.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6 class="margtop-80">COMANDANTE <br>ENTJ</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'innovador-entp.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6 class="margtop-80">INNOVADOR <br>ENTP</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'abogado-infj.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6 class="margtop-80">ABOGADO <br>INFJ</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'mediador-infp.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6 class="margtop-80">MEDIADOR <br>INFP</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

             <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'protagonista-enfj.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6 class="margtop-80">PROTAGONISTA <br>ENFJ</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'activista-enfp.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6 class="margtop-80">ACTIVISTA <br>ENFP</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'logista-istj.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6 class="margtop-80">LOGISTA <br>ISTJ</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'defensor-isfj.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6 class="margtop-80">DEFENSOR <br>ISFJ</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'ejecutivo-estj.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6 class="margtop-80">EJECUTIVO <br>ESTJ</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'consul-esfj.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6 class="margtop-80">CONSUL <br>ESFJ</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'virtuoso-istp.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6 class="margtop-80">VIRTUOSO <br>ISTP</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'aventurero-isfp.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6 class="margtop-80">AVENTURERO <br>ISFP</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'emprendedor-estp.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6 class="margtop-80">EMPRENDEDOR <br>ESTP</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'animador-esfp.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6 class="margtop-80">ANIMADOR <br>ESFP</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>


    </div>

        </div>
<!-- END OF THE SECOND SECTION "PASO 2" BEGIN OF THE THIRD SECTION "PASO 3" -->
<div>
        <div>
        
            <h3>
                PASO 3: PERSONALIDADES CON LAS QUE TE GUSTARIA TENER AMISTAD
            </h3>
            <p>Regularmente las personalidades identicas o similares a la nuestra es con las que desarrollamos confianza mas pronto, puesto que nos identificamos, sin embargo intenta que sean diferentes a la tuya para que desarrolles la capacidad e inteligencia de socializar con todas las personas. Sobre todo para las personalidades mas introvertidas que no les gusta socializar.</p>

        </div>

        <div class="ui-159">

       <div class="ui-i6">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'arquitecto-intj.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>ARQUITECTO <br> INTJ</h6>
                                <h6>Pensadores imaginativos y estratégicos, con un plan para todo.</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i6">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'logico-intp.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>LOGICO <br> INTP</h6>
                                <h6>Inventores innovadores con una sed insaciable por el conocimiento.</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i6">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'comandante-entj.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>COMANDANTE <br>ENTJ</h6>
                                <h6>Líderes audaces, imaginativos y de voluntad fuerte, siempre en busca de un camino, o creando uno.</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i6">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'innovador-entp.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>INNOVADOR <br>ENTP</h6>
                                <h6>Pensadores inteligentes y curiosos que no pueden resistir un reto intelectual.</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i6">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'abogado-infj.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>ABOGADO <br>INFJ</h6>
                                <h6>Callados y místicos, que sin embargo son inspiradores e idealistas incansables.</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div class="ui-i6">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'mediador-infp.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>MEDIADOR <br>INFP</h6>
                                <h6>Personas poéticas, amables y altruistas, siempre en busca de ayudar a una buena causa.</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

             <div class="ui-i6">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'protagonista-enfj.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>PROTAGONISTA <br>ENFJ</h6>
                                <h6>Líderes carismáticos e inspiradores, capaces de cautivar a quienes los escuchan.</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i6">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'activista-enfp.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>ACTIVISTA <br>ENFP</h6>
                                <h6>Espíritus libres entusiastas, creativos y sociales, que siempre pueden encontrar una razón para sonreír.</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div class="ui-i6">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'logista-istj.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>LOGISTA <br>ISTJ</h6>
                                <h6>Individuos prácticos y enfocados en los hechos, de cuya confiabilidad no puede dudarse.</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i6">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'defensor-isfj.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>DEFENSOR <br>ISFJ</h6>
                                <h6>Protectores muy dedicados y cálidos, siempre listos para defender a sus seres queridos.</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i6">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'ejecutivo-estj.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>EJECUTIVO <br>ESTJ</h6>
                                <h6>Administradores excelentes, inigualables al administrar cosas o personas.</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i6">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'consul-esfj.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>CONSUL <br>ESFJ</h6>
                                <h6>Personas extraordinariamente consideradas, sociables y populares, siempre en busca de ayudar.</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i6">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'virtuoso-istp.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>VIRTUOSO <br>ISTP</h6>
                                <h6>Experimentadores audaces y prácticos, maestros en el uso de todo tipo de herramientas.</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i6">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'aventurero-isfp.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>AVENTURERO <br>ISFP</h6>
                                <h6>Artistas flexibles y encantadores, siempre listos para explorar y experimentar algo nuevo.</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i6">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'emprendedor-estp.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>EMPRENDEDOR <br>ESTP</h6>
                                <h6>Personas inteligentes, enérgicas y muy perceptivas, que realmente disfrutan vivir al límite.</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i6">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'animador-esfp.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>ANIMADOR <br>ESFP</h6>
                                <h6>Animadores espontáneos, enérgicos y entusiastas. La vida nunca es aburrida a su alrededor.</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>


      
      <p>Muy bien has terminado la seleccion. Ahora solo falta que envies tu seleccion.</p>
    </div>
    <%= link_to "ENVIAR", travel_steps_travel_path,
    class: "btn btn-solid2 js-goto-signup js-button-hero-get-free" %>

</div>


<!-- END OF THE THIRD SECTION "PASO 3" BEGIN OF THE EXPERT TRAVELER DREAM SECTION "SELECT ALL" -->

<div class="espacio">
      	<div>
      		<h3>
      			SUEÑO JUGADOR PROFESIONAL
      		</h3>
      		<p>¿Crees que eres lo suficientemente bueno?, demuestralo y alcanza la gloria gamer.</p>
      	</div>
      	<div>
      		<div class="ui-all text-center">
         				<a href="#" class="all btn btn-red">SELECCIONAR</a> &nbsp; <a href="#" class="none btn btn-lblue">DESELECCIONAR</a>
         	</div>
            <p>No olvides Enviar al terminar tu seleccion.</p>
      	</div>
      </div>  
		<script>
			$(document).ready(function(){
			
				<!-- Select and deselect on click -->
				$(".ui-i6 .ui-item").click(function(){
					if($(this).parent().hasClass("active")){
						$(this).parent().removeClass("active");
					}
					else{
						$(this).parent().addClass("active");
					}
				});
				
				<!-- Select all -->
				$(".ui-all .all").click(function(e){
					e.preventDefault();
					$(".ui-i6").removeClass("active").addClass("active");
				});
				
				<!-- Select none -->
				$(".ui-all .none").click(function(e){
					e.preventDefault();
					$(".ui-i6").removeClass("active");
				});

				
			});

		</script>

        <script>
            $(document).ready(function(){
            
                <!-- Select and deselect on click -->
                $(".ui-i4 .ui-item").click(function(){
                    if($(this).parent().hasClass("active")){
                        $(this).parent().removeClass("active");
                    }
                    else{
                        $(this).parent().addClass("active");
                    }
                });
                
                <!-- Select all -->
                $(".ui-all .all").click(function(e){
                    e.preventDefault();
                    $(".ui-i4").removeClass("active").addClass("active");
                });
                
                <!-- Select none -->
                $(".ui-all .none").click(function(e){
                    e.preventDefault();
                    $(".ui-i4").removeClass("active");
                });

                
            });

        </script>



      </div>
    </div>
   </div>