<div class="bg-main-coding-skill">
          
      </div>


<div class="jumbotron bg-white-inv">
    <div class="container altura bg-white-trans">
      <div class="row">

       <section class="altura">
       <div>
        <h2 class="nblue animated animatedFadeInUp hsdreamfs">
                        APRENDER A PROGRAMAR
          </h2>
          <p>En la Era digital es muy necesario aprender a programar, ¿Sabias que en el mundo hay alrededor de 40 millones de vacantes en areas de programacion? esto es por que todo se esta digitalizando pero no hay suficientes programadores para la demanda. Para er un programador solo sigue las siguientes intrucciones.</p>
          </div>
       </section>

    <div>
       <div>
      <h3>PASO 1: ¿QUE DESEAS APRENDER A PROGRAMAR?</h3>
      <p>Estas areas son las mas generales en programacion de software, selecciona la que mas te interesa.</p>
        </div>

<!-- BEGINING OF MOSTRAR MAS WHERE IT SHOWS ALL THE NON-COMMON FOR TOURISM COUNTRIES -->
      <div>
             <!-- UI # -->
        <div class="ui-159">

          <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'aplicaciones.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6 class="margtop-80">APLICACIONES</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'bases-de-datos.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6 class="margtop-80">BASES DE DATOS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'hardware-iot.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6 class="margtop-80">HARDWARE <br>(IOT)</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'paginas-web.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6 class="margtop-80">PAGINAS WEB</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'programacion-realidad-virtual.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6 class="margtop-80">PROGRAMACION REALIDAD VIRTUAL</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'programacion-videojuegos.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6 class="margtop-80">PROGRAMACION VIDEOJUEGOS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'programar-musica-y-sonidos.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6 class="margtop-80">PROGRAMACION DE MUSICA Y SONIDOS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            </div>
        
            </div>
      </div>
<!-- END OF THE FIRST SECTION "PASO 1" BEGIN OF THE SECOND SECTION "PASO 2" -->
      
      <div>
      	<div>
        
      		<h3>
      			PASO 2: TU PERSONALIDAD
      		</h3>
      		<p>¿Recuerdas cuando sacaste tu test de personalidad? Necesitamos que lo confirmes aqui (si no lo recuerdas abre otra pestaña y ve tu perfil de Noblidrem).</p>

      	</div>

      	<div>
            
    <div class="ui-159">

       <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'arquitecto-intj.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6 class="margtop-80">ARQUITECTO <br> INTJ</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'logico-intp.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6 class="margtop-80">LOGICO <br> INTP</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'comandante-entj.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6 class="margtop-80">COMANDANTE <br>ENTJ</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'innovador-entp.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6 class="margtop-80">INNOVADOR <br>ENTP</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'abogado-infj.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6 class="margtop-80">ABOGADO <br>INFJ</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'mediador-infp.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6 class="margtop-80">MEDIADOR <br>INFP</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

             <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'protagonista-enfj.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6 class="margtop-80">PROTAGONISTA <br>ENFJ</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'activista-enfp.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6 class="margtop-80">ACTIVISTA <br>ENFP</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'logista-istj.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6 class="margtop-80">LOGISTA <br>ISTJ</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'defensor-isfj.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6 class="margtop-80">DEFENSOR <br>ISFJ</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'ejecutivo-estj.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6 class="margtop-80">EJECUTIVO <br>ESTJ</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'consul-esfj.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6 class="margtop-80">CONSUL <br>ESFJ</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'virtuoso-istp.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6 class="margtop-80">VIRTUOSO <br>ISTP</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'aventurero-isfp.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6 class="margtop-80">AVENTURERO <br>ISFP</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'emprendedor-estp.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6 class="margtop-80">EMPRENDEDOR <br>ESTP</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'animador-esfp.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6 class="margtop-80">ANIMADOR <br>ESFP</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>


    </div>

        </div>
<!-- END OF THE SECOND SECTION "PASO 2" BEGIN OF THE THIRD SECTION "PASO 3" -->
<div>
        <div>
        
            <h3>
                PASO 3: ¿CUAL ES EL PROPOSITO DE APRENDER A PROGRAMAR?
            </h3>
            <p>Cuentanos la razon, meta o el sueño principal detras de querer aprender a programar.</p>

        </div>

        <div class="ui-153">


        <div class="col-md-12">
          
            <!-- Item -->
            <div class="ui-item">
              <!-- Body -->
                    <div class="col-md-12 col-sm-12  col-xs-12 col-padd">
                      <!-- Body item -->
                      <div class="ui-bitem clearfix">
                        <textarea class="form-control" id="historia" name="historia"></textarea>
                  </div>
              </div>
             
            </div>
          
          </div>

        


      
      <p>Muy bien has terminado la seleccion. Ahora solo falta que envies tu seleccion.</p>
    </div>
  <a href="http://localhost:3000/travel/steps_travel" class="btn btn-solid js-goto-signup js-button-hero-get-free">
            ENVIAR
    </a>

</div>


<!-- END OF THE THIRD SECTION "PASO 3" BEGIN OF THE EXPERT TRAVELER DREAM SECTION "SELECT ALL" -->

<div class="espacio">
      	<div>
      		<h3>
      			SUEÑO JUGADOR PROFESIONAL
      		</h3>
      		<p>¿Crees que eres lo suficientemente bueno?, demuestralo y alcanza la gloria gamer.</p>
      	</div>
      	<div>
      		<div class="ui-all text-center">
         				<a href="#" class="all btn btn-red">SELECCIONAR</a> &nbsp; <a href="#" class="none btn btn-lblue">DESELECCIONAR</a>
         	</div>
            <p>No olvides Enviar al terminar tu seleccion.</p>
      	</div>
      </div>  
		<script>
			$(document).ready(function(){
			
				<!-- Select and deselect on click -->
				$(".ui-i3 .ui-item").click(function(){
					if($(this).parent().hasClass("active")){
						$(this).parent().removeClass("active");
					}
					else{
						$(this).parent().addClass("active");
					}
				});
				
				<!-- Select all -->
				$(".ui-all .all").click(function(e){
					e.preventDefault();
					$(".ui-i3").removeClass("active").addClass("active");
				});
				
				<!-- Select none -->
				$(".ui-all .none").click(function(e){
					e.preventDefault();
					$(".ui-i3").removeClass("active");
				});

				
			});

		</script>

        <script>
            $(document).ready(function(){
            
                <!-- Select and deselect on click -->
                $(".ui-i4 .ui-item").click(function(){
                    if($(this).parent().hasClass("active")){
                        $(this).parent().removeClass("active");
                    }
                    else{
                        $(this).parent().addClass("active");
                    }
                });
                
                <!-- Select all -->
                $(".ui-all .all").click(function(e){
                    e.preventDefault();
                    $(".ui-i4").removeClass("active").addClass("active");
                });
                
                <!-- Select none -->
                $(".ui-all .none").click(function(e){
                    e.preventDefault();
                    $(".ui-i4").removeClass("active");
                });

                
            });

        </script>



      </div>
    </div>
   </div>