<script src="https://kit.fontawesome.com/916442ede6.js" crossorigin="anonymous"></script>
<div class="bg-main-europe">
          
      </div>


<div class="jumbotron">
    <div class="container altura bg-white-trans">
      <div class="row">

       <section class="altura">
       <div>
        <h2 class="nblue animated animatedFadeInUp hsdreamfs">
                        OCEANIA
          </h2>
          <p>INDICACIONES: A viajar a Oceania, pero antes te explicaremos el llenado de tu sueño. Para poder ayudarte correctamente en tu sueño hemos creado un muy completo y simple llenado compuesto de 2 secciones. Solo llena lo que se te pide a continuacion.</p>
          </div>
       </section>

    <div>
       <div>
      <h3>Paso 1: SELECCION DE PAISES Y CIUDADES</h3>
      <p>Te mostramos a continuacion todos los paises del continente Oceanico y al seleccionar un pais notaras que salen las ciudades mas sobresalientes en arte, arquitectura, cultura, tecnologia y las mas visitadas por viajeros y turistas. Recuerda apretar en <i>VER TODOS LOS PAISES</i> para ver todas las posibles opciones del viaje.</p>
        </div>
<div class="ui-159">    

            <!-- All -->
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'australia.jpg', :class => 'img-responsive'%>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi" role="button" data-toggle="collapse" href="#australia" aria-expanded="false" aria-controls="collapseExample">
                                <!-- Heading -->
                                <h6>Australia</h6>
                                <!-- UI Content Hover -->   <!-- Links -->
                                <div class="ui-hover">
                <div class="ui-links">
					<i class="fa fa-check fa-3x text-white"></i>
				</div>
                                </div>
                            </div>

                </div>

            </div>
            <div class="collapse" id="australia">
            <p>Selecciona las ciudades que deseas visitar</p>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'adelaida.gif', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>ADELAIDA</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 65%">
                                <h4><a href="https://www.ecosia.org/images?q=adelaida+australia" target="_blank">VER IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'brisbane.gif', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>BRISBANE</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 65%">
                                <h4><a href="https://www.ecosia.org/images?q=brisbane+australia" target="_blank">VER IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'canberra.gif', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>CANBERRA</h6>
                                <h6>Capital</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 65%">
                                <h4><a href="https://www.ecosia.org/images?q=canberra" target="_blank">VER IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'melbourne.gif', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>MELBOURNE</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 65%">
                                <h4><a href="https://www.ecosia.org/images?q=melbourne#" target="_blank">VER IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'newcastle.gif', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>NEWCASTLE</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 65%">
                                <h4><a href="https://www.ecosia.org/images?q=newcastle+australia#" target="_blank">VER IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'perth.gif', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>PERTH</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 65%">
                                <h4><a href="https://www.ecosia.org/images?q=perth" target="_blank">VER IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'queensland.gif', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>GOLD COAST</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 65%">
                                <h4><a href="https://www.ecosia.org/images?q=gold+coast+australia#" target="_blank">VER IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2 margbot-50">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'sidney.gif', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>SIDNEY</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 65%">
                                <h4><a href="https://www.ecosia.org/images?q=sidneyt+australia" target="_blank">VER IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>



            </div>

            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'fiji.jpg', :class => 'img-responsive', :size => '300x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi" role="button" data-toggle="collapse" href="#fiji" aria-expanded="false" aria-controls="collapseExample">
                                <!-- Heading -->
                                <h6>Fiyi</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div class="collapse" id="fiji">
            <p>Selecciona las ciudades que deseas visitar</p>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'nadi.gif', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>NADI</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 65%">
                                <h4><a href="https://www.ecosia.org/images?q=nadi+fiji" target="_blank">VER IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2 margbot-50">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'suva.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>SUVA</h6>
                                <h6>Capital</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 65%">
                                <h4><a href="https://www.ecosia.org/images?q=suva+fiji" target="_blank">VER IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            </div>
            
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'nueva_zelanda.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi" role="button" data-toggle="collapse" href="#nueva_zelanda" aria-expanded="false" aria-controls="collapseExample">
                                <!-- Heading -->
                                <h6>Nueva Zelanda</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                             <div class="ui-links">
					             <i class="fa fa-check fa-3x text-white"></i>
				             </div>
                               </div>
                            </div>
                </div>
            </div>

            <div class="collapse" id="nueva_zelanda">
            <p>Selecciona las ciudades que deseas visitar</p>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'wellington.gif', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>WELLINGTON</h6>
                                <h6>Capital</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 65%">
                                <h4><a href="https://www.ecosia.org/images?q=wellington+new+zealand" target="_blank">VER IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'escudo_nueva_zelanda.gif', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>AUCKLAND</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 65%">
                                <h4><a href="https://www.ecosia.org/images?q=auckland+new+zealand" target="_blank">VER IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'escudo_nueva_zelanda.gif', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>MANUKAU</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 65%">
                                <h4><a href="https://www.ecosia.org/images?q=manukau+new+zealand#" target="_blank">VER IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'escudo_nueva_zelanda.gif', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>CHRIST <br>CHURCH</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 65%">
                                <h4><a href="https://www.ecosia.org/images?q=christchurch+new+zealand" target="_blank">VER IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'escudo_nueva_zelanda.gif', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>NORTH SHORE CITY</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 65%">
                                <h4><a href="https://www.ecosia.org/images?q=north+shore+city+new+zealand" target="_blank">VER IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'escudo_nueva_zelanda.gif', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>WAITAKERE</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 65%">
                                <h4><a href="https://www.ecosia.org/images?q=waitakere+new+zealand" target="_blank">VER IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2 margbot-50">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'escudo_nueva_zelanda.gif', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>TAURANGA</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 65%">
                                <h4><a href="https://www.ecosia.org/images?q=tauranga+new+zealand" target="_blank">VER IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            </div>

            

            
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'islas_marshall.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi" role="button" data-toggle="collapse" href="#islas_marshall" aria-expanded="false" aria-controls="collapseExample">
                                <!-- Heading -->
                                <h6>Islas Marshall</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
					             <i class="fa fa-check fa-3x text-white"></i>
				             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div class="collapse" id="islas_marshall">
            <p>Selecciona las ciudades que deseas visitar</p>
            <div class="ui-i2 margbot-50">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'majuro.gif', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>MAJURO</h6>
                                <h6>Capital</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 65%">
                                <h4><a href="https://www.ecosia.org/images?q=majuro" target="_blank">VER IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            </div>

            
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'islas_salomon.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi" role="button" data-toggle="collapse" href="#islas_salomon" aria-expanded="false" aria-controls="collapseExample">
                                <!-- Heading -->
                                <h6>Islas Salomon</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
					             <i class="fa fa-check fa-3x text-white"></i>
				             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div class="collapse" id="islas_salomon">
            <p>Selecciona las ciudades que deseas visitar</p>
            <div class="ui-i2 margbot-50">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'honiara.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>HONIARA</h6>
                                <h6>Capital</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 65%">
                                <h4><a href="https://www.ecosia.org/images?q=honiara+solomon+islands" target="_blank">VER IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            </div>

            
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'kiribati.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi" role="button" data-toggle="collapse" href="#kiribati" aria-expanded="false" aria-controls="collapseExample">
                                <!-- Heading -->
                                <h6>Kiribati</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
					             <i class="fa fa-check fa-3x text-white"></i>
				             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div class="collapse" id="kiribati">
            <p>Selecciona las ciudades que deseas visitar</p>
            <div class="ui-i2 margbot-50">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'tarawa.gif', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>TARAWA</h6>
                                <h6>Capital</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 65%">
                                <h4><a href="https://www.ecosia.org/images?q=tarawa+kiribati#" target="_blank">VER IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            </div>

            
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'micronesia.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi" role="button" data-toggle="collapse" href="#micronesia" aria-expanded="false" aria-controls="collapseExample">
                                <!-- Heading -->
                                <h6>Micronesia</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
					             <i class="fa fa-check fa-3x text-white"></i>
				             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div class="collapse" id="micronesia">
            <p>Selecciona las ciudades que deseas visitar</p>
            <div class="ui-i2 margbot-50">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'palikir.gif', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>PALIKIR</h6>
                                <h6>Capital</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 65%">
                                <h4><a href="https://www.ecosia.org/images?q=palikir+micronesia" target="_blank">VER IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            </div>

            
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'nauru.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi" role="button" data-toggle="collapse" href="#nauru" aria-expanded="false" aria-controls="collapseExample">
                                <!-- Heading -->
                                <h6>Nauru</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
					             <i class="fa fa-check fa-3x text-white"></i>
				             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div class="collapse" id="nauru">
            <p>Selecciona las ciudades que deseas visitar</p>
            <div class="ui-i2 margbot-50">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'yaren.gif', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>YAREN</h6>
                                <h6>Capital</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 65%">
                                <h4><a href="https://www.ecosia.org/images?q=yaren+nauru" target="_blank">VER IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            </div>

            
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'palau.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi" role="button" data-toggle="collapse" href="#palau" aria-expanded="false" aria-controls="collapseExample">
                                <!-- Heading -->
                                <h6>Palau</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
					             <i class="fa fa-check fa-3x text-white"></i>
				             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div class="collapse" id="palau">
            <p>Selecciona las ciudades que deseas visitar</p>
            <div class="ui-i2 margbot-50">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'ngerulmud.gif', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>NGERULMUD</h6>
                                <h6>Capital</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 65%">
                                <h4><a href="https://www.ecosia.org/images?q=ngerulmud+palau+capital#" target="_blank">VER IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            </div>

            
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'pupua_nueva_guinea.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi" role="button" data-toggle="collapse" href="#pupua_nueva_guinea" aria-expanded="false" aria-controls="collapseExample">
                                <!-- Heading -->
                                <h6>Papua Nueva Guinea</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
					             <i class="fa fa-check fa-3x text-white"></i>
				             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div class="collapse" id="pupua_nueva_guinea">
            <p>Selecciona las ciudades que deseas visitar</p>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'puerto_moresby.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>PUERTO MORESBY</h6>
                                <h6>Capital</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 65%">
                                <h4><a href="https://www.ecosia.org/images?q=port+moresby" target="_blank">VER IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'escudo_papua_nueva_guinea.gif', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>MILNE BAY</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 65%">
                                <h4><a href="https://www.ecosia.org/images?q=milne+bay+papua+new+guinea" target="_blank">VER IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'escudo_papua_nueva_guinea.gif', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>LAE</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 65%">
                                <h4><a href="hhttps://www.ecosia.org/images?q=lae+papua+new+guinea" target="_blank">VER IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'escudo_papua_nueva_guinea.gif', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>MOUNT HAGEN</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 65%">
                                <h4><a href="https://www.ecosia.org/images?q=mount+hagen+papua+new+guinea" target="_blank">VER IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2 margbot-50">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'escudo_papua_nueva_guinea.gif', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>MADANG</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 65%">
                                <h4><a href="https://www.ecosia.org/images?q=madang+papua+new+guinea" target="_blank">VER IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            </div>

            
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'samoa.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi" role="button" data-toggle="collapse" href="#samoa" aria-expanded="false" aria-controls="collapseExample">
                                <!-- Heading -->
                                <h6>Samoa</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
					             <i class="fa fa-check fa-3x text-white"></i>
				             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div class="collapse" id="samoa">
            <p>Selecciona las ciudades que deseas visitar</p>
            <div class="ui-i2 margbot-50">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'apia.gif', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>APIA</h6>
                                <h6>Capital</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 65%">
                                <h4><a href="https://www.ecosia.org/images?q=apia+samoa" target="_blank">VER IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            </div>

            
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'tonga.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi" role="button" data-toggle="collapse" href="#tonga" aria-expanded="false" aria-controls="collapseExample">
                                <!-- Heading -->
                                <h6>Tonga</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
					             <i class="fa fa-check fa-3x text-white"></i>
				             </div>
                                </div>
                            </div>
                </div>
            </div>

             <div class="collapse" id="tonga">
            <p>Selecciona las ciudades que deseas visitar</p>
             <div class="ui-i2 margbot-50">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'nuku_alofa.gif', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>NUKU ALOFA</h6>
                                <h6>Capital</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 65%">
                                <h4><a href="https://www.ecosia.org/images?q=nuku+alofa+tonga" target="_blank">VER IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            </div>


            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'tuvalu.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi" role="button" data-toggle="collapse" href="#tuvalu" aria-expanded="false" aria-controls="collapseExample">
                                <!-- Heading -->
                                <h6>Tuvalu</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
					             <i class="fa fa-check fa-3x text-white"></i>
				             </div>
                                </div>
                            </div>
                </div>
            </div>


             <div class="collapse" id="tuvalu">
            <p>Selecciona las ciudades que deseas visitar</p>
             <div class="ui-i2 margbot-50">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'funafuti.gif', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>FUNAFUTI</h6>
                                <h6>Capital</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 65%">
                                <h4><a href="https://www.ecosia.org/images?q=funafuti+island" target="_blank">VER IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            </div>


            <div class="ui-i2 margbot-50">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'vanuatu.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi" role="button" data-toggle="collapse" href="#vanuatu" aria-expanded="false" aria-controls="collapseExample">
                                <!-- Heading -->
                                <h6>Vanuatu</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
					             <i class="fa fa-check fa-3x text-white"></i>
				             </div>
                                </div>
                            </div>
                </div>
            </div>


             <div class="collapse" id="vanuatu">
            <p>Selecciona las ciudades que deseas visitar</p>
             <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'port_vila.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>PORT VILA</h6>
                                <h6>Capital</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 65%">
                                <h4><a href="https://www.ecosia.org/images?q=port+vila+vanuatu" target="_blank">VER IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            </div>
            <p>Muy bien has terminado la seleccion. Ahora solo falta que envies tu seleccion.</p>
            <%= link_to "ENVIAR", travel_steps_travel_path,
            class: "btn btn-solid2 js-goto-signup js-button-hero-get-free" %>
    </div>

<!-- END OF THE FIRST SECTION "PASO 1" BEGIN OF THE EXPERT TRAVELER DREAM SECTION "SELECT ALL" -->


<div class="espacio">
      	<div>
      		<h3>
      			SUEÑO VIAJADOR EXPERTO
      		</h3>
      		<p>Visitar TODOS los paises. El sueño para los aventureros, muy pocas personas en la historia han logrado esta hazaña.</p>
      	</div>
      	<div>
      		<div class="ui-all text-center">
         				<a href="#" class="all btn btn-red">SELECCIONAR</a> &nbsp; <a href="#" class="none btn btn-lblue">DESELECCIONAR</a>
         	</div>
            <p>No olvides Enviar al terminar tu seleccion.</p>
      	</div>
      </div>  
		<script>
			$(document).ready(function(){
			
				<!-- Select and deselect on click -->
				$(".ui-i2 .ui-item").click(function(){
					if($(this).parent().hasClass("active")){
						$(this).parent().removeClass("active");
					}
					else{
						$(this).parent().addClass("active");
					}
				});
				
				<!-- Select all -->
				$(".ui-all .all").click(function(e){
					e.preventDefault();
					$(".ui-i2").removeClass("active").addClass("active");
				});
				
				<!-- Select none -->
				$(".ui-all .none").click(function(e){
					e.preventDefault();
					$(".ui-i2").removeClass("active");
				});

				
			});

		</script>


        <script>
            $(document).ready(function(){
            
                <!-- Select and deselect on click -->
                $(".ui-i2 .ui-item2").click(function(){
                    if($(this).parent().hasClass("active")){
                        $(this).parent().removeClass("active");
                    }
                    else{
                        $(this).parent().addClass("active");
                    }
                });
                
                <!-- Select all -->
                $(".ui-all .all").click(function(e){
                    e.preventDefault();
                    $(".ui-i2").removeClass("active").addClass("active");
                });
                
                <!-- Select none -->
                $(".ui-all .none").click(function(e){
                    e.preventDefault();
                    $(".ui-i2").removeClass("active");
                });

                
            });

        </script>



      </div>
    </div>
   </div>