<section class="altura">
       <div>
        <h2 class="nblue animated animatedFadeInUp hsdreamfs">
                        VIAJAR POR EL MUNDO
          </h2>
          <p>INDICACIONES: A viajar a Oceania, pero antes te explicaremos el llenado de tu sueño. Para poder ayudarte correctamente en tu sueño hemos creado un muy completo y simple llenado compuesto de 2 secciones. Solo llena lo que se te pide a continuacion.</p>
          </div>
       </section>

<%= form_with url: travel_create_path do |form| %>
  <%= form.hidden_field :dream_id, value: @dream.id %>
  <% Travel.all.each do |travel| %>
    <%= form.check_box :travel_ids, { multiple: true }, travel.id %>
    <%= form.label :travel_ids, travel.city %>
  <% end %>
  <%= form.submit "Submit" %>
<% end %>