<section class="altura">
       <div>
        <h2 class="nblue animated animatedFadeInUp hsdreamfs">
                        VIAJAR POR EL MUNDO
        </h2>
          <p>INDICACIONES: A viajar a Oceania, pero antes te explicaremos el llenado de tu sueño. Para poder ayudarte correctamente en tu sueño hemos creado un muy completo y simple llenado compuesto de 2 secciones. Solo llena lo que se te pide a continuacion.</p>
       </div>
</section>

<%= simple_form_for @dream, url: travel_create_path(@dream), method: :post do |form| %>
  <%= form.input :dream_id, as: :hidden, input_html: { value: @dream.id } %>
  <% Travel.all.group_by(&:continent).each do |continent, travels| %>
    <div class="ui-159">
      <div class="ui-i4">
        <div class="ui-item">
          <% if File.exist?("#{Rails.root}/app/assets/images/#{continent.downcase}.png") %>
            <%= image_tag "#{continent.downcase}.png", class: 'img-responsive', size: '200x200' %>
          <% elsif File.exist?("#{Rails.root}/app/assets/images/#{continent.downcase}.jpg") %>
            <%= image_tag "#{continent.downcase}.jpg", class: 'img-responsive', size: '200x200' %>
          <% elsif File.exist?("#{Rails.root}/app/assets/images/#{continent.downcase}.gif") %>
            <%= image_tag "#{continent.downcase}.gif", class: 'img-responsive', size: '200x200' %>
          <% else %>
            <%= image_tag "noimag.png", class: 'img-responsive', size: '200x200' %>
            <%= logger.info "No image found for #{continent.downcase}" %>
          <% end %>
          <div class="ui-content ui-bg-grawhi" role="button" data-toggle="collapse" href="#<%= continent %>" aria-expanded="false" aria-controls="<%= continent %>">
            <h6><%= continent.upcase %></h6>
            <div class="ui-hover">
              <div class="ui-links">
                <i class="fa fa-check fa-3x text-white"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="collapse" id="<%= continent %>">
        <% travels.group_by(&:country).each do |country, travels| %>
          <div class="ui-i2">
            <div class="ui-item">
              <% if File.exist?("#{Rails.root}/app/assets/images/#{country.downcase}.png") %>
                <%= image_tag "#{country.downcase}.png", class: 'img-responsive' %>
              <% elsif File.exist?("#{Rails.root}/app/assets/images/#{country.downcase}.jpg") %>
                <%= image_tag "#{country.downcase}.jpg", class: 'img-responsive' %>
              <% elsif File.exist?("#{Rails.root}/app/assets/images/#{country.downcase}.gif") %>
                <%= image_tag "#{country.downcase}.gif", class: 'img-responsive' %>
              <% else %>
                <%= logger.info "Image does not exist" %>
              <% end %>
              <div class="ui-content ui-bg-grawhi country-collapse-button" role="button" data-toggle="collapse" href="#<%= country.parameterize %>" aria-expanded="false" aria-controls="<%= country.parameterize %>">
                <h6><%= country.upcase %></h6>
                <% travels.group_by(&:city).each do |city, travels| %>
                  <div class="ui-i2 city">
                    <div class="ui-item">
                    <div class="ui-content ui-bg-grawhi" role="button" data-toggle="collapse" href="#<%= city.parameterize %>" aria-expanded="false" aria-controls="<%= city.parameterize %>">
                    <h6><%= city.upcase %></h6>
                      <div class="collapse" id="<%= city.parameterize %>">
                    <select name="city">
                      <% travels.each do |travel| %>
                      <option value="<%= travel.id %>"><%= travel.title %> - <%= travel.city %></option>
                      <% end %>
                    </select>
                    </div>
                    </div>
                  </div>
                 </div> 
                <% end %> 
              </div>
            </div> 
          </div> 
        <% end %>       
      </div> 
    </div> 
  <% end %>       
  <%= form.button :submit %>
<% end %>

<script>
			$(document).ready(function(){		
				//  Select and deselect on click 
				$(".ui-i2 .ui-item").click(function(){
         if($(this).hasClass("selected")){
          $(this).removeClass("selected");
          }
          else{
            $(this).addClass("selected");
          }
        });			
				//  Select all 
				$(".ui-all .all").click(function(e){
					e.preventDefault();
					$(".ui-i2").removeClass("active").addClass("active");
				});			
				//  Select none 
				$(".ui-all .none").click(function(e){
					e.preventDefault();
					$(".ui-i2").removeClass("active");
				});			
			});
		</script>

<script>
  //$(document).ready(function() {
    // Cuando se hace clic en un elemento que tenga el atributo data-toggle="collapse"
    //$('[data-toggle="collapse"]').click(function() {
      // Obtener el href del atributo
      //var target = $(this).attr('href');

      // Expande o colapsa el contenido correspondiente utilizando el método .collapse de Bootstrap
      //$(target).collapse('toggle');
    //});
  //});
//</script>

<script>
$(document).ready(function() {
  // Agrega un controlador de eventos de clic a los botones de colapso de "country"
  $(".country-collapse-button").click(function() {
    // Encuentra el elemento "city" correspondiente y muéstralo/ocúltalo
    $(this).closest(".country").find(".city").toggle();
  });
});
</script>  