<h1> <%= @user.username %> </h1>
<h6> <%= pluralize(@user.views, "view") %> </h6>
<p>Find me in app/views/users/profile.html.erb</p>

<% if current_user %>
<p> Hola <%= current_user.username %>! </p>
<p> Tu tienes el id [<%= current_user.id %>]
<p> Tu eres [<%= current_user.role %>]
<% if current_user.admin? %>
 Hay <% User.count %> soñadores en el sistema.
<% end %>
<% end %>