<script src="https://kit.fontawesome.com/916442ede6.js" crossorigin="anonymous"></script>
<div class="bg-main-buy-house">
          
      </div>

<div class="jumbotron">
    <div class="container altura bg-white-trans">
      <div class="row">

      <section class="altura">
       <div>
        <h2 class="nblue animated animatedFadeInUp hsdreamfs">
                        REMODELAR MI CASA
          </h2>
          <p>INDICACIONES: A tener una casa remodelada en la cual crear un hogar. Para poder ayudarte correctamente en tu sueño hemos creado un seleccion. Solo llena lo que se te pide a continuacion.</p>
          </div>
       </section>

      <div>
       <div>
      <h3>PASO 1: SELECCION DE REMODELACION</h3>
      <p>Te mostramos las remodelaciones que comunmente se hacen en los hogares, selecciona las que te gustaria tener en tu casa.</p>
        </div>

        <div class="ui-159">

        <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'agregar_nuevas_habitaciones.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>AGREGAR NUEVAS HABITACIONES</h6>
                                <h6 class="text-white">No tienes un estudio o necesitas un nuevo dormitorio.</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'ampliar_casa.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>AMPLIAR LA CASA</h6>
                                <h6 class="text-white">Necesitas una casa mas espaciosa y quieres anexarte algun terreno o espacio libre.</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'diseño_de_interiores.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>REMODELAR EL DISEÑO INTERIOR DE LA CASA</h6>
                                <h6 class="text-white">Le falta personalidad o tiene demasiados estilos y colores que se pierde.</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'nuevo_estilo_arquitectonico.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>TENER UN NUEVO ESTILO ARQUITECTONICO</h6>
                                <h6 class="text-white">El estilo con el que fue construido la casa necesita un toque moderno.</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'remodelacion_del_jardin.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>REMODELAR EL JARDIN O CREAR UNO</h6>
                                <h6 class="text-white">El toque natural, que todos deseamos.</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'remodelar_el_acomodo_y_estilo_visual.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>REMODELAR EL ESTILO VISUAL</h6>
                                <h6 class="text-white">Tienes la casa llena de cosas y necesitan acomodo.</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'remodelar_pintura.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>REMODELAR PINTURA</h6>
                                <h6 class="text-white">La casa necesita una pasada de pintura o un color nuevo.</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>


          

        </div>
          <p>Muy bien has terminado la seleccion. Ahora solo falta que envies tu seleccion.</p>
          <a href="http://localhost:3000/travel/steps_travel" class="btn btn-solid js-goto-signup js-button-hero-get-free">
            ENVIAR
         </a>
      </div>

      <script>
      $(document).ready(function(){
      
        <!-- Select and deselect on click -->
        $(".ui-i4 .ui-item").click(function(){
          if($(this).parent().hasClass("active")){
            $(this).parent().removeClass("active");
          }
          else{
            $(this).parent().addClass("active");
          }
        });
        
        <!-- Select all -->
        $(".ui-all .all").click(function(e){
          e.preventDefault();
          $(".ui-i4").removeClass("active").addClass("active");
        });
        
        <!-- Select none -->
        $(".ui-all .none").click(function(e){
          e.preventDefault();
          $(".ui-i4").removeClass("active");
        });

        
      });

    </script>


      </div>
   </div>
</div>