<script src="https://kit.fontawesome.com/916442ede6.js" crossorigin="anonymous"></script>
<div class="bg-main-buy-house">
          
      </div>


<div class="jumbotron">
    <div class="container altura bg-white-trans">
      <div class="row">

       <section class="altura">
       <div>
        <h2 class="nblue animated animatedFadeInUp hsdreamfs">
                        VENDER MI CASA, COMPRAR LA DE MIS SUEÑOS
          </h2>
          <p>INDICACIONES: A tener una casa en la cual crear un hogar. Para poder ayudarte correctamente en tu sueño hemos creado un muy completo y simple llenado compuesto de 4 secciones. Solo llena lo que se te pide a continuacion.</p>
          </div>
       </section>

    <div>
       <div>
      <h3>Paso 1: SELECCION DE ESTILO DE ARQUITECTURA</h3>
      <p>Te mostramos a continuacion los estilos de construccion y arqiitectura de hoy dia, hay para todos los gustos y bolsillos. Si seleccionas una sola opcion entenderemos que tienes muy claro tu sueño, y para los que no lo tienen muy claro, selecciona 3 o 4 opciones no te limites. Nuestro favorito es el sustentable.</p>
        </div>
<div class="ui-159">    

            <!-- All -->
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'rsz_adobe.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>ADOBE</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 50%">
                                <h4><a href="https://www.ecosia.org/images?q=arquitectura+de+adobe" target="_blank">IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'bajo-la-tierra.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>BAJO LA TIERRA</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 50%">
                                <h4><a href="https://www.ecosia.org/images?q=viviendas+bajo+la+tierra" target="_blank">IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'bungalo-de-playa.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>BUNGALO DE PLAYA</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 50%">
                                <h4><a href="https://www.ecosia.org/images?q=bungalos+de+playa" target="_blank">IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'bungalow.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>BUNGALOW</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 50%">
                                <h4><a href="https://www.ecosia.org/images?q=bungalow" target="_blank">IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'cabaña-de-madera.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>CABAÑA DE MADERA</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 50%">
                                <h4><a href="https://www.ecosia.org/images?q=caba%C3%B1a+de+madera" target="_blank">IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'cabaña-estilo-cottage.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>CABAÑA ESTILO COTTAGE</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 50%">
                                <h4><a href="https://www.ecosia.org/images?q=caba%C3%B1a+cottage" target="_blank">IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'casas-de-arbol.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>CASAS DE ARBOL</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 50%">
                                <h4><a href="https://www.ecosia.org/images?q=casas+de+arbol+sustentables">IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'casas-infonavit.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>CASAS INFONAVIT</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 50%">
                                <h4><a href="https://www.ecosia.org/images?q=casas+infonavit" target="_blank">IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'casas-sustentables.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>CASAS SUSTENTABLES</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 50%">
                                <h4><a href="https://www.ecosia.org/images?q=casas+arquitectura+sustentables" target="_blank">IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'estilo-americano.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>ESTILO AMERICANO</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 50%">
                                <h4><a href="https://www.ecosia.org/images?q=casas+estilo+americano" target="_blank">IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'estilo-art-deco.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>ESTILO ART DECO</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 50%">
                                <h4><a href="https://www.ecosia.org/images?q=casas+estilo+art+deco" target="_blank">IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'estilo-californiano.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>ESTILO CALIFORNIANO</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 50%">
                                <h4><a href="https://www.ecosia.org/images?q=casas+estilo+californiano" target="_blank">IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'estilo-clasico.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>ESTILO CLASICO</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 50%">
                                <h4><a href="https://www.ecosia.org/images?q=casas+estilo+clasico" target="_blank">IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'estilo-colonial.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>ESTILO COLONIAL</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 50%">
                                <h4><a href="https://www.ecosia.org/images?q=casas+estilo+colonial" target="_blank">IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'estilo-contemporaneo.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>ESTILO CONTEMPORANEO</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 50%">
                                <h4><a href="https://www.ecosia.org/images?q=casas+estilo+contemporaneo" target="_blank">IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
              <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'estilo-deconstructivismo.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>ESTILO DECONSTRUCTIVO</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 50%">
                                <h4><a href="https://www.ecosia.org/images?q=casas+estilo+deconstructivo" target="_blank">IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

              <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'estilo-frances-chapeau.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>ESTILO FRANCES CHAPEAU</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 50%">
                                <h4><a href="https://www.ecosia.org/images?q=casas+estilo+frances+chapeau" target="_blank">IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'estilo-hacienda.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>HACIENDA</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 50%">
                                <h4><a href="https://www.ecosia.org/images?q=hacienda" target="_blank">IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'estilo-ingles.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>ESTILO INGLES</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 50%">
                                <h4><a href="https://www.ecosia.org/images?q=casas+estilo+ingles" target="_blank">IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
              <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'moderno-contemporaneo.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>MODERNO/ CONTEMPORANEO</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 50%">
                                <h4><a href="https://www.ecosia.org/images?q=casas+estilo+moderno+contemporaneo" target="_blank">IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
        
    </div>

<!-- BEGINING OF MOSTRAR MAS WHERE IT SHOWS ALL THE NON-COMMON FOR TOURISM COUNTRIES -->
      <div>
        <div  class="collapse" id="europaspre">
             <!-- UI # -->
        <div class="ui-159">
        
            <!-- All -->
            <!-- All -->
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'estilo-mediterraneo.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>ESTILO MEDITERRANEO</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 50%">
                                <h4><a href="https://www.ecosia.org/images?q=casas+estilo+mediterraneo" target="_blank">IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'estilo-mexicano.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>ESTILO MEXICANO</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 50%">
                                <h4><a href="https://www.ecosia.org/images?q=casas+estilo+mexicano" target="_blank">IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'estilo-minimalista.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>ESTILO MINIMALISTA</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 50%">
                                <h4><a href="https://www.ecosia.org/images?q=casas+estilo+minimalista" target="_blank">IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'estilo-moderno.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>ESTILO MODERNO</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 50%">
                                <h4><a href="https://www.ecosia.org/images?q=casas+estilo+moderno" target="_blank">IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'estilo-neoclasico.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>ESTILO NEOCLASICO</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 50%">
                                <h4><a href="https://www.ecosia.org/images?q=casas+estilo+neoclasico" target="_blank">IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'estilo-pintorequismo.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>ESTILO PINTOREQUISMO</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 50%">
                                <h4><a href="https://www.ecosia.org/images?q=casas+estilo+pintoresco" target="_blank">IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'estilo-postmoderno.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>ESTILO POSTMODERNO</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 50%">
                                <h4><a href="https://www.ecosia.org/images?q=casas+estilo+postmoderno" target="_blank">IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'estilo-racionalista.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>ESTILO RACIONALISTA</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 50%">
                                <h4><a href="https://www.ecosia.org/images?q=casas+estilo+racionalista" target="_blank">IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

              <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'estilo-tudor.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>ESTILO TUDOR</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 50%">
                                <h4><a href="https://www.ecosia.org/images?q=casas+estilo+tudor" target="_blank">IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

              <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'estilo-vanguardista.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>ESTILO VANGUARDISTA</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 50%">
                                <h4><a href="https://www.ecosia.org/images?q=arquitectura+vanguardista" target="_blank">IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'hanok.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>HANOK</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 50%">
                                <h4><a href="https://www.ecosia.org/images?q=hanok" target="_blank">IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'palafitos.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>PALAFITOS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover ui-image-hover">
                                <div class="ui-name" style="margin-top: 50%">
                                <h4><a href="https://www.ecosia.org/images?q=palafitos" target="_blank">IMAGENES</a></h4>
                                </div>
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            
            </div>
         </div>
               <a class="btn btn-icon-only black btn-white bg-bluetravel" role="button" data-toggle="collapse" href="#europaspre" aria-expanded="false" aria-controls="collapseExample">
                            VER TODOS LOS ESTILOS
                  </a>
      </div>
<!-- END OF THE FIRST SECTION "PASO 1" BEGIN OF THE SECOND SECTION "PASO 2" -->
      <div>
        <div>
          <h3>
            Paso 2: NUMERO DE HABITANTES
          </h3>
          <p>Aqui podras elegir la cantidad de habitantes que habitaran la casa, nos ayudara a comprender cuantas habitaciones necesitas.</p>
        </div>
        <div>
          <div class="ui-159">

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'familia-de-uno.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>UNO</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'familia-de-dos.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>FAMILIA DE 2</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'familia-de-tres.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>FAMILIA DE 3</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'familia-de-cuatro.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>FAMILIA DE 4</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'familia-de-cinco.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>FAMILIA DE 5</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'familia-de-6.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>FAMILIA DE 6</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'familia-de-7.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>FAMILIA DE 7</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'familia-de-8.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>FAMILIA DE 8</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'familia-muy-grande.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>FAMILIA MUY GRANDE <br> (9 o mas)</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 
       
    </div>
    </div>


    </div>


        </div>
      </div>
<!-- END OF THE SECOND SECTION "PASO 2" BEGIN OF THE THIRD SECTION "PASO 3" -->
<div>
        <div>
          <h3>
            PASO 3: SELECCION DE CUARTOS
          </h3>
          <p>IMPORTANTE: A continuacion se te presentaran todos los tipos de cuartos que una casa puede contener, deberas armar tu casa cuarto por cuarto que desees, por ejemplo: Elegir la recamara y a continuacion el numero de recamaras que se desea en la casa y despues seleccionar cuantas de esas recamaras desea que sean matrimoniales o individuales, al terminar puedes continuar con el siguiente tipo de habitacion que desea en la casa sucesivamente. Solo contaran aquellas habitaciones que sean seleccionadas.</p>
        </div>
          <div class="ui-159">

          <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'dormitorio.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi" role="button" data-toggle="collapse" href="#dormitorio" aria-expanded="false" aria-controls="collapseExample">                                <!-- Heading -->
                                <h6>DORMITORIOS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div class="collapse" id="dormitorio">
            <p>Selecciona la cantidad de dormitorios que deseas.</p>

            <div class="ui-i5">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'beige.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi" role="button" data-toggle="collapse" href="#dor1" aria-expanded="false" aria-controls="collapseExample">                                <!-- Heading -->
                                <h6>1</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
                 <div class="collapse altura" id="dor1">
                 <p>De ese dormitorio escoge si deseas que sea matrimonial o individual</p>

                              <div class="col-md-12">
                              
                                <!-- Item -->
                                <div class="ui-item">
                                  <!-- Heading -->
                                  <div class="ui-head">
                                    <!-- Para -->
                                  </div>
                                  <!-- Body -->
                                        <div class="col-md-12 col-sm-12  col-xs-12 col-padd">
                                          <!-- Body item -->
                                          <div class="ui-bitem clearfix">
                                            <select name=””>
                                               <option value=”matrimonial”> matrimonial </option>
                                               <option value=”individual”> individual </option>
                                             </select>

                                          </div>
                                        </div>
                                  <!-- Foot -->
                                </div>
                              
                              </div>

                 </div>
            <div class="ui-i5">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'beige.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi" role="button" data-toggle="collapse" href="#dor2" aria-expanded="false" aria-controls="collapseExample">                                <!-- Heading -->
                                <h6>2</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div class="collapse" id="dor2">
                           <p>Selecciona cuantos de esos 2 dormitorios deseas que sean matrimoniales e individuales</p>

                             <div class="col-md-6">
                              
                                <!-- Item -->
                                <div class="ui-item">
                                  <!-- Heading -->
                                  <div class="ui-head">
                                    <!-- Heading -->
                                    <h4 class="fs-18">Matrimoniales</h4>
                                    <!-- Para -->
                                  </div>
                                  <!-- Body -->
                                        <div class="col-md-12 col-sm-12  col-xs-12 col-padd">
                                          <!-- Body item -->
                                          <div class="ui-bitem clearfix">
                                            <select name=””>
                                            <option value=”individual”> 0 </option>
                                               <option value=”matrimonial”> 1 </option>
                                               <option value=”individual”> 2 </option>
                                             </select>

                                          </div>
                                        </div>
                                  <!-- Foot -->
                                </div>
                              
                              </div>

                              <div class="col-md-6">
                              
                                <!-- Item -->
                                <div class="ui-item">
                                  <!-- Heading -->
                                  <div class="ui-head">
                                    <!-- Heading -->
                                    <h4 class="fs-18">Individuales</h4>
                                    <!-- Para -->
                                  </div>
                                  <!-- Body -->
                                        <div class="col-md-12 col-sm-12  col-xs-12 col-padd">
                                          <!-- Body item -->
                                          <div class="ui-bitem clearfix">
                                            <select name=””>
                                            <option value=”individual”> 0 </option>
                                               <option value=”matrimonial”> 1 </option>
                                               <option value=”individual”> 2 </option>
                                             </select>

                                          </div>
                                        </div>
                                  <!-- Foot -->
                                </div>
                              
                              </div>
              
            </div>

            <div class="ui-i5">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'beige.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi" role="button" data-toggle="collapse" href="#dor3" aria-expanded="false" aria-controls="collapseExample">                                <!-- Heading -->
                                <h6>3</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div class="collapse" id="dor3">

             <p>Selecciona cuantos de esos 3 dormitorios deseas que sean matrimoniales e individuales</p>

                             <div class="col-md-6">
                              
                                <!-- Item -->
                                <div class="ui-item">
                                  <!-- Heading -->
                                  <div class="ui-head">
                                    <!-- Heading -->
                                    <h4 class="fs-18">Matrimoniales</h4>
                                    <!-- Para -->
                                  </div>
                                  <!-- Body -->
                                        <div class="col-md-12 col-sm-12  col-xs-12 col-padd">
                                          <!-- Body item -->
                                          <div class="ui-bitem clearfix">
                                            <select name=””>
                                            <option value=”individual”> 0 </option>
                                               <option value=”matrimonial”> 1 </option>
                                               <option value=”individual”> 2 </option>
                                               <option value=”individual”> 3 </option>
                                             </select>

                                          </div>
                                        </div>
                                  <!-- Foot -->
                                </div>
                              
                              </div>

                              <div class="col-md-6">
                              
                                <!-- Item -->
                                <div class="ui-item">
                                  <!-- Heading -->
                                  <div class="ui-head">
                                    <!-- Heading -->
                                    <h4 class="fs-18">Individuales</h4>
                                    <!-- Para -->
                                  </div>
                                  <!-- Body -->
                                        <div class="col-md-12 col-sm-12  col-xs-12 col-padd">
                                          <!-- Body item -->
                                          <div class="ui-bitem clearfix">
                                            <select name=””>
                                            <option value=”individual”> 0 </option>
                                               <option value=”matrimonial”> 1 </option>
                                               <option value=”individual”> 2 </option>
                                               <option value=”individual”> 3 </option>
                                             </select>

                                          </div>
                                        </div>
                                  <!-- Foot -->
                                </div>
                              
                              </div>
              

            </div>

            <div class="ui-i5">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'beige.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi" role="button" data-toggle="collapse" href="#dor4" aria-expanded="false" aria-controls="collapseExample">                                <!-- Heading -->
                                <h6>4</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div class="collapse" id="dor4">

             <p>Selecciona cuantos de esos 4 dormitorios deseas que sean matrimoniales e individuales</p>

                             <div class="col-md-6">
                              
                                <!-- Item -->
                                <div class="ui-item">
                                  <!-- Heading -->
                                  <div class="ui-head">
                                    <!-- Heading -->
                                    <h4 class="fs-18">Matrimoniales</h4>
                                    <!-- Para -->
                                  </div>
                                  <!-- Body -->
                                        <div class="col-md-12 col-sm-12  col-xs-12 col-padd">
                                          <!-- Body item -->
                                          <div class="ui-bitem clearfix">
                                            <select name=””>
                                            <option value=”individual”> 0 </option>
                                               <option value=”matrimonial”> 1 </option>
                                               <option value=”individual”> 2 </option>
                                               <option value=”individual”> 3 </option>
                                               <option value=”individual”> 4 </option>
                                             </select>

                                          </div>
                                        </div>
                                  <!-- Foot -->
                                </div>
                              
                              </div>

                              <div class="col-md-6">
                              
                                <!-- Item -->
                                <div class="ui-item">
                                  <!-- Heading -->
                                  <div class="ui-head">
                                    <!-- Heading -->
                                    <h4 class="fs-18">Individuales</h4>
                                    <!-- Para -->
                                  </div>
                                  <!-- Body -->
                                        <div class="col-md-12 col-sm-12  col-xs-12 col-padd">
                                          <!-- Body item -->
                                          <div class="ui-bitem clearfix">
                                            <select name=””>
                                            <option value=”individual”> 0 </option>
                                               <option value=”matrimonial”> 1 </option>
                                               <option value=”individual”> 2 </option>
                                               <option value=”individual”> 3 </option>
                                               <option value=”individual”> 4 </option>
                                             </select>

                                          </div>
                                        </div>
                                  <!-- Foot -->
                                </div>
                              
                              </div>
              

            </div>

            <div class="ui-i5">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'beige.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi" role="button" data-toggle="collapse" href="#dor5" aria-expanded="false" aria-controls="collapseExample">                                <!-- Heading -->
                                <h6>5</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div class="collapse" id="dor5">

             <p>Selecciona cuantos de esos 5 dormitorios deseas que sean matrimoniales e individuales</p>

                             <div class="col-md-6">
                              
                                <!-- Item -->
                                <div class="ui-item">
                                  <!-- Heading -->
                                  <div class="ui-head">
                                    <!-- Heading -->
                                    <h4 class="fs-18">Matrimoniales</h4>
                                    <!-- Para -->
                                  </div>
                                  <!-- Body -->
                                        <div class="col-md-12 col-sm-12  col-xs-12 col-padd">
                                          <!-- Body item -->
                                          <div class="ui-bitem clearfix">
                                            <select name=””>
                                            <option value=”individual”> 0 </option>
                                               <option value=”matrimonial”> 1 </option>
                                               <option value=”individual”> 2 </option>
                                               <option value=”individual”> 3 </option>
                                               <option value=”individual”> 4 </option>
                                               <option value=”individual”> 5 </option>
                                             </select>

                                          </div>
                                        </div>
                                  <!-- Foot -->
                                </div>
                              
                              </div>

                              <div class="col-md-6">
                              
                                <!-- Item -->
                                <div class="ui-item">
                                  <!-- Heading -->
                                  <div class="ui-head">
                                    <!-- Heading -->
                                    <h4 class="fs-18">Individuales</h4>
                                    <!-- Para -->
                                  </div>
                                  <!-- Body -->
                                        <div class="col-md-12 col-sm-12  col-xs-12 col-padd">
                                          <!-- Body item -->
                                          <div class="ui-bitem clearfix">
                                            <select name=””>
                                            <option value=”individual”> 0 </option>
                                               <option value=”matrimonial”> 1 </option>
                                               <option value=”individual”> 2 </option>
                                               <option value=”individual”> 3 </option>
                                               <option value=”individual”> 4 </option>
                                               <option value=”individual”> 5 </option>
                                             </select>

                                          </div>
                                        </div>
                                  <!-- Foot -->
                                </div>
                              
                              </div>
              

            </div>




            </div>

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'baño.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi" role="button" data-toggle="collapse" href="#baño" aria-expanded="false" aria-controls="collapseExample">                                <!-- Heading -->
                                <h6>BAÑOS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div class="collapse" id="baño">

            <p>Selecciona la cantidad de baños que deseas</p>

            <div class="ui-i5">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'beige.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <h6>1</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i5">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'beige.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <h6>2</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i5">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'beige.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <h6>3</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i5">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'beige.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <h6>4</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i5">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'beige.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <h6>5</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>




            </div>

          <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'garage.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi" role="button" data-toggle="collapse" href="#garage" aria-expanded="false" aria-controls="collapseExample">                                <!-- Heading -->
                                <h6>GARAGE</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div class="collapse" id="garage">

            <p>Selecciona la capacidad de autos que deseas en el garage</p>

            <div class="ui-i5">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'beige.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <h6>1</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i5">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'beige.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <h6>2</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i5">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'beige.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <h6>3</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <p>AUTOS</p>

            </div>

           <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'cocina.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi" role="button" data-toggle="collapse" href="#cocina" aria-expanded="false" aria-controls="collapseExample">                                <!-- Heading -->
                                <h6>COCINA</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div class="collapse" id="cocina">

            <p>Selecciona el tamaño de la cocina</p>

            <div class="col-md-12 altura">
                              
                                <!-- Item -->
                                <div class="ui-item">
                                  <!-- Heading -->
                                  <div class="ui-head">
                                    <!-- Heading -->
                                    <!-- Para -->
                                  </div>
                                  <!-- Body -->
                                        <div class="col-md-12 col-sm-12  col-xs-12 col-padd">
                                          <!-- Body item -->
                                          <div class="ui-bitem clearfix">
                                            <select name=””>
                                            <option value=”pequeña”> pequeña </option>
                                               <option value=”mediana”> mediana </option>
                                               <option value=”grande”> grande </option>
                                             </select>

                                          </div>
                                        </div>
                                  <!-- Foot -->
                                </div>
                              
                              </div>

            </div>

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'comedor.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>COMEDOR</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'estudio.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>ESTUDIO</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'sala-de-estar.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>SALA DE ESTAR</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'terraza.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>TERRAZA</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'atico.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>ATICO</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'sotano.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>SOTANO</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'cuarto-de-lavado.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>CUARTO DE LAVADO</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'jardin.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>JARDIN</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'sala-comedor.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>SALA COMEDOR</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'oficina-domestica.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>OFICINA DOMESTICA</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>








    </div>


    </div>


<!-- END OF THE SECTION "PASO 3" BEGIN OF THE FOURTH SECTION "PASO 4" -->
 
      <div>
        <div>
        
          <h3>
            PASO 4: SELECCION DE ACTIVIDADES Y DETALLES
          </h3>
          <p>Aqui se te presentaran las actividades y detalles especiales que mas te podrian encantar, recuerda que el proposito de Noblidream es ayudarte desde el inicio al final a cumplir tu sueño asi que queremos no solo ayudarte a conseguir una casa si no tu satisfaccion y felicidad al lograr un sueño que es dificil.</p>

        </div>

        <div>
            
    <div class="ui-315">
      <div class="container-fluid">

        
        <div class="row">
        
          <div class="col-md-6">
          
            <!-- Pages Widget starts -->
            <div class="widget">

              
              <!-- Widget body starts -->
              <div class="w-body pages-widget">
                 
                <div class="table-responsive">
                  <table class="table table-hover">
                    <!-- Table heading -->
                    <tr> 
                      <th>Seleccion</th>
                      <th>Actividad</th>
                      <th>Status</th>
                
                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=casa+con+paneles+solares">Tener paneles solares</a></td>
                      <!-- Page size -->
                      <!-- Status -->
                      <td><span class="badge badge-blue"><i class="fa fa-bolt" aria-hidden="true"></i></span></td>

                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> <a href="https://www.ecosia.org/images?q=quinchos">Tener un quincho</a></td>
                      <!-- Page size -->
                      <!-- Status -->
                      <td><span class="badge badge-green"><i class="fa fa-binoculars" aria-hidden="true"></i></span></td>

                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td class="black"> <a href="https://www.ecosia.org/images?q=casa+con+calentador+solar"> Tener calentador solar</a> </td>
                      <td><span class="badge badge-green"><i class="fa fa-binoculars" aria-hidden="true"></i></span></td>
                      
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td class="black"> <a href="https://www.ecosia.org/images?q=decoracion+de+casas">Saber decorar mi casa</a></td>
                      <td><span class="badge badge-red"><i class="fa fa-university" aria-hidden="true"></i></span></td>
                     
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td class="black"><a href="https://www.ecosia.org/images?q=metodo+konmari">Aprender el metodo KonMari de orden en casas</a></td>
                      <td><span class="badge badge-red"><i class="fa fa-university" aria-hidden="true"></i></span></td>
                      
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td class="black"><a href="https://www.ecosia.org/images?q=aprovechando+el+espacio+de+las+casas">Aprender tips de multiple culturas para aprovechar el espacio de las casas</a></td>
                      <td><span class="badge badge-purple"><i class="fa fa-globe" aria-hidden="true"></i></span></td>
                     
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td><a href="https://www.ecosia.org/images?q=domotica+en+las+luces">Poder controlar las luces del hogar desde el celular</a></td>
                      <td><span class="badge badge-blue"><i class="fa fa-bolt" aria-hidden="true"></i></span></td>
                      
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td><a href="https://www.youtube.com/watch?v=GU7W4fDOV4A">Tener un sistema de domotica.</a></td>
                      <td><span class="badge badge-green"><i class="fa fa-binoculars" aria-hidden="true"></i></span></td>
                     
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>Tener un sistema de seguridad.</td>
                      <td><span class="badge badge-red"><i class="fa fa-university" aria-hidden="true"></i></span></td>
                     
                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> Tener un sistema de camaras.</td>
                      <td><span class="badge badge-purple"><i class="fa fa-globe" aria-hidden="true"></i></span></td>

                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>Lavador de platos</td>
                      <td><span class="badge badge-red"><i class="fa fa-university" aria-hidden="true"></i></span></td>
                      
                    </tr>
                  </table>
                </div>
                 
              </div>
              <!-- Widget body ends -->
              
            </div>
            <!-- Widget ends -->
          
          </div>
          <div class="col-md-6">
             <!-- Pages Widget starts -->
            <div class="widget">
              
              <!-- Widget body starts -->
              <div class="w-body pages-widget">
                 
                <div class="table-responsive">
                  <table class="table table-hover">
                    <!-- Table heading -->
                    <tr> 
                      <th>Seleccion</th>
                      <th>Actividad</th>
                      <th>Status</th>
                
                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"><a href="https://www.ecosia.org/images?q=creatividad+con+el+espacio+de+las+casas">Realizar transformaciones ingeniosas y creativas en tu casa.</a></td>
                      <!-- Page size -->
                      <!-- Status -->
                      <td><span class="badge badge-blue"><i class="fa fa-bolt" aria-hidden="true"></i></span></td>

                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"><a href="https://www.ecosia.org/images?q=sistema+de+iluminacion+natural+en+las+casas">Tener buenos sistemas de iluminacion natural</a></td>
                      <!-- Page size -->
                      <!-- Status -->
                      <td><span class="badge badge-red"><i class="fa fa-university" aria-hidden="true"></i></span></td>

                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td class="black">Rentar la casa o espacios de la casa. </td>
                      <td><span class="badge badge-red"><i class="fa fa-university" aria-hidden="true"></i></span></td>
                     
                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"><a href="https://www.ecosia.org/images?q=sistemas+de+reutilizacion+de+afua+de+lluvia+en+viviendas">Sistema de reciclaje de agua de lluvia para viviendas</a></td>
                      <!-- Page size -->
                      <!-- Status -->
                      <td><span class="badge badge-blue"><i class="fa fa-bolt" aria-hidden="true"></i></span></td>

                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black">Tener un sistema de interfon</td>
                      <!-- Page size -->
                      <!-- Status -->
                      <td><span class="badge badge-red"><i class="fa fa-university" aria-hidden="true"></i></span></td>

                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td class="black">Tener el equipamiento de una casa inteligente</td>
                      <td><span class="badge badge-red"><i class="fa fa-university" aria-hidden="true"></i></span></td>
                      
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td class="black">Sistema de cuidado para niños pequeños</td>
                      <td><span class="badge badge-red"><i class="fa fa-university" aria-hidden="true"></i></span></td>
                     
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td><a href="https://www.ecosia.org/images?q=sistemas+de+calefaccion+ecologicos">Sistemas de calefaccion </a></td>
                      <td><span class="badge badge-red"><i class="fa fa-university" aria-hidden="true"></i></span></td>
                      
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td>Sistema de electricidad de bajo consumo</td>
                      <td><span class="badge badge-red"><i class="fa fa-university" aria-hidden="true"></i></span></td>
                     
                    </tr>
                  </table>
                </div>
                 
              </div>
              <!-- Widget body ends -->
              
            </div>
            <!-- Widget ends -->
          </div>
          
        
        </div>
      
      </div>
      <p>Muy bien has terminado la seleccion. Ahora solo falta que envies tu seleccion.</p>
    </div>
    <%= link_to "ENVIAR", travel_steps_travel_path,
    class: "btn btn-solid2 js-goto-signup js-button-hero-get-free" %>

        </div>

<!-- END OF THE THIRD SECTION "PASO 3" BEGIN OF THE EXPERT TRAVELER DREAM SECTION "SELECT ALL" -->

<div class="espacio">
        <div>
          <h3>
            SUEÑO CONOCEDOR DE CULTURAS Y CASAS
          </h3>
          <p>Vivir en todos los tipos de viviendas que les interesan al menos una semana. Para aquellas personas que quieren saber que estan tomando la mejor decision.</p>
        </div>
        <div>
          <div class="ui-all text-center">
                <a href="#" class="all btn btn-red">SELECCIONAR</a> &nbsp; <a href="#" class="none btn btn-lblue">DESELECCIONAR</a>
          </div>
            <p>No olvides Enviar al terminar tu seleccion.</p>
        </div>
      </div>  
    <script>
      $(document).ready(function(){
      
        <!-- Select and deselect on click -->
        $(".ui-i3 .ui-item").click(function(){
          if($(this).parent().hasClass("active")){
            $(this).parent().removeClass("active");
          }
          else{
            $(this).parent().addClass("active");
          }
        });
        
        <!-- Select all -->
        $(".ui-all .all").click(function(e){
          e.preventDefault();
          $(".ui-i3").removeClass("active").addClass("active");
        });
        
        <!-- Select none -->
        $(".ui-all .none").click(function(e){
          e.preventDefault();
          $(".ui-i3").removeClass("active");
        });

        
      });

    </script>

    <script>
      $(document).ready(function(){
      
        <!-- Select and deselect on click -->
        $(".ui-i4 .ui-item").click(function(){
          if($(this).parent().hasClass("active")){
            $(this).parent().removeClass("active");
          }
          else{
            $(this).parent().addClass("active");
          }
        });
        
        <!-- Select all -->
        $(".ui-all .all").click(function(e){
          e.preventDefault();
          $(".ui-i4").removeClass("active").addClass("active");
        });
        
        <!-- Select none -->
        $(".ui-all .none").click(function(e){
          e.preventDefault();
          $(".ui-i4").removeClass("active");
        });

        
      });

    </script>

    <script>
      $(document).ready(function(){
      
        <!-- Select and deselect on click -->
        $(".ui-i5 .ui-item").click(function(){
          if($(this).parent().hasClass("active")){
            $(this).parent().removeClass("active");
          }
          else{
            $(this).parent().addClass("active");
          }
        });
        
        <!-- Select all -->
        $(".ui-all .all").click(function(e){
          e.preventDefault();
          $(".ui-i5").removeClass("active").addClass("active");
        });
        
        <!-- Select none -->
        $(".ui-all .none").click(function(e){
          e.preventDefault();
          $(".ui-i5").removeClass("active");
        });

        
      });

    </script>



      </div>
    </div>
   </div>