	<script src="//cdn.optimizely.com/js/146312396.js"></script>
  <script src="https://kit.fontawesome.com/916442ede6.js" crossorigin="anonymous"></script>
  <script src="main.js"></script>
<head>
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
</head>
<!-- PARA ESCONDER OBJETOS EN MEDIAS O EN GENRAL ES hidden-xs COMO CLASE. HABIA UNO JUNTO A bg-main -->
      <div class="bg-main">
  
          <div style="display: block; background-image: url(&quot;http://imageshack.com/a/img922/6182/u5STDt.png&quot;);" class="bg-main-img lazy lazy-no-small" data-original="http://imageshack.com/a/img922/6182/u5STDt.png"></div> -->
      </div>
        

<!-- en class del div fantasma hidden-sm hidden-md hidden-lg -->
<div class="jumbotron jumbotron-albums jumbotron-hero h-ini">
  <div style="background-image: url(&quot; &quot;); display: block; " class="jumbotron-bg lazy lazy-no-small" data-original=""></div>
    <div class="container">
        <div id="carousel-tour" class="carousel slide" data-ride="carousel" data-interval="false">
          <!-- Indicators -->
          <ol class="carousel-indicators">
                          <li data-target="#carousel-tour" data-slide-to="0" class="active js-button-hero-carousel-dots"></li>
                          <li data-target="#carousel-tour" data-slide-to="1" class="js-button-hero-carousel-dots"></li>
                          <li data-target="#carousel-tour" data-slide-to="2" class="js-button-hero-carousel-dots"></li>
                      </ol>
          <!-- Wrapper for slides -->
<div style="height: 532px;" class="carousel-inner" role="listbox">
  <div style="margin-top: 170px; margin-bottom: 120px;" class="item active">
    <h1>
      <span class="text-white">
                  Sueños que cambian la vida.
      </span>
    </h1>
    <!-- <a href="http://localhost:3000/pages/dreams" class="btn btn-solid3 js-goto-signup js-button-hero-get-free" data-tracking="{&quot;category&quot;: &quot;download&quot;, &quot;action&quot;: &quot;download start&quot;, &quot;label&quot;: &quot;download-home-hero-carousel&quot;}">
            ELEGIR SUEÑO
    </a> -->
    <%= link_to "ELEGIR SUEÑO", dreams_path,
     class: "btn btn-solid3 js-goto-signup js-button-hero-get-free" %>
   

 <span class="ui-50">
    <a href="#" class="ui-trigger btn btn-halo js-button-hero-get-premium">
            VER VIDEO
    </a>
    <div class="ui-outer">
        <a href="#" class="ui-close">x</a>
        <!-- Content -->
      <div>
            <iframe width="560" height="300" src="https://www.youtube.com/embed/cwbATNVBhVw" frameborder="0" allowfullscreen></iframe>
          </div>
      </div>
   </span>


  </div>
                  <div style="" class="item">
    <h1>
      <span class="text-white">
        Consigue tu sueño, consigue tu vida<br>
      </span>
    </h1>
    <span class="ui-50">
    <a href="#" class="ui-trigger btn btn-halo js-button-hero-get-premium">
            VER VIDEO
    </a>
    <div class="ui-outer">
        <a href="#" class="ui-close">x</a>
        <!-- Content -->
      <div>
            <iframe width="560" height="300" src="https://www.youtube.com/embed/cwbATNVBhVw" frameborder="0" allowfullscreen></iframe>
          </div>
      </div>
   </span>
  </div>

                            <div style="margin-top: 60px; margin-bottom: 60px;" class="item">
    <h1>
      <span class="text-white">
                Confia en tu pasion, logra tus sueños.
      </span>
    </h1>
    <span class="ui-50">
    <a href="#" class="ui-trigger btn btn-halo js-button-hero-get-premium">
            VER VIDEO
    </a>
    <div class="ui-outer">
        <a href="#" class="ui-close">x</a>
        <!-- Content -->
      <div>
            <iframe width="560" height="300" src="https://www.youtube.com/embed/cwbATNVBhVw" frameborder="0" allowfullscreen></iframe>
          </div>
      </div>
   </span>
  </div>

                      </div>

          <!-- Controls -->
          <a class="left carousel-control js-button-hero-carousel-left-arrow" href="#carousel-tour" data-slide="prev">
            <span class="icon-prev"></span>
            <span class="sr-only">
                            Anterior
            </span>
          </a>
          <a class="right carousel-control js-button-hero-carousel-right-arrow" href="#carousel-tour" data-slide="next">
            <span class="icon-next"></span>
            <span class="sr-only">
                            Siguiente
            </span>
          </a>
        </div>
          </div>
  </div>

  <div class="container">
      <a class="btn-scroll btn-scroll-aquamarine" >
    <div class="btn-scroll-arrow">
      <svg><use xlink:href="#scroll-down"></use></svg>
      <svg><use xlink:href="#scroll-down"></use></svg>
    </div>
      </a>

  </div>

  <div class="jumbotron jumbotron-whats-on bg-white">
    <div class="container altura">
      <div class="row">
        <div class="col-sm-7 col-sm-push-5 col-md-5 col-md-push-7">
          <h2 class="text-klein-purple animated animatedFadeInUp">
                        ¿Qué encuentras en Noblidream?
          </h2>
          <div class="animated animatedFadeInUp">
            <h3 class="text-klein-purple">
                            Sueños
            </h3>
            <p>
                            Noblidream logra que el cumplir sueños sea alcanzable. Encuentra el tuyo, descubre nuevos sueños, cumple las metas y hazlos realidad.
            </p>
          </div>
          <div class="animated animatedFadeInUp">
            <h3 class="text-klein-purple">
                            Motivacion y apoyo
            </h3>
            <p>
                            Disfruta de las historias, videos y frases que te motivaran a cumplir tu sueño.
                            Reuniones y nuevas amistades con personas con sueños como tu. 
            </p>
          </div>
          <div class="animated animatedFadeInUp">
            <h3 class="text-klein-purple">
                            Grandes sueños
            </h3>
            <p>
                            Mas ayuda, cada dia logramos que cumplir tus sueños sea mas sencillo, incluso los mas complicados, descubre las historias de algunos soñadores y motivate a lograr los tuyos. 
            </p>
          </div>
        </div>
        <div class="col-sm-5 col-sm-pull-7 col-md-6 col-md-pull-5">
           <!-- UI # -->
      <div class="ui-159">
        
            <!-- All -->
            <div class="ui-i">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <!--<a href="http://localhost:3000/pages/dreams"> -->
                      <%= link_to dreams_path do %>
                      <%= image_tag'emprendedor.jpg', :class => 'img-responsive', :size => '200x200'%>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-blue">
                                <!-- Heading -->
                                <h6>Crear mi propio negocio</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                </div>
                  <!-- </a>-->
                            </div>
                      <% end %>
                </div>
            </div>
            
            <div class="ui-i">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= link_to dreams_path do %>
                    <%= image_tag 'viajar1_recortado.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-blue">
                                <!-- Heading -->
                                <h6>Viajar por el mundo</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                </div>
                            </div>
                    <% end %>
                </div>
            </div>
            
            <div class="ui-i">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= link_to dreams_path do %>
                    <%= image_tag 'ser_deportista_profesional.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-blue">
                                <!-- Heading -->
                                <h6>Ser deportista profesional</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                </div>
                            </div>
                    <% end %>
                </div>
            </div>
            
            <div class="ui-i">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= link_to dreams_path do %>
                    <%= image_tag 'ser_independiente_pre.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-blue">
                                <!-- Heading -->
                                <h6>Ser alguien independie<br>nte</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                </div>
                            </div>
                    <% end %>
                </div>
            </div>
            
            <div class="ui-i">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= link_to dreams_path do %>
                    <%= image_tag 'ser_un_buen_lider_pre.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-blue">
                                <!-- Heading -->
                                <h6>Ser un buen lider</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                </div>
                            </div>
                    <% end %>
                </div>
            </div>
            
            <div class="ui-i">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= link_to dreams_path do %>
                    <%= image_tag 'encontrar_mi_mayor_pasion_pre.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-blue">
                                <!-- Heading -->
                                <h6>Encontrar mi mayor pasion</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                </div>
                            </div>
                    <% end %>
                </div>
            </div>
            
            <div class="ui-i">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= link_to dreams_path do %>
                    <%= image_tag 'comprar_portada1.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-blue">
                                <!-- Heading -->
                                <h6>Comprar algo que siempre desee</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                </div>
                            </div>
                    <% end %>
                </div>
            </div>
            
            <div class="ui-i">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= link_to dreams_path do %>
                    <%= image_tag 'amor_portada9.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-blue">
                                <!-- Heading -->
                                <h6>Encontrar el amor</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                </div>
                            </div>
                    <% end %>
                </div>
            </div>
            
            <div class="ui-i">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= link_to dreams_path do %>
                    <%= image_tag 'habilidad_portada3.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-blue">
                                <!-- Heading -->
                                <h6>Aprender una habilidad nueva</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                </div>
                            </div>
                    <% end %>
                </div>
            </div>
            
            <div class="ui-i">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= link_to dreams_path do %>
                    <%= image_tag 'amistad_portada3.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-blue">
                                <!-- Heading -->
                                <h6>Tener nuevos amigos</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                </div>
                            </div>
                    <% end %>
                </div>
            </div>
            
            <div class="ui-i">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= link_to dreams_path do %>
                    <%= image_tag 'auto_nuevo_portada.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-blue">
                                <!-- Heading -->
                                <h6>Tener un auto nuevo</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                </div>
                            </div>
                    <% end %>
                </div>
            </div>
            
            <div class="ui-i">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= link_to dreams_path do %>
                    <%= image_tag 'felicidad_plena.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-blue">
                                <!-- Heading -->
                                <h6>Ser mas feliz</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                </div>
                            </div>
                    <% end %>
                </div>
            </div> 
            <div class="ui-i">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= link_to dreams_path do %>
                    <%= image_tag 'tiempo_portada.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-blue">
                                <!-- Heading -->
                                <h6>Tener mas tiempo libre</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                </div>
                            </div>
                    <% end %>
                </div>
            </div>
            <div class="ui-i">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= link_to dreams_path do %>
                    <%= image_tag 'aurora_boreal_pre.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-blue">
                                <!-- Heading -->
                                <h6>Ver una aurora boreal</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                </div>
                            </div>
                    <% end %>
                </div>
            </div>
              <div class="ui-i">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= link_to dreams_path do %>
                    <%= image_tag 'ayudar_a_alguien_que_me_necesite_pre.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-blue">
                                <!-- Heading -->
                                <h6>Ayudar a alguien que me necesite</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                </div>
                            </div>
                    <% end %>
                </div>
            </div>
              <div class="ui-i">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= link_to dreams_path do %>
                    <%= image_tag 'salud.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-blue">
                                <!-- Heading -->
                                <h6>Tener una buena salud</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                </div>
                            </div>
                    <% end %>
                </div>
            </div>
            <div class="ui-i">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= link_to dreams_path do %>
                    <%= image_tag 'mundial_futbol_pre.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-blue">
                                <!-- Heading -->
                                <h6>Ir al mundial</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                </div>
                            </div>
                    <% end %>
                </div>
            </div>
            <div class="ui-i">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= link_to dreams_path do %>
                    <%= image_tag 'familia_casa_portada.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-blue">
                                <!-- Heading -->
                                <h6>Tener una gran casa nueva</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                </div>
                            </div>
                    <% end %>
                </div>
            </div>
            <div class="ui-i">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= link_to dreams_path do %>
                    <%= image_tag 'ser_mejor_persona_pre.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-blue">
                                <!-- Heading -->
                               <h6>Ser una mejor persona</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                </div>
                            </div>
                    <% end %>
                </div>
            </div> 
            <div class="ui-i">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= link_to dreams_path do %>
                    <%= image_tag 'poder_volar.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-blue">
                                <!-- Heading -->
                               <h6>Poder volar</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                </div>
                            </div>
                    <% end %>
                </div>
                <!-- Links -->
            </div>
        </div> 
<script>
            $(document).ready(function(){
            
                <!-- Select and deselect on click -->
                $(".ui-i .ui-item").click(function(){
                    if($(this).parent().hasClass("active")){
                        $(this).parent().removeClass("active");
                    }
                    else{
                        $(this).parent().addClass("active");
                    }
                });
                
                <!-- Select all -->
                $(".ui-all .all").click(function(e){
                    e.preventDefault();
                    $(".ui-i").removeClass("active").addClass("active");
                });
                
                <!-- Select none -->
                $(".ui-all .none").click(function(e){
                    e.preventDefault();
                    $(".ui-i").removeClass("active");
                });
                
            });

            $.each($('div[id^=map]'), function(){
            loadMap($(this).attr('id'), 12);
          }) 
       <!--$('.ui-i.active').length -->
        </script>
        </div>
      </div>
    </div>
  </div>





  <div class="container">
      <a class="btn-scroll btn-scroll-aquamarine pull-left hidden-xs" name="a-few-features" >
    <div class="btn-scroll-arrow">
      <svg><use xlink:href="#scroll-down"></use></svg>
      <svg><use xlink:href="#scroll-down"></use></svg>
    </div>
      </a>

  </div>

  <div class="jumbotron jumbotron-albums jumbotron-subscriptions">
  <!-- en class del div fantasma hidden-sm hidden-md hidden-lg -->
          <div style="background-image: url(&quot;&quot;); display: block;" class="jumbotron-bg lazy lazy-no-small" data-original=""></div>
        <div class="container">
      <div class="row">
        <div class="col-md-6 col-xs-12 text-left text-white">
          <div class="animated animatedFadeInUp">
            <h2>
                            Empieza.
            </h2>
          </div>
          <div class="animated animatedFadeInUp">
            <h3 class="text-aquamarine">
                            Metas
            </h3>
            <p>
                            ¿Ya creaste tu sueño?  Se te enviara las primeras opciones y metas que mas te convengan, de las cuales podras seleccionar tantas como quieras.
            </p>
          </div>
          <div class="animated animatedFadeInUp">
            <h3 class="text-aquamarine">
                            Plan
            </h3>
            <p>
                            De acuerdo a tus metas seleccionadas se te creara un plan de acciones con soluciones para tu sueño.
            </p>
          </div>
          <div class="animated animatedFadeInUp">
            <h3 class="text-aquamarine">
                            Ahorro
            </h3>
            <p>
                            De acuerdo a tu plan elegido podras empezar a ahorrar para cumplir tu sueño, se te otorgaran metas de ahorro y tu decidiras cuanto es lo que puedes ahorrar para tu sueño.
            </p>
          </div>
        </div>
          <div class="row">


 <div class="container">
 <div class="row">
   <div class="col-md-6 col-xs-12">
  <h2 class="text-white">La vida es un sueño,<br> ¿En que quieres <span class="text-aquamarine" style="font-weight: 700">ACTUAR</span> hoy?</h2>
    <div id="wrapper">
      <div id="inner" class="horizontal">
        <div id="carousel">
        <div>
            <div>
            <%= link_to dreams_path do %>
                    <%= image_tag 'juegos_olimpicos_tokyo2020.jpg', :class => 't1 img-responsive' %>
            <% end %>
            </div>
            <div>
            <%= link_to dreams_path do %>
                    <%= image_tag 'mundial_futbol_pre.jpg', :class => 't2' %>
            <% end %>
            </div>
            <div>
            <%= link_to dreams_path do %>
                    <%= image_tag 'comprar_portada1.jpg', :class => 't3' %>
            <% end %>
            </div>
            <div>
            <%= link_to dreams_path do %>
                    <%= image_tag 'ser_independiente_pre.jpg', :class => 't4' %>
            <% end %>
            </div>
            <div>
            <%= link_to dreams_path do %>
                    <%= image_tag 'ser_un_buen_lider_pre.jpg', :class => 't5' %>
            <% end %>
            </div>
            <div>
            <%= link_to dreams_path do %>
                    <%= image_tag 'encontrar_mi_mayor_pasion_pre.jpg', :class => 't6' %>
            <% end %>
            </div>
            <div>
            <%= link_to dreams_path do %>
                    <%= image_tag 'habilidad_portada3.jpg', :class => 't7' %>
            <% end %>
            </div>
            <div>
            <%= link_to dreams_path do %>
                    <%= image_tag 'exito_laboral.jpg', :class => 't8' %>
            <% end %>
            </div>
            <div>
            <%= link_to dreams_path do %>
                    <%= image_tag 'amor_portada9.jpg', :class => 't9' %>
            <% end %>
            </div>

          </div>
          <div>
            <div>
            <%= link_to dreams_path do %>
                    <%= image_tag 'tiempo_portada.jpg', :class => 't1' %>
            <% end %>
            </div>
            <div>
            <%= link_to dreams_path do %>
                    <%= image_tag 'superbowl.jpg', :class => 't2' %>
            <% end %>
            </div>
            <div>
            <%= link_to dreams_path do %>
                    <%= image_tag 'aprender_mas_sobre_personalidad.png', :class => 't3' %>
            <% end %>
            </div>
            <div>
            <%= link_to dreams_path do %>
                    <%= image_tag 'aurora_boreal_pre.jpg', :class => 't4' %>
            <% end %>
            </div>
            <div>
            <%= link_to dreams_path do %>
                    <%= image_tag 'ayudar_a_alguien_que_me_necesite_pre.jpg', :class => 't5' %>
            <% end %>
            </div>
            <div>
            <%= link_to dreams_path do %>
                    <%= image_tag 'ser_mejor_persona_pre.jpg', :class => 't6' %>
            <% end %>
            </div>
            <div>
            <%= link_to dreams_path do %>
                    <%= image_tag 'inversionista.jpg', :class => 't7' %>
            <% end %>
            </div>
            <div>
            <%= link_to dreams_path do %>
                    <%= image_tag 'ser_inventor.jpg', :class => 't8' %>
            <% end %>
            </div>
            <div>
            <%= link_to dreams_path do %>
                    <%= image_tag 'visitar_otro_planeta.jpg', :class => 't9' %>
            <% end %>
            </div>
          </div>
          <div>
            <div>
            <%= link_to dreams_path do %>
                    <%= image_tag 'poder_volar.jpg', :class => 't1' %>
            <% end %>
            </div>
            <div>
            <%= link_to dreams_path do %>
                    <%= image_tag 'viajar1.jpg', :class => 't2' %>
            <% end %>
            </div>
            <div>
            <%= link_to dreams_path do %>
                    <%= image_tag 'emprendedor.jpg', :class => 't3' %>
            <% end %>
            </div>
            <div>
            <%= link_to dreams_path do %>
                    <%= image_tag 'familia_casa_portada.jpg', :class => 't4' %>
            <% end %>
            </div>
            <div>
            <%= link_to dreams_path do %>
                    <%= image_tag 'auto_nuevo_portada.jpg', :class => 't5' %>
            <% end %>
            </div>
            <div>
            <%= link_to dreams_path do %>
                    <%= image_tag 'gaming.jpg', :class => 't6' %>
            <% end %>
            </div>
            <div>
            <%= link_to dreams_path do %>
                    <%= image_tag 'felicidad_plena.jpg', :class => 't7' %>
            <% end %>
            </div>
            <div>
            <%= link_to dreams_path do %>
                    <%= image_tag 'salud.jpg', :class => 't8' %>
            <% end %>
            </div>
            <div>
            <%= link_to dreams_path do %>
                    <%= image_tag 'amistad_portada3.jpg', :class => 't9' %>
            <% end %>
            </div>
          </div>
          
      </div>
      <a href="#" id="left"></a>
      <a href="#" id="right"></a>
      <!--<a href="#" id="up"></a>
      <a href="#" id="down"></a> -->
    </div>
  </div>
  </div>
  </div>
            
            </div>
      </div>
      </div>
    </div>
  </div>
		


    <div class="ui-171", style="z-index: 99;">
      <!-- Outer Starts -->
      <div class="ui-outers">
        <!-- Tab Content -->
        <div class="tab-content">
          <!-- Tab Panes -->
          <!-- Image One -->
        <div class="tab-pane fade in active" id="img-one">
           <%= image_tag 'viajar2_b.jpg', :class => 'img-responsive' %></div>
          <!-- Image Two -->
          <div class="tab-pane fade" id="img-two"><%= image_tag '2.jpg', :class => 'img-responsive' %></div>
          <!-- Image Three -->
          <div class="tab-pane fade" id="img-three"><%= image_tag '3.jpg', :class => 'img-responsive' %></div>
          <!-- Image Four -->
          <div class="tab-pane fade" id="img-four"><%= image_tag '4.jpg', :class => 'img-responsive' %></div>
          <!-- Image Five -->
          <div class="tab-pane fade" id="img-five"><%= image_tag '5.jpg', :class => 'img-responsive' %></div>
          <!-- Image Six -->
          <div class="tab-pane fade" id="img-six">n<%= image_tag '6.jpg', :class => 'img-responsive' %></div>
          <!-- Image Seven -->
          <div class="tab-pane fade" id="img-seven"><%= image_tag '7.jpg', :class => 'img-responsive' %></div>
          <!-- Image Eight -->
          <div class="tab-pane fade" id="img-eight"><%= image_tag '8.jpg', :class => 'img-responsive' %></div>
          <!-- Image Nine -->
          <div class="tab-pane fade" id="img-nine"><%= image_tag '9.jpg', :class => 'img-responsive' %></div>
          <!-- Image Ten -->
          <div class="tab-pane fade" id="img-ten"><%= image_tag '10.jpg', :class => 'img-responsive' %></div>
        </div>

        <!-- Inner -->
        <div class="ui-inner jumbotron jumbotron-albums jumbotron-unique">
          <!-- Heading -->
          <h3 class="text-klein-purple">Noblidream aprende de ti e intenta ayudarte</h3>
           <p class="text-black"> Estos son lo sueños que Noblidream puede ayudarte a cumplir, 
           los seleccionamos de acuerdo a tu personalidad y estilo de vida</p>
           <p class="text-black fs-16">Voltea una imagen y descubre tu sueño recomendado</p>
          <!-- Nav Tabs -->
          <div class="ui-nav">

            <!-- Nav Tab One -->
  <div class="ui-x">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-6 col-mob">
            <a href="#img-one" class="ui-item"  data-toggle="tab">
            <%= image_tag 'viajar_mundo.jpg', :class => 'img-responsive ui-flip ui-front' %>
            <span class="ui-back ui-flip">              
              <!-- User Name -->
              <span class="ui-name">Viajar por el mundo</span>
              <object><a class='right' href='https://www.corsego.com/'>Cumplir sueño</a></object>
              <!-- Designation -->
              <span class="ui-desig">Guardar en mi lista</span>
              <!-- Social Media -->
              <span class="ui-social">
                <!-- Facebook -->
                <i class="fa fa-facebook facebook"></i>
                  <!-- Twitter -->
                <i class="fa fa-twitter twitter"></i>
                <!-- LinkedIn -->
                <i class="fa fa-linkedin linkedin"></i>
               </span>
               </span>
           </a>
          </div>
          </div>
      </div>      
    </div>
  
            <!-- Nav Tab Two -->
            <div class="ui-x">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-6 col-mob">
            <a href="#img-two" class="ui-item"  data-toggle="tab">
            <%= image_tag '2-small.jpg', :class => 'img-responsive ui-flip ui-front' %>
            <span class="ui-back ui-flip">
              <span class="ui-name">Staffy Quia</span>
              <!-- Designation -->
              <span class="ui-desig">Guardar en mi lista</span>
              <!-- Social Media -->
              <span class="ui-social">
                <!-- Facebook -->
                <i class="fa fa-facebook facebook"></i>
                  <!-- Twitter -->
                <i class="fa fa-twitter twitter"></i>
                <!-- LinkedIn -->
                <i class="fa fa-linkedin linkedin"></i>
               </span>
               </span>
           </a>
          </div>
          </div>
      </div>      
    </div>
            <!-- Nav Tab Three -->
            <div class="ui-x">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-6 col-mob">
            <a href="#img-three" class="ui-item"  data-toggle="tab">
            <%= image_tag '3-small.jpg', :class => 'img-responsive ui-flip ui-front' %>
            <span class="ui-back ui-flip">              <!-- User Name -->
              <span class="ui-name">Staffy Quia</span>
              <!-- Designation -->
              <span class="ui-desig">Guardar en mi lista</span>
              <!-- Social Media -->
              <span class="ui-social">
                <!-- Facebook -->
                <i class="fa fa-facebook facebook"></i>
                  <!-- Twitter -->
                <i class="fa fa-twitter twitter"></i>
                <!-- LinkedIn -->
                <i class="fa fa-linkedin linkedin"></i>
               </span>
               </span>
           </a>
          </div>
          </div>
      </div>      
    </div>
            <!-- Nav Tab Four -->
           <div class="ui-x">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-6 col-mob">
            <a href="#img-four" class="ui-item"  data-toggle="tab">
            <%= image_tag '4-small.jpg', :class => 'img-responsive ui-flip ui-front' %>
            <span class="ui-back ui-flip">              <!-- User Name -->
              <span class="ui-name">Staffy Quia</span>
              <!-- Designation -->
              <span class="ui-desig">Guardar en mi lista</span>
              <!-- Social Media -->
              <span class="ui-social">
                <!-- Facebook -->
                <i class="fa fa-facebook facebook"></i>
                  <!-- Twitter -->
                <i class="fa fa-twitter twitter"></i>
                <!-- LinkedIn -->
                <i class="fa fa-linkedin linkedin"></i>
               </span>
               </span>
           </a>
          </div>
          </div>
      </div>      
    </div>
            <!-- Nav Tab Five -->
            <div class="ui-x">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-6 col-mob">
            <a href="#img-five" class="ui-item"  data-toggle="tab">
            <%= image_tag '5-small.jpg', :class => 'img-responsive ui-flip ui-front' %>
            <span class="ui-back ui-flip">              <!-- User Name -->
              <span class="ui-name">Staffy Quia</span>
              <!-- Designation -->
              <span class="ui-desig">Guardar en mi lista</span>
              <!-- Social Media -->
              <span class="ui-social">
                <!-- Facebook -->
                <i class="fa fa-facebook facebook"></i>
                  <!-- Twitter -->
                <i class="fa fa-twitter twitter"></i>
                <!-- LinkedIn -->
                <i class="fa fa-linkedin linkedin"></i>
               </span>
               </span>
           </a>
          </div>
          </div>
      </div>      
    </div>
            <!-- Nav Tab Six -->
            <div class="ui-x">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-6 col-mob">
            <a href="#img-six" class="ui-item"  data-toggle="tab">
            <%= image_tag '6-small.jpg', :class => 'img-responsive ui-flip ui-front' %>
            <span class="ui-back ui-flip">              <!-- User Name -->
              <span class="ui-name">Staffy Quia</span>
              <!-- Designation -->
              <span class="ui-desig">Guardar en mi lista</span>
              <!-- Social Media -->
              <span class="ui-social">
                <!-- Facebook -->
                <i class="fa fa-facebook facebook"></i>
                  <!-- Twitter -->
                <i class="fa fa-twitter twitter"></i>
                <!-- LinkedIn -->
                <i class="fa fa-linkedin linkedin"></i>
               </span>
               </span>
           </a>
          </div>
          </div>
      </div>      
    </div>
            <!-- Nav Tab Seven -->
           <div class="ui-x">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-6 col-mob">
            <a href="#img-seven" class="ui-item"  data-toggle="tab">
            <%= image_tag '7-small.jpg', :class => 'img-responsive ui-flip ui-front' %>
            <span class="ui-back ui-flip">              <!-- User Name -->
              <span class="ui-name">Staffy Quia</span>
              <!-- Designation -->
              <span class="ui-desig">Guardar en mi lista</span>
              <!-- Social Media -->
              <span class="ui-social">
                <!-- Facebook -->
                <i class="fa fa-facebook facebook"></i>
                  <!-- Twitter -->
                <i class="fa fa-twitter twitter"></i>
                <!-- LinkedIn -->
                <i class="fa fa-linkedin linkedin"></i>
               </span>
               </span>
           </a>
          </div>
          </div>
      </div>      
    </div>
            <!-- Nav Tab Eight -->
            <div class="ui-x">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-6 col-mob">
            <a href="#img-eight" class="ui-item"  data-toggle="tab">
            <%= image_tag '8-small.jpg', :class => 'img-responsive ui-flip ui-front' %>
            <span class="ui-back ui-flip">              <!-- User Name -->
              <span class="ui-name">Staffy Quia</span>
              <!-- Designation -->
              <span class="ui-desig">Guardar en mi lista</span>
              <!-- Social Media -->
              <span class="ui-social">
                <!-- Facebook -->
                <i class="fa fa-facebook facebook"></i>
                  <!-- Twitter -->
                <i class="fa fa-twitter twitter"></i>
                <!-- LinkedIn -->
                <i class="fa fa-linkedin linkedin"></i>
               </span>
               </span>
           </a>
          </div>
          </div>
      </div>      
    </div>
            <!-- Nav Tab Nine -->
           <div class="ui-x">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-6 col-mob">
            <a href="#img-nine" class="ui-item"  data-toggle="tab">
            <%= image_tag '9-small.jpg', :class => 'img-responsive ui-flip ui-front' %>
            <span class="ui-back ui-flip">              <!-- User Name -->
              <span class="ui-name">Staffy Quia</span>
              <!-- Designation -->
              <span class="ui-desig">Guardar en mi lista</span>
              <!-- Social Media -->
              <span class="ui-social">
                <!-- Facebook -->
                <i class="fa fa-facebook facebook"></i>
                  <!-- Twitter -->
                <i class="fa fa-twitter twitter"></i>
                <!-- LinkedIn -->
                <i class="fa fa-linkedin linkedin"></i>
               </span>
               </span>
           </a>
          </div>
          </div>
      </div>      
    </div>
            <!-- Nav Tab Ten -->
           <div class="ui-x">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-6 col-mob">
            <a href="#img-ten" class="ui-item"  data-toggle="tab">
            <%= image_tag '10-small.jpg', :class => 'img-responsive ui-flip ui-front' %>
            <span class="ui-back ui-flip">              <!-- User Name -->
              <span class="ui-name">Staffy Quia</span>
              <!-- Designation -->
              <span class="ui-desig">Guardar en mi lista</span>
              <!-- Social Media -->
              <span class="ui-social">
                <!-- Facebook -->
                <i class="fa fa-facebook facebook"></i>
                  <!-- Twitter -->
                <i class="fa fa-twitter twitter"></i>
                <!-- LinkedIn -->
                <i class="fa fa-linkedin linkedin"></i>
               </span>
               </span>
           </a>
          </div>
          </div>
      </div>      
    </div>
            
          </div>
        </div>
      </div>
      <!-- Outer Ends -->
    </div>
    <!-- UI - X Ends -->
		<script>
			<!-- Owl Carousel -->
			$(document).ready(function() {
				$(".ui-nav").owlCarousel({
					items : 6      // Number of Items to display at a time
				});
			});
		</script>

<!-- UI # de soñadores escondida hasta que se pueda mostrar personas reales-->
<!--..........INICIA SECCION DE SUEÑOS NOBLES Y FAVORITOS

  <div class="jumbotron jumbotron-albums jumbotron-unique">
  <div style="background-image: url(&quot;&quot;); display: block;" class="jumbotron-bg lazy lazy-no-small" data-original=""></div>
    <div class="container">
       <div class="row">


    <div class="ui-99">
    
      <div class="container">
      <h2 class="text-white">Nuestros sueños favoritos</h2>
        <div class="row">
          <div class="col-md-6">
            <div class="team-member">
              <a href="#" class="ui-trigger"><%= image_tag '1b.jpg', :class => 'img-responsive' %></a>
              <div class="team-details">
                <span class="deg fontsizing">Tener una casa en Chapala</span>
                <h4 class="text-aquamarine">Enrique Avelar</h4>
                <p class="text-white">Lo que yo deseo es vivir tranquilo en un hogar relajado con el amor de mi vida.</p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="team-member">
             <a href="#" class="ui-trigger"><%= image_tag '2b.jpg', :class => 'img-responsive' %></a>
              <div class="team-details">
                <span class="deg fontsizing">Tener mi PC gamer</span>
                <h4 class="text-aquamarine">Julio Solano</h4>
                <p class="text-white">Amo los videojuegos, ahora acepto el reto de hacerlos mi forma de vida y trabajo.</p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      
        <div class="row">
          <div class="col-md-6">
            <div class="team-member">
              <a href="#" class="ui-trigger"><%= image_tag '3b.jpg', :class => 'img-responsive' %></a>
              <div class="team-details">
                <span class="deg fontsizing">Tener un auto que me genere ingresos</span>
                <h4 class="text-aquamarine">Moises Nahum</h4>
                <p class="text-white">"Encontre un aliado cuando lo demas me habia fallado. Pero aunque des 1 paso atras recuerda dar 2 para adelante"</p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="col-md-6">

            
            <div class="team-member">
              <a href="#" class="ui-trigger"><%= image_tag '4b.jpg', :class => 'img-responsive' %></a>
              <div class="team-details">
                <span class="deg fontsizing">Empezar mi empresa de belleza</span>
                <h4 class="text-aquamarine">Angelica Vanessa</h4>
                <p class="text-white">"Me encanta vender y me ha sido muy divertido el poner mi negocio."</p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
          <h3 class="text-white">Proximamente conoceras mas sobre las historias detras del sueño</h3>
        </div>
      </div>
    
    </div>
      </div>
    </div>
  </div>
FIN DE SECCION DE SUEÑOS NOBLES Y FAVORITOS ESCONDIDA -->

<div class="container">
      <a class="btn-scroll btn-scroll-aquamarine pull-left hidden-xs" name="go-get-the-music" >
    <div class="btn-scroll-arrow">
      <svg><use xlink:href="#scroll-down"></use></svg>
      <svg><use xlink:href="#scroll-down"></use></svg>
    </div>
      </a>

  </div>

  <div class="jumbotron jumbotron-albums jumbotron-subscriptions">
  <!-- en class del div fantasma hidden-sm hidden-md hidden-lg -->
  <!-- imagen trasera tambien afecta aqui -->
  <div style="background-image: url(&quot;&quot;); display: block;" class="jumbotron-bg lazy lazy-no-small" data-original=""></div>
        <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-10 col-lg-12">
              <div class="animated animatedFadeInUp">
                <h1>
                  <span class="text-white">
                                        Esta a tu alcance
                  </span>
                </h1>
              </div>
              <div class="animated animatedFadeInUp">
                <p class="text-white">
            Noblidream es nuestra aportación para ayudar a la humanidad a que llegue a ser algo de lo que todos estemos orgullosos de ser parte.
                </p>
              </div>
            </div>
          </div>

            <div class="col-md-5 mrtop col-xs-12">
              <div class="animated animatedFadeInUp">
                <h3 class="price-title text-aquamarine">Sueños Unicos</h3>

                <div class="clearfix"></div>
                <ul class="details-subscriptions text-white text-left">
                  <li>
                                        Hay quienes desafian sus limites y se ponen a la tarea el lograr los sueños mas increibles y probablemte unicos en el mundo. Si tienes un sueño asi añadelo y te ayudaremos a lograrlo. </li>
                </ul>
              </div>


              <div class="animated animatedFadeInUp">
                <h3 class="price-title text-aquamarine">
                                     Sueños Nobles
                </h3>

                <div class="clearfix"></div>

                                      
                                  </div>
                <ul class="details-subscriptions text-white text-left">
               <li>
                    Noblidream nacio con el fin social de apoyar a todos a vivir vidas grandiosas y compartir esperanza.
                                        Noblidream fue creada para que vivas la vida que tu has diseñado y ayudes a los demas a lograrlo tambien.Te dejamos en tus manos nuestro trabajo y que lo aproveches tanto como los demas. 
                  </li>
                </ul>
              </div>




<!-- UI - X Starts -->
    <div class="ui-48">
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-xs-12">
            <!-- Item Starts -->
            <div class="ui-item">
              <!-- Company Name -->
              <h2 class="stblue">Ventajas de Noblidream para tu sueño</h2>

              <!-- Report Starts -->
              <div class="ui-report">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6 col-pad">
                      <!-- Report Item -->
                      <div class="r-item bor-right">
                        <!-- Big Heading -->
                        <p class="fs-16 fw200">Ahorra hasta:</p>
                        <h3 class="nblue">1780 Hrs</h3>
                        <!-- Heading -->
                        <p class="fs-16">de tu tiempo por sueño</p>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 col-pad">
                      <!-- Report Item -->
                      <div class="r-item">
                        <!-- Big Heading -->
                        <p class="fs-16">Ahorra hasta:</p>
                        <h3 class="nblue">97%</h3>
                        <!-- Heading -->
                        <p class="fs-16">de tu dinero por sueño</p>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 col-pad">
                      <!-- Report Item -->
                      <div class="r-item bor-right bor-bottom">
                        <!-- Big Heading -->
                        <h3 class="nblue">350 Hrs</h3>
                        <!-- Heading -->
                        <p class="fs-16">Es el promedio actual de horas ahorradas por sueño</p>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 col-pad">
                      <!-- Report Item -->
                      <div class="r-item bor-bottom">
                        <!-- Big Heading -->
                        <h3 class="nblue">23%</h3>
                        <!-- Heading -->
                        <p class="fs-16">Es el promedio actual de dinero ahorrado por sueño</p>
                      </div>
                    </div>
                   <div class="col-md-6 col-sm-6 col-xs-6 col-pad">
 
                      <div class="r-item bor-right bor-bottom">
  
                        <h3 class="nblue">8.3%</h3>

                        <p class="fs-16">Probabilidad de que una persona cumpla "Su sueño" sin Noblidream</p>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6 col-pad">

                      <div class="r-item bor-right bor-bottom">

                        <h3 class="nblue">95.2%</h3>

                        <p class="fs-16">Probabilidad de que una persona con Noblidream cumpla "Su sueño"</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="ui-contact text-left">

                <div class="ui-details clearfix">

                  <i class="fa fa-home"></i>

                  <span>
                    #46/4, Hosapalya, Muneshwara Nagar, 
                    Bengaluru, Karnataka - 560068
                  </span>
                </div>

                <div class="ui-details clearfix">

                  <i class="fa fa-phone"></i>

                  <span>080 4120 1512</span>
                </div>

                <div class="ui-details clearfix">

                  <i class="fa fa-envelope"></i>

                  <span><a href="#">lorem@yahoo.com</a></span>
                </div>  

                <div class="ui-details clearfix">
 
                  <i class="fa fa-globe"></i>

                  <span><a href="#">newyorklibrary.com</a></span>
                </div>  
              </div> -->
              <div class="ui-social text-center">
              <%= link_to "ELEGIR SUEÑO", dreams_path, class: "btn btn-solid5 js-goto-signup js-button-hero-get-free" %>
              </div>
              <!-- Social Icon Ends -->
            </div>
            <!-- Item Ends -->

          </div>
          </div>
          </div>
        </div>
      </div>
          </div>
  </div>

      </div>

<script>
    
      $(document).ready(function(){
        $("a.ui-trigger").click(function(e){
          e.preventDefault();
          $(".ui-outer").fadeIn(400);
        });
        $("a.ui-close").click(function(e){
          e.preventDefault();
          $(".ui-outer").fadeOut(400);
        });
      });
      
    </script>

    