<script src="https://kit.fontawesome.com/916442ede6.js" crossorigin="anonymous"></script>
<div class="bg-main-gamer">
          
      </div>


<div class="jumbotron">
    <div class="container altura bg-white-trans">
      <div class="row">

       <section class="altura">
       <div>
        <h2 class="nblue animated animatedFadeInUp hsdreamfs">
                        COMPRAR UNA CONSOLA
          </h2>
          <p>INDICACIONES: Todas las personas tienen una vida pero los gamers viven 1,000. Entonces consigamos esa consola de videojuegos de ensueño, solo sigue lo que se te pide a continuacion.</p>
          </div>
       </section>

    <div>
       <div>
      <h3>Paso 1: SELECCION DE CONSOLA</h3>
      <p>Selecciona la empresa de consolas que desees y despues la consola que quieres tener, sientete libre de ver todas las opciones y seleccionar varias si no estas seguro de lo que  quieres.</p>
        </div>

<!-- BEGINING OF MOSTRAR MAS WHERE IT SHOWS ALL THE NON-COMMON FOR TOURISM COUNTRIES -->
      <div>
             <!-- UI # -->
        <div class="ui-159">

        <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'xbox.gif', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi" role="button" data-toggle="collapse" href="#xbox" aria-expanded="false" aria-controls="collapseExample">                                <!-- Heading -->
                                <h6>XBOX</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="collapse" id="xbox">

            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'xbox_xbox-360.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>XBOX 360</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                             <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                               </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'xbox_kinect.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>XBOX KINECT</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                             <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                               </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'xbox_xbox-one.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>XBOX ONE</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                             <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                               </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'xbox_xbox-one-s.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>XBOX ONE S</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                             <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                               </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'xbox_proyect-scorpio.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>PROYECT SCORPIO</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                             <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                               </div>
                            </div>
                </div>
            </div>
                        <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'hololens.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>HOLOLENS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                             <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                               </div>
                            </div>
                </div>
            </div>

            </div>

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'playstation.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi" role="button" data-toggle="collapse" href="#playstation" aria-expanded="false" aria-controls="collapseExample">                                <!-- Heading -->
                                <h6>PLAYSTATION</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="collapse" id="playstation">

             <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'playstation_playstation-3.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>PLAYSTATION 3</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                             <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                               </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'playstation_playstation-4.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>PLAYSTATION 4</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                             <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                               </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'playstation_playstation-4-pro.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>PLAYSTATION 4 PRO</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                             <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                               </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'playstation_playsation-vr.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>PLAYSTATION VR</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                             <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                               </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'playstation_move.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>PLAYSTATION MOVE</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                             <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                               </div>
                            </div>
                </div>
            </div>

            </div>

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'nintendo.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi" role="button" data-toggle="collapse" href="#nintendo" aria-expanded="false" aria-controls="collapseExample">                                <!-- Heading -->
                                <h6>NINTENDO</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="collapse" id="nintendo">

            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'nintendo_new-3ds.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>NEW 3DS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                             <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                               </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'nintendo_switch.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>SWITCH</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                             <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                               </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'nintendo_wii-u.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>WII U</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                             <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                               </div>
                            </div>
                </div>
            </div>


            </div>

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'oculus.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi" role="button" data-toggle="collapse" href="#oculus" aria-expanded="false" aria-controls="collapseExample">                                <!-- Heading -->
                                <h6>OCULUS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="collapse" id="oculus">
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'oculus_oculus-rift.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>OCULUS RIFT</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                             <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                               </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'oculus_oculus-touch.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>OCULUS TOUCH</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                             <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                               </div>
                            </div>
                </div>
            </div>

            </div>

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'steam.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi" role="button" data-toggle="collapse" href="#steam" aria-expanded="false" aria-controls="collapseExample">                                <!-- Heading -->
                                <h6>STEAM</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="collapse" id="steam">

            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'alienware_steammachine.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>ALIENWARE STEAMACHINE</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                             <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                               </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'zotac_steammachine.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>ZOTAC STEAMACHINE</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                             <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                               </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'steam_htc-vive.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>HTC VIVE</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                             <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                               </div>
                            </div>
                </div>
            </div>
            <div class="ui-i2">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'steam_vive-controller.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>VIVE CONTROLLER</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                             <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                               </div>
                            </div>
                </div>
            </div>

            </div>
        
            </div>
      </div>
<!-- END OF THE FIRST SECTION "PASO 1" BEGIN OF THE SECOND SECTION "PASO 2" -->
      
      <div>
      	<div>
        
      		<h3>
      			PASO 2: ACTIVIDADES Y SUEÑOS GAMER
      		</h3>
      		<p>Aqui se te presentaran actividades que haran que disfrutes mas tu vida como gamer, tambien algunos sueños mas especificos que como gamers tenemos habitualmente. Recuerda que la vida es un juego, ¿A que quieres jugar hoy?.</p>

      	</div>

      	<div>
            
    <div class="ui-315">
      <div class="container-fluid">

        
        <div class="row">
        
          <div class="col-md-6">
          
            <!-- Pages Widget starts -->
            <div class="widget">

              
              <!-- Widget body starts -->
              <div class="w-body pages-widget">
                 
                <div class="table-responsive">
                  <table class="table table-hover">
                    <!-- Table heading -->
                    <tr> 
                      <th>Seleccion</th>
                      <th>Actividad</th>
                      <th>Status</th>
                
                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black">Tener un sistema de sonido gamer.</td>
                      <!-- Status -->
                      <td><span class="badge badge-blue"><i class="fa fa-gamepad" aria-hidden="true"></i></span></td>

                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black">Tener un grupo de amigos con los que jugar juegos que ya no son populares en linea.</td>
                      <!-- Status -->
                      <td><span class="badge badge-green"><i class="fa fa-users" aria-hidden="true"></i></span></td>

                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td class="black"> Pagar la suscripcion anual de Playstation Network.</td>
                      <td><span class="badge badge-yellow"><i class="fa fa-money" aria-hidden="true"></i></span></td>
                      
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td class="black">Tener una pantalla 4K adecuada para videojuegos.</td>
                      <td><span class="badge badge-blue"><i class="fa fa-gamepad" aria-hidden="true"></i></span></td>
                      
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td class="black">Comprar ropa Gamer.</td>
                      <td><span class="badge badge-yellow"><i class="fa fa-money" aria-hidden="true"></i></span></td>
                     
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td class="black">Aprender a crear cosplays.</td>
                      <td><span class="badge badge-lblue"><i class="fa fa-user" aria-hidden="true"></i></span></td>
                     
                    </tr>
                                        <tr>
                      <td><input type="checkbox"></td>
                      <td class="black">Tener una conexion de internet sin LAG.</td>
                      <td><span class="badge badge-yellow"><i class="fa fa-money" aria-hidden="true"></i></span></td>
                     
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td class="black">Tener Networking o conocer nuevos gamers en persona.</td>
                      <td><span class="badge badge-green"><i class="fa fa-users" aria-hidden="true"></i></span></td>
                      
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td class="black">Comprar un control nuevo.</td>
                      <td><span class="badge badge-blue"><i class="fa fa-gamepad" aria-hidden="true"></i></span></td>
                     
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td class="black">Tener una memoria de 2 TB para guardar juegos en consolas.</td>
                      <td><span class="badge badge-blue"><i class="fa fa-gamepad" aria-hidden="true"></i></span></td>
                     
                    </tr>
                  </table>
                </div>
                 
              </div>
              <!-- Widget body ends -->
              
            </div>
            <!-- Widget ends -->
          
          </div>
          <div class="col-md-6">
             <!-- Pages Widget starts -->
            <div class="widget">
              
              <!-- Widget body starts -->
              <div class="w-body pages-widget">
                 
                <div class="table-responsive">
                  <table class="table table-hover">
                    <!-- Table heading -->
                    <tr> 
                      <th>Seleccion</th>
                      <th>Actividad</th>
                      <th>Status</th>
                
                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black">Probar un sistema de VR.</td>
                      <!-- Status -->
                      <td><span class="badge badge-blue"><i class="fa fa-gamepad" aria-hidden="true"></i></span></td>

                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black">Tener noticias y novedades sobre el mundo de los videojuegos.</td>
                      <!-- Status -->
                      <td><span class="badge badge-lblue"><i class="fa fa-user" aria-hidden="true"></i></span></td>

                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td class="black"> Comprar un Steam link.</td>
                      <td><span class="badge badge-blue"><i class="fa fa-gamepad" aria-hidden="true"></i></span></td>
                      
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td class="black">Pagar la suscripcion anual de Xbox live Gold</td>
                      <td><span class="badge badge-yellow"><i class="fa fa-money" aria-hidden="true"></i></span></td>
                      
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td class="black">Aprender la habilidades tecnicas para reparar y dar mantenimiento a tu consola.</td>
                      <td><span class="badge badge-lblue"><i class="fa fa-user" aria-hidden="true"></i></span></td>
                     
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td class="black">Asistir al E3.</td>
                      <td><span class="badge badge-black"><i class="fa fa-globe" aria-hidden="true"></i></span></td>
                     
                    </tr>
                                        <tr>
                      <td><input type="checkbox"></td>
                      <td class="black">Asistir a los Videogame Awards.</td>
                      <td><span class="badge badge-black"><i class="fa fa-globe" aria-hidden="true"></i></span></td>
                     
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td class="black">Encontrar una pareja gamer.</td>
                      <td><span class="badge badge-green"><i class="fa fa-users" aria-hidden="true"></i></span></td>
                      
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td class="black">Comprar el volante de los juegos de autos.</td>
                      <td><span class="badge badge-blue"><i class="fa fa-gamepad" aria-hidden="true"></i></span></td>
                     
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td class="black">Crear un videojuego</td>
                      <td><span class="badge badge-lblue"><i class="fa fa-user" aria-hidden="true"></i></span></td>
                     
                    </tr>
                  </table>
                </div>
                 
              </div>
              <!-- Widget body ends -->
              
            </div>
            <!-- Widget ends -->
          </div>
          
        
        </div>
      
      </div>
      <p>Muy bien has terminado la seleccion. Ahora solo falta que envies tu seleccion.</p>
    </div>
    <%= link_to "ENVIAR", travel_steps_travel_path,
    class: "btn btn-solid2 js-goto-signup js-button-hero-get-free" %>

        </div>

<!-- END OF THE THIRD SECTION "PASO 3" BEGIN OF THE EXPERT TRAVELER DREAM SECTION "SELECT ALL" -->

<div class="espacio">
      	<div>
      		<h3>
      			SUEÑO JUGADOR PROFESIONAL
      		</h3>
      		<p>¿Crees que eres lo suficientemente bueno?, demuestralo y alcanza la gloria gamer.</p>
      	</div>
      	<div>
      		<div class="ui-all text-center">
         				<a href="#" class="all btn btn-red">SELECCIONAR</a> &nbsp; <a href="#" class="none btn btn-lblue">DESELECCIONAR</a>
         	</div>
            <p>No olvides Enviar al terminar tu seleccion.</p>
      	</div>
      </div>  
		<script>
			$(document).ready(function(){
			
				<!-- Select and deselect on click -->
				$(".ui-i2 .ui-item").click(function(){
					if($(this).parent().hasClass("active")){
						$(this).parent().removeClass("active");
					}
					else{
						$(this).parent().addClass("active");
					}
				});
				
				<!-- Select all -->
				$(".ui-all .all").click(function(e){
					e.preventDefault();
					$(".ui-i2").removeClass("active").addClass("active");
				});
				
				<!-- Select none -->
				$(".ui-all .none").click(function(e){
					e.preventDefault();
					$(".ui-i2").removeClass("active");
				});

				
			});

		</script>

        <script>
            $(document).ready(function(){
            
                <!-- Select and deselect on click -->
                $(".ui-i4 .ui-item").click(function(){
                    if($(this).parent().hasClass("active")){
                        $(this).parent().removeClass("active");
                    }
                    else{
                        $(this).parent().addClass("active");
                    }
                });
                
                <!-- Select all -->
                $(".ui-all .all").click(function(e){
                    e.preventDefault();
                    $(".ui-i4").removeClass("active").addClass("active");
                });
                
                <!-- Select none -->
                $(".ui-all .none").click(function(e){
                    e.preventDefault();
                    $(".ui-i4").removeClass("active");
                });

                
            });

        </script>



      </div>
    </div>
   </div>