<div class="bg-main-gamer">
          
      </div>


<div class="jumbotron">
    <div class="container altura bg-white-trans">
      <div class="row">

       <section class="altura">
       <div>
        <h2 class="nblue animated animatedFadeInUp hsdreamfs">
                        COMPRAR PC GAMER
          </h2>
          <p>INDICACIONES: Todas las personas tienen una vida pero los gamers viven 1,000. Pero primero vamos a conseguir esa computadora gamer de ensueño. Solo sigue lo que se te pide.</p>
          </div>
       </section>

    <div>
       <div>
      <h3>PASO 1: SELECCION DE CATEGORIA Y MARCA</h3>
      <p>Selecciona si prefieres una laptop gamer o una desktop gamer y despues selecciona la marca o marcas de tu preferencia.</p>
        </div>

      <div>
             <!-- UI # -->
        <div class="ui-159">

        <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'laptop_gamer.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover --> 
                      <div class="ui-content ui-bg-grawhi" role="button" data-toggle="collapse" href="#laptops" aria-expanded="false" aria-controls="collapseExample">
                                <!-- Heading -->
                                <h6>LAPTOPS <br>(portatiles)</h6>
                                <!-- UI Content Hover -->   <!-- Links -->
                            <div class="ui-hover">
                             <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                               </div>
                            </div>

                </div>
            </div>
            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'pc_gamer_set.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover --> 
                      <div class="ui-content ui-bg-grawhi" role="button" data-toggle="collapse" href="#laptops" aria-expanded="false" aria-controls="collapseExample">
                                <!-- Heading -->
                                <h6>DESKTOPS <br>(de escritorio)</h6>
                                <!-- UI Content Hover -->   <!-- Links -->
                            <div class="ui-hover">
                             <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                               </div>
                            </div>

                </div>
            </div>

            <div class="collapse" id="laptops">
            <p>Selecciona la marca que prefiririas para tu computadora</p>

            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'apple.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover --> 
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>APPLE</h6>
                                <!-- UI Content Hover -->   <!-- Links -->
                            <div class="ui-hover">
                             <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                               </div>
                            </div>

                </div>
            </div>
            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'dell.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover --> 
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>DELL</h6>
                                <!-- UI Content Hover -->   <!-- Links -->
                            <div class="ui-hover">
                             <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                               </div>
                            </div>

                </div>
            </div>
            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'sony.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover --> 
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>SONY</h6>
                                <!-- UI Content Hover -->   <!-- Links -->
                            <div class="ui-hover">
                             <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                               </div>
                            </div>

                </div>
            </div>
            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'razer.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover --> 
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>RAZER</h6>
                                <!-- UI Content Hover -->   <!-- Links -->
                            <div class="ui-hover">
                             <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                               </div>
                            </div>

                </div>
            </div>
            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'toshiba.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover --> 
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>TOSHIBA</h6>
                                <!-- UI Content Hover -->   <!-- Links -->
                            <div class="ui-hover">
                             <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                               </div>
                            </div>

                </div>
            </div>
            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'asus.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover --> 
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>ASUS</h6>
                                <!-- UI Content Hover -->   <!-- Links -->
                            <div class="ui-hover">
                             <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                               </div>
                            </div>

                </div>
            </div>
            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'lenovo.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover --> 
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>LENOVO</h6>
                                <!-- UI Content Hover -->   <!-- Links -->
                            <div class="ui-hover">
                             <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                               </div>
                            </div>

                </div>
            </div>
            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'acer.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover --> 
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>ACER</h6>
                                <!-- UI Content Hover -->   <!-- Links -->
                            <div class="ui-hover">
                             <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                               </div>
                            </div>

                </div>
            </div>
            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'msi.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover --> 
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>MSI</h6>
                                <!-- UI Content Hover -->   <!-- Links -->
                            <div class="ui-hover">
                             <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                               </div>
                            </div>

                </div>
            </div>
            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'gateway.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover --> 
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>GATEWAY</h6>
                                <!-- UI Content Hover -->   <!-- Links -->
                            <div class="ui-hover">
                             <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                               </div>
                            </div>

                </div>
            </div>
            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'hp.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover --> 
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>HP</h6>
                                <!-- UI Content Hover -->   <!-- Links -->
                            <div class="ui-hover">
                             <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                               </div>
                            </div>

                </div>
            </div>
            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'alienware_steammachine.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover --> 
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>ALIENWARE</h6>
                                <!-- UI Content Hover -->   <!-- Links -->
                            <div class="ui-hover">
                             <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                               </div>
                            </div>

                </div>
            </div>

            </div>
 

        
            </div>
      </div>
<!-- END OF THE FIRST SECTION "PASO 1" BEGIN OF THE SECOND SECTION "PASO 2" -->
      
      <div>
      	<div>
        
      		<h3>
      			PASO 2: ACTIVIDADES Y SUEÑOS GAMER
      		</h3>
      		<p>Aqui se te presentaran actividades que haran que disfrutes mas tu vida como gamer, tambien algunos sueños mas especificos que como gamers tenemos habitualmente. Recuerda que la vida es un juego, ¿A que quieres jugar hoy?.</p>

      	</div>

      	<div>
            
    <div class="ui-315">
      <div class="container-fluid">

        
        <div class="row">
        
          <div class="col-md-6">
          
            <!-- Pages Widget starts -->
            <div class="widget">

              
              <!-- Widget body starts -->
              <div class="w-body pages-widget">
                 
                <div class="table-responsive">
                  <table class="table table-hover">
                    <!-- Table heading -->
                    <tr> 
                      <th>Seleccion</th>
                      <th>Actividad</th>
                      <th>Status</th>
                
                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black">Tener un sistema de sonido gamer.</td>
                      <!-- Status -->
                      <td><span class="badge badge-blue"><i class="fa fa-gamepad" aria-hidden="true"></i></span></td>

                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black">Tener un grupo de amigos con los que jugar juegos que ya no son populares en linea.</td>
                      <!-- Status -->
                      <td><span class="badge badge-green"><i class="fa fa-users" aria-hidden="true"></i></span></td>

                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td class="black"> Pagar una suscripcion de EA Origin.</td>
                      <td><span class="badge badge-yellow"><i class="fa fa-credit-card" aria-hidden="true"></i></span></td>
                      
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td class="black">Tener una pantalla 4K adecuada para videojuegos.</td>
                      <td><span class="badge badge-blue"><i class="fa fa-gamepad" aria-hidden="true"></i></span></td>
                      
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td class="black">Comprar ropa Gamer.</td>
                      <td><span class="badge badge-yellow"><i class="fa fa-credit-card" aria-hidden="true"></i></span></td>
                     
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td class="black">Aprender a crear cosplays.</td>
                      <td><span class="badge badge-lblue"><i class="fa fa-user" aria-hidden="true"></i></span></td>
                     
                    </tr>
                                        <tr>
                      <td><input type="checkbox"></td>
                      <td class="black">Tener una conexion de internet sin LAG.</td>
                      <td><span class="badge badge-yellow"><i class="fa fa-credit-card" aria-hidden="true"></i></span></td>
                     
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td class="black">Tener Networking o conocer nuevos gamers en persona.</td>
                      <td><span class="badge badge-green"><i class="fa fa-users" aria-hidden="true"></i></span></td>
                      
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td class="black">Comprar un control nuevo.</td>
                      <td><span class="badge badge-blue"><i class="fa fa-gamepad" aria-hidden="true"></i></span></td>
                     
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td class="black">Tener una memoria de 2 TB para guardar juegos en la computadora.</td>
                      <td><span class="badge badge-blue"><i class="fa fa-gamepad" aria-hidden="true"></i></span></td>
                     
                    </tr>
                  </table>
                </div>
                 
              </div>
              <!-- Widget body ends -->
              
            </div>
            <!-- Widget ends -->
          
          </div>
          <div class="col-md-6">
             <!-- Pages Widget starts -->
            <div class="widget">
              
              <!-- Widget body starts -->
              <div class="w-body pages-widget">
                 
                <div class="table-responsive">
                  <table class="table table-hover">
                    <!-- Table heading -->
                    <tr> 
                      <th>Seleccion</th>
                      <th>Actividad</th>
                      <th>Status</th>
                
                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black">Probar un sistema de VR.</td>
                      <!-- Status -->
                      <td><span class="badge badge-blue"><i class="fa fa-gamepad" aria-hidden="true"></i></span></td>

                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black">Tener noticias y novedades sobre el mundo de los videojuegos.</td>
                      <!-- Status -->
                      <td><span class="badge badge-lblue"><i class="fa fa-user" aria-hidden="true"></i></span></td>

                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td class="black"> Comprar un Steam link.</td>
                      <td><span class="badge badge-blue"><i class="fa fa-gamepad" aria-hidden="true"></i></span></td>
                      
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td class="black">Pagar alguna suscripcion de videojuegos.</td>
                      <td><span class="badge badge-yellow"><i class="fa fa-money" aria-hidden="true"></i></span></td>
                      
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td class="black">Aprender la habilidades tecnicas para reparar y dar mantenimiento a tu computadora.</td>
                      <td><span class="badge badge-lblue"><i class="fa fa-user" aria-hidden="true"></i></span></td>
                     
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td class="black">Asistir al E3.</td>
                      <td><span class="badge badge-black"><i class="fa fa-globe" aria-hidden="true"></i></span></td>
                     
                    </tr>
                                        <tr>
                      <td><input type="checkbox"></td>
                      <td class="black">Asistir a los Videogame Awards.</td>
                      <td><span class="badge badge-black"><i class="fa fa-globe" aria-hidden="true"></i></span></td>
                     
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td class="black">Encontrar una pareja gamer.</td>
                      <td><span class="badge badge-green"><i class="fa fa-users" aria-hidden="true"></i></span></td>
                      
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td class="black">Comprar el volante de los juegos de autos.</td>
                      <td><span class="badge badge-blue"><i class="fa fa-gamepad" aria-hidden="true"></i></span></td>
                     
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td class="black">Crear un videojuego</td>
                      <td><span class="badge badge-lblue"><i class="fa fa-user" aria-hidden="true"></i></span></td>
                     
                    </tr>
                  </table>
                </div>
                 
              </div>
              <!-- Widget body ends -->
              
            </div>
            <!-- Widget ends -->
          </div>
          
        
        </div>
      
      </div>
      <p>Muy bien has terminado la seleccion. Ahora solo falta que envies tu seleccion.</p>
    </div>
    <a href="http://localhost:3000/travel/steps_travel" class="btn btn-solid js-goto-signup js-button-hero-get-free">
            ENVIAR
    </a>

        </div>

<!-- END OF THE THIRD SECTION "PASO 3" BEGIN OF THE EXPERT TRAVELER DREAM SECTION "SELECT ALL" -->

<div class="espacio">
      	<div>
      		<h3>
      			SUEÑO JUGADOR PROFESIONAL
      		</h3>
      		<p>¿Crees que eres lo suficientemente bueno?, demuestralo y alcanza la gloria gamer.</p>
      	</div>
      	<div>
      		<div class="ui-all text-center">
         				<a href="#" class="all btn btn-red">SELECCIONAR</a> &nbsp; <a href="#" class="none btn btn-lblue">DESELECCIONAR</a>
         	</div>
            <p>No olvides Enviar al terminar tu seleccion.</p>
      	</div>
      </div>  
		<script>
			$(document).ready(function(){
			
				<!-- Select and deselect on click -->
				$(".ui-i7 .ui-item").click(function(){
					if($(this).parent().hasClass("active")){
						$(this).parent().removeClass("active");
					}
					else{
						$(this).parent().addClass("active");
					}
				});
				
				<!-- Select all -->
				$(".ui-all .all").click(function(e){
					e.preventDefault();
					$(".ui-i7").removeClass("active").addClass("active");
				});
				
				<!-- Select none -->
				$(".ui-all .none").click(function(e){
					e.preventDefault();
					$(".ui-i7").removeClass("active");
				});

				
			});

		</script>

        <script>
            $(document).ready(function(){
            
                <!-- Select and deselect on click -->
                $(".ui-i4 .ui-item").click(function(){
                    if($(this).parent().hasClass("active")){
                        $(this).parent().removeClass("active");
                    }
                    else{
                        $(this).parent().addClass("active");
                    }
                });
                
                <!-- Select all -->
                $(".ui-all .all").click(function(e){
                    e.preventDefault();
                    $(".ui-i4").removeClass("active").addClass("active");
                });
                
                <!-- Select none -->
                $(".ui-all .none").click(function(e){
                    e.preventDefault();
                    $(".ui-i4").removeClass("active");
                });

                
            });

        </script>




      </div>
    </div>
   </div>