 <% if current_user %>
     <li>
     <%= link_to "Sueño Nuevo", pages_add_dream_path %>
     </li>
     <li class="alternate sidepanel-item-small">
     <%= link_to "Perfil", profile_overview_path, class: "user-link user-text navbar-user-text" %>
     </li>
     <li role="separator" class="divider"></li>   
      
     <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          <%= current_user.email %>
        </a>
        <div class="dropdown-menu"> 
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <%= link_to "Editar cuenta", edit_user_registration_path, class:"dropdown-item" %>
          <br>
          <%= link_to "Cerrar sesion", destroy_user_session_path, method: :delete %>
        </div>
      </li>
  <% else %>
    <li class="alternate sidepanel-item-small ">
     <%= link_to "Regístrate", new_user_registration_path %>
     </li>
     <li class="alternate sidepanel-item-small">
     <%= link_to "Inicio de sesión", new_user_session_path, class: "user-link user-text navbar-user-text" %>
     </li>
  <% end %>