 <% if current_user %>
      <li class="alternate sidepanel-item-small">
       <%= link_to "Explorar Sueños", dreams_path %>
     </li>
     <li>
       <%= link_to "Sueño Nuevo", new_add_dream_path %>
     </li>
     <li role="separator" class="divider"></li>   
      
     <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          <%= current_user.username %>
        </a>
        <div class="dropdown-menu"> 
          <%= link_to "Perfil", user_path(current_user), class: "user-link user-text navbar-user-text" %>
        <div class="dropdown-divider"></div>
          <%= link_to "Lista de Deseos", edit_user_registration_path, class:"dropdown-item" %>
          <br>
          <%= link_to "Editar Cuenta", edit_user_registration_path, class:"dropdown-item" %>
          <br>
          <%= link_to "Cerrar Sesion", destroy_user_session_path, method: :delete %>
          <%= link_to "Administrador", admin_path, class:"dropdown-item" if current_user.admin? %>
        </div>
      </li>
  <% else %>
    <li class="alternate sidepanel-item-small ">
     <%= link_to "Regístrate", new_user_registration_path %>
     </li>
     <li class="alternate sidepanel-item-small">
     <%= link_to "Inicio de sesión", new_user_session_path, class: "user-link user-text navbar-user-text" %>
     </li>
  <% end %>