<script src="https://kit.fontawesome.com/916442ede6.js" crossorigin="anonymous"></script>
<div class="bg-main-fisical-health">
          
      </div>


<div class="jumbotron">
    <div class="container altura bg-white-trans">
      <div class="row">

       <section class="altura">
       <div>
        <h2 class="nblue animated animatedFadeInUp hsdreamfs">
                        SALUD EMOCIONAL DE CALIDAD
          </h2>
          <p>INDICACIONES: Las personas que tienen una buena salud emocional son aquellas que mantienen una armonía entre lo que piensan, lo que sienten y lo que hacen. Son personas que se sienten bien consigo mismas y que establecen relaciones positivas con su entorno.</p>
          </div>
       </section>


  <div>
        <div>
        
          <h3>PASO 1: SALUD EMOCIONAL ACTUAL</h3>
          <p>IMPORTANTE: Es necesario saber sobre tu condicion fisica actual, introduce tus datos honestamente o ve a una consulta medica y pide un certificado medico e introduce los datos resultantes.</p>

        </div>


        
       <div class="ui-159">

       <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'agresividad.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>AGRESIVIDAD</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
          </div>
          <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'alegria.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>ALEGRIA</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'ambicion.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>AMBICION</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'amor.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>AMOR</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'ansiedad.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>ANSIEDAD</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'autocompasion.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>AUTOCOMPASION</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'carisma.gif', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>CARISMA</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'celos.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>CELOS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'compasion.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>COMPASION</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'confusion.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>CONFUSION</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'coraje.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>CORAJE</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'culpa.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>CULPA</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'deseo.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>DESEO</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'esperanza.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>ESPERANZA</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'felicidad.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>FELICIDAD</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'gratitud_emocion.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>GRATITUD</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'humillacion.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>HUMILLACION</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'miedo.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>MIEDO</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'nostalgia.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>NOSTALGIA</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'recentimiento.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>RECENTIMIENTO</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'sensualidad.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>SENSUALIDAD</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'soberbia.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>SOBERBIA</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'soledad.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>SOLEDAD</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'tranquilidad.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>TRANQUILIDAD</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'tristeza.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>TRISTEZA</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'venganza.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>VENGANZA</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'verguenza.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>VERGÜENZA</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 


            <div class="ui-153 altura">
<div class="col-md-12">
  <div>
     <h3 class="text-center">¿Tienes algun vicio o dependencia?</h3>
     <div class="collapse" id="vicio_dependencia_si">
       <div class="col-md-12">
          
            <!-- Item -->
            <div class="ui-item">
              <!-- Heading -->
              <div class="ui-head">
                <!-- Heading -->
                <h4 class="fs-18">¿Cual es y por que no has podido dejarlo?</h4>
                <!-- Para -->
                <p>Un poco de tu historia puede ayudar tambien.</p>
              </div>
              <!-- Body -->
                <div class="container-fluid">
                    <div class="col-md-12 col-sm-12  col-xs-12 col-padd">
                      <!-- Body item -->
                      <div class="ui-bitem clearfix">
                       
               <input id="web-si" name="web-si" class="form-control input-md" required="" aria-required="true" type="text">

                  </div>
                </div>
              </div>
              <!-- Foot -->
            </div>
          
          </div>


     </div>
     <div class="collapse" id="vicio_dependencia_no">
       <div class="col-md-12">
          
            <!-- Item -->
            <div class="ui-item">
              <!-- Heading -->
              <div class="ui-head">
                <!-- Heading -->
                <h4 class="fs-18">¿Has tenido algun vicio en el pasado?</h4>
                <!-- Para -->
                <p>De no ser asi escribe N/A.</p>
              </div>
              <!-- Body -->
                <div class="container-fluid">
                    <div class="col-md-12 col-sm-12  col-xs-12 col-padd">
                      <!-- Body item -->
                      <div class="ui-bitem clearfix">
                       
               <input id="web-si" name="web-si" class="form-control input-md" required="" aria-required="true" type="text">

                  </div>
                </div>
              </div>
              <!-- Foot -->
            </div>
          
          </div>


     </div>

      <a class="btn btn-icon-only black" role="button" data-toggle="collapse" href="#vicio_dependencia_si" aria-expanded="false" aria-controls="collapseExample">
                            Si
                  </a>
   <a class="btn btn-icon-only black" role="button" data-toggle="collapse" href="#vicio_dependencia_no" aria-expanded="false" aria-controls="collapseExample">
                            No
                  </a>

     </div>
 </div>
 </div>

   <div class="ui-159">
   <p>En la siguiente parte veras situaciones que alteran mucho la salud emocional, si has pasado por alguna recientemente seleccionala.</p>

   <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'despedido.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>SER DESPEDIDO</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
        </div>
        <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'divorcio.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>HABER PASADO POR UN DIVORCIO</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
        </div>
        <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'hijo_se_fue_de_la_casa.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>HIJO SE FUE DE LA CASA</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
        </div>
        <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'mudarse_de_casa_estres.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>MUDARSE DE CASA</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
        </div>
        <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'muerte_de_un_ser_querido.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>MUERTE DE UN SER QUERIDO</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
        </div>
        <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'problemas_de_dinero.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>PROBLEMAS DE DINERO</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
        </div>
        <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'sufrir_una_enfermedad_o_lesion.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>SUFRIR UNA ENFERMEDAD O LESION</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
        </div>
        <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'tener_un_bebe.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>TENER UN BEBE</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
        </div>


   </div>


  </div>


<!-- END OF THE FIRST SECTION "PASO 1" BEGIN OF THE SECOND SECTION "PASO 2" -->
      <div>
        <div>
          <h3>
            PASO 2: ACTIVIDADES QUE FORTALECEN NUESTRA SALUD EMOCIONAL
          </h3>
          <p>Estas actividades haran que tu calidad de vida se alargue hasta los 80 o 100 años, pero debes empezar ya. Selecciona todas las que estes dispuesto a cumplir y seguir para tener una buena salud.</p>
        </div>
        <div>
          <div class="ui-159">

            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'amistad_portada3.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>TENER BUENOS AMIGOS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'aprender_a_buscar_soluciones_no_problemas.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>APRENDER A BUSCAR SOLUCIONES NO PROBLEMAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'natacion.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>PRACTICAR NATACION</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'aprender_a_compartir_nuestras_emociones_correctamente.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>APRENDER A COMPARTIR NUESTRAS EMOCIONES CORRECTAMENTE</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'la-meditacion.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>MEDITAR</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'dormir-bien.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>DORMIR BIEN</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            
            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'aprender_a_perdonar.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>APRENDER A PERDONAR</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 
            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'aprender_a_soportar_el_fracaso.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>APRENDER A SOPORTAR EL FRACASO</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div><div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'reconocer_nuestras_emociones.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>RECONOCER NUESTRAS EMOCIONES</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div><div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'tener_un_buen_pasatiempo.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>TENER UN BUEN PASATIEMPO</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div><div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'el-yoga.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>YOGA</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div><div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'correr.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>HACER EJERCICIO</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'dejar-un-vicio.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>DEJAR UN VICIO</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'gratitud.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>PRACTICAR LA GRATITUD</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'ayudar_a_alguien_que_me_necesite_pre.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>AYUDAR A LOS DEMAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
       
    </div>
    </div>


    </div>
   <p>Muy bien has terminado la seleccion. Ahora solo falta que envies tu seleccion.</p>

        </div>
        <%= link_to "ENVIAR", travel_steps_travel_path,
        class: "btn btn-solid2 js-goto-signup js-button-hero-get-free" %>
      </div>
<!-- END OF THE SECOND SECTION "PASO 2" BEGIN OF THE THIRD SECTION "SPECIAL DREAM" -->

 


<div class="espacio">
        <div>
          <h3>
            SUEÑO EXTRAORDINARIAMENTE SANO
          </h3>
          <p>Tener un gran nivel de salud mental, fisica, emocional y espiritual.</p>
        </div>
        <div>
          <div class="ui-all text-center">
                <a href="#" class="all btn btn-red">SELECCIONAR</a> &nbsp; <a href="#" class="none btn btn-lblue">DESELECCIONAR</a>
          </div>
            <p>No olvides Enviar al terminar tu seleccion.</p>
        </div>
      </div>  
    <script>
      $(document).ready(function(){
      
        <!-- Select and deselect on click -->
        $(".ui-i3 .ui-item").click(function(){
          if($(this).parent().hasClass("active")){
            $(this).parent().removeClass("active");
          }
          else{
            $(this).parent().addClass("active");
          }
        });
        
        <!-- Select all -->
        $(".ui-all .all").click(function(e){
          e.preventDefault();
          $(".ui-i3").removeClass("active").addClass("active");
        });
        
        <!-- Select none -->
        $(".ui-all .none").click(function(e){
          e.preventDefault();
          $(".ui-i3").removeClass("active");
        });

        
      });

    </script>

    <script>
      $(document).ready(function(){
      
        <!-- Select and deselect on click -->
        $(".ui-i4 .ui-item").click(function(){
          if($(this).parent().hasClass("active")){
            $(this).parent().removeClass("active");
          }
          else{
            $(this).parent().addClass("active");
          }
        });
        
        <!-- Select all -->
        $(".ui-all .all").click(function(e){
          e.preventDefault();
          $(".ui-i4").removeClass("active").addClass("active");
        });
        
        <!-- Select none -->
        $(".ui-all .none").click(function(e){
          e.preventDefault();
          $(".ui-i4").removeClass("active");
        });

        
      });

    </script>

    <script>
      $(document).ready(function(){
      
        <!-- Select and deselect on click -->
        $(".ui-i7 .ui-item").click(function(){
          if($(this).parent().hasClass("active")){
            $(this).parent().removeClass("active");
          }
          else{
            $(this).parent().addClass("active");
          }
        });
        
        <!-- Select all -->
        $(".ui-all .all").click(function(e){
          e.preventDefault();
          $(".ui-i7").removeClass("active").addClass("active");
        });
        
        <!-- Select none -->
        $(".ui-all .none").click(function(e){
          e.preventDefault();
          $(".ui-i7").removeClass("active");
        });

        
      });

    </script>



      </div>
    </div>
   </div>
