<script src="https://kit.fontawesome.com/916442ede6.js" crossorigin="anonymous"></script>
<div class="bg-main-espiritualidad">
          
      </div>


<div class="jumbotron">
    <div class="container altura bg-white-trans">
      <div class="row">

       <section class="altura">
       <div>
        <h2 class="nblue animated animatedFadeInUp hsdreamfs">
                        ESPIRITUALIDAD
          </h2>
          <p>INDICACIONES: La espiritualidad es el lado mas importante de nuestra salud emocional en el cual encontramos significado, esperanza y paz interior en nuestra vida. Siendo una parte tan importante de nuestra vida es una de los mas descuidados actualmente, a lo largo de 3 secciones comenzara el viaje por encontrar tu lado espiritual.</p>
          </div>
       </section>

    <div>
       <div>
      <h3>PASO 1: ESPIRITUALIDAD ACTUAL</h3>
      <p>Esa necesidad espiritual puede cubrirse de la siguientes maneras.</p>
        </div>
<div class="ui-153">

    <div class="col-md-4">
          
            <!-- Item -->
            <div class="ui-item">
              <!-- Heading -->
              <div class="ui-head">
                <!-- Heading -->
                <h4 class="fs-18">¿Que me hace sentir mas completo?</h4>
              </div>
              <!-- Body -->
                    <div class="col-md-12 col-sm-6  col-xs-6 col-padd">
                      <!-- Body item -->
                      <div class="ui-bitem clearfix">
                        <textarea class="form-control" id="historia" name="historia"></textarea>
                  </div>
              </div>
             
            </div>
          
          </div>
          <div class="col-md-4">
          
            <!-- Item -->
            <div class="ui-item">
              <!-- Heading -->
              <div class="ui-head">
                <!-- Heading -->
                <h4 class="fs-18">¿Cuando me siento mas en contacto con el resto del mundo?</h4>
              </div>
              <!-- Body -->
                    <div class="col-md-12 col-sm-6  col-xs-6 col-padd">
                      <!-- Body item -->
                      <div class="ui-bitem clearfix">
                        <textarea class="form-control" id="historia" name="historia"></textarea>
                  </div>
              </div>
             
            </div>
          
          </div>
          <div class="col-md-4">
          
            <!-- Item -->
            <div class="ui-item">
              <!-- Heading -->
              <div class="ui-head">
                <!-- Heading -->
                <h4 class="fs-18">¿Donde podria encontrar mas fuerza?</h4>
              </div>
              <!-- Body -->
                    <div class="col-md-12 col-sm-6  col-xs-6 col-padd">
                      <!-- Body item -->
                      <div class="ui-bitem clearfix">
                        <textarea class="form-control" id="historia" name="historia"></textarea>
                  </div>
              </div>
             
            </div>
          
          </div>
          <div class="col-md-6">
          
            <!-- Item -->
            <div class="ui-item">
              <!-- Heading -->
              <div class="ui-head">
                <!-- Heading -->
                <h4 class="fs-18">¿Que hago en mos momentos en los que me siento pleno y satisfecho?</h4>
              </div>
              <!-- Body -->
                    <div class="col-md-12 col-sm-6  col-xs-6 col-padd">
                      <!-- Body item -->
                      <div class="ui-bitem clearfix">
                        <textarea class="form-control" id="historia" name="historia"></textarea>
                  </div>
              </div>
             
            </div>
          
          </div>
          <div class="col-md-6">
          
            <!-- Item -->
            <div class="ui-item">
              <!-- Heading -->
              <div class="ui-head">
                <!-- Heading -->
                <h4 class="fs-18">¿Cuando me siento sentimentalmente herido, a que acudo?</h4>
              </div>
              <!-- Body -->
                    <div class="col-md-12 col-sm-6  col-xs-6 col-padd">
                      <!-- Body item -->
                      <div class="ui-bitem clearfix">
                        <textarea class="form-control" id="historia" name="historia"></textarea>
                  </div>
              </div>
             
            </div>
          
          </div>


           <div class="ui-153">
<div class="col-md-12">
  <div class="bg-white altura">
     <h3 class="text-center">¿Cuentas con una fe religiosa?</h3>
     <div class="collapse" id="religionsi">
       <div class="col-md-12">
          
            <!-- Item -->
            <div class="ui-item">
              <!-- Heading -->
              <div class="ui-head">
                <!-- Heading -->
                <h4 class="fs-18">Agrega abajo el nombre de la religion que profesas</h4>
              </div>
              <!-- Body -->
                <div class="container-fluid">
                    <div class="col-md-12 col-sm-6  col-xs-6 col-padd">
                      <!-- Body item -->
                      <div class="ui-bitem clearfix">
                       
               <input id="web-si" name="web-si" class="form-control input-md" required="" aria-required="true" type="text">

                  </div>
                </div>
              </div>
              <!-- Foot -->
            </div>
          
          </div>


     </div>
     <div class="collapse" id="religionno">
       <div class="col-md-12">
          
            <!-- Item -->
            <div class="ui-item">
              <!-- Heading -->
              <div class="ui-head">
                <!-- Heading -->
                <h4 class="fs-18">¿Que es lo que piensas de la religion?.</h4>
              </div>
              
              <!-- Foot -->
              <div class="ui-foot">
                <!-- Buttons -->
                <td><textarea class="form-control" id="historia" name="historia"></textarea></td>
              </div>
            </div>
          
          </div>


     </div>

      <a class="btn btn-icon-only black" role="button" data-toggle="collapse" href="#religionsi" aria-expanded="false" aria-controls="collapseExample">
                            Si
                  </a>
   <a class="btn btn-icon-only black" role="button" data-toggle="collapse" href="#religionno" aria-expanded="false" aria-controls="collapseExample">
                            No
                  </a>

     </div>
 </div>
 </div>
            
              
    </div>

<!-- END OF THE FIRST SECTION "PASO 1" BEGIN OF THE SECOND SECTION "PASO 2" -->
      <div>
        <div>
          <h3>
            PASO 2: 1era EXPLORACION PARA ENCONTRAR TU ESPIRITUALIDAD
          </h3>
          <p>Tu salud espiritual puede cubrirse de las siguientes maneras. Analiza cada una de las opciones y podras sentir como una te llama mas que todas las demas, selecciona solo esa.</p>
        </div>
        <div>
          <div class="ui-159">

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'el-arte.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>EL ARTE</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'la-musica.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>LA MUSICA</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'la-naturaleza.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>LA NATURALEZA</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'la-meditacion.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>LA MEDITACION</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'el-yoga.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>EL YOGA</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'acercarse-a-dios.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>ACERCARSE A DIOS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'ayudar-a-los-demas.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>AYUDAR A ALGUIEN QUE ME NECESITE</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'gratitud.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>APRENDER A PRACTICAR LA GRATITUD</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 
       
    </div>
    </div>


    </div>


        </div>
      </div>


<!-- END OF THE SECTION "PASO 3" BEGIN OF THE FOURTH SECTION "PASO 4" -->
 
      <div>
        <div>
        
          <h3>
            PASO 3: ACTIVIDADES Y SUEÑOS ESPIRITUALES
          </h3>
          <p>Los sueños y atividades espirituales se te enviaran de forma personalizada de acuerdo a tu selecciones y respuestas de las 2 secciones anteriores, recuerda respetar las opiniones de los demas.</p>

        </div>

        <div>

      <p>Muy bien has terminado la seleccion. Ahora solo falta que envies tu seleccion.</p>
      <%= link_to "ENVIAR", travel_steps_travel_path,
      class: "btn btn-solid2 js-goto-signup js-button-hero-get-free" %>

        </div>

<!-- END OF THE THIRD SECTION "PASO 3" BEGIN OF THE EXPERT TRAVELER DREAM SECTION "SELECT ALL" -->

<div class="espacio">
        <div>
          <h3>
            SUEÑO EXTRAORDINARIAMENTE SANO
          </h3>
          <p>Tener un gran nivel de salud mental, fisica, emocional y espiritual.</p>
        </div>
        <div>
          <div class="ui-all text-center">
                <a href="#" class="all btn btn-red">SELECCIONAR</a> &nbsp; <a href="#" class="none btn btn-lblue">DESELECCIONAR</a>
          </div>
            <p>No olvides Enviar al terminar tu seleccion.</p>
        </div>
      </div>   

    <script>
      $(document).ready(function(){
      
        <!-- Select and deselect on click -->
        $(".ui-i4 .ui-item").click(function(){
          if($(this).parent().hasClass("active")){
            $(this).parent().removeClass("active");
          }
          else{
            $(this).parent().addClass("active");
          }
        });
        
        <!-- Select all -->
        $(".ui-all .all").click(function(e){
          e.preventDefault();
          $(".ui-i4").removeClass("active").addClass("active");
        });
        
        <!-- Select none -->
        $(".ui-all .none").click(function(e){
          e.preventDefault();
          $(".ui-i4").removeClass("active");
        });

        
      });

    </script>


      </div>
    </div>
   </div>