 <div class="bg-main-fisical-health">
          
      </div>


<div class="jumbotron">
    <div class="container altura bg-white-trans">
      <div class="row">

       <section class="altura">
       <div>
        <h2 class="nblue animated animatedFadeInUp hsdreamfs">
                        SALUD FISICA DE CALIDAD
          </h2>
          <p>INDICACIONES: A tener una casa en la cual crear un hogar. Para poder ayudarte correctamente en tu sueño hemos creado un muy completo y simple llenado compuesto de 2 secciones. Solo llena lo que se te pide a continuacion.</p>
          </div>
       </section>


        <div>
        <div>
        
          <h3>PASO 1: CONDICION DE SALUD FISICA</h3>
          <p>IMPORTANTE: Es necesario saber sobre tu condicion fisica actual, introduce tus datos honestamente o ve a una consulta medica y pide un certificado medico e introduce los datos resultantes.</p>

        </div>


        <div> <p> <em>Marca con palomita si tu tienes la condicion, en caso de que tu no la tengas pero un familiar cercano si, marca el familiar que padece de la condicion.</em></p> </div>

        <div>
            
    <div class="ui-315">
      <div class="container-fluid">

        
        <div class="row">
        
          <div class="col-md-6">
          
            <!-- Pages Widget starts -->
            <div class="widget">

              
              <!-- Widget body starts -->
              <div class="w-body pages-widget">
                 
                <div class="table-responsive">
                  <table class="table table-hover">
                    <!-- Table heading -->
                    <tr> 
                      <th>Seleccion</th>
                      <th>Condicion</th>
                      <th>Familia</th>
                
                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> Diabetes </td>
                      <!-- Page size -->
                      <!-- Status -->
                      <td> <div class="ui-bitem clearfix">
                        <select name=””>
                           <option value=”NAs”> ningun familiar </option>
                           <option value=”padre”> padre </option>
                           <option value=”madre”> madre </option>
                           <option value=”hermanos”> hermanos </option>
                           <option value=”hijos”> hijos </option>
                         </select>

                      </div></td>

                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black">Enfermedades congenitas</td>
                      <!-- Page size -->
                      <!-- Status -->
                      <td><select name=””>
                           <option value=”NAs”> ningun familiar </option>
                           <option value=”padre”> padre </option>
                           <option value=”madre”> madre </option>
                           <option value=”hermanos”> hermanos </option>
                           <option value=”hijos”> hijos </option>
                         </select></td>

                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td class="black">Enfermedades infecciosas </td>
                      <td><select name=””>
                           <option value=”NAs”> ningun familiar </option>
                           <option value=”padre”> padre </option>
                           <option value=”madre”> madre </option>
                           <option value=”hermanos”> hermanos </option>
                           <option value=”hijos”> hijos </option>
                         </select></td>
                      
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td class="black"> Epilepsia</td>
                      <td><select name=””>
                           <option value=”NAs”> ningun familiar </option>
                           <option value=”padre”> padre </option>
                           <option value=”madre”> madre </option>
                           <option value=”hermanos”> hermanos </option>
                           <option value=”hijos”> hijos </option>
                         </select></td>                    
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td class="black">Embarazo</td>
                      <td><select name=””>
                           <option value=”NAs”> ningun familiar </option>
                           <option value=”padre”> padre </option>
                           <option value=”madre”> madre </option>
                           <option value=”hermanos”> hermanos </option>
                           <option value=”hijos”> hijos </option>
                         </select></td>                     
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td class="black">Hipertension</td>
                      <td><select name=””>
                           <option value=”NAs”> ningun familiar </option>
                           <option value=”padre”> padre </option>
                           <option value=”madre”> madre </option>
                           <option value=”hermanos”> hermanos </option>
                           <option value=”hijos”> hijos </option>
                         </select></td>                  
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td class="black">Neoplasia</td>
                      <td><select name=””>
                           <option value=”NAs”> ningun familiar </option>
                           <option value=”padre”> padre </option>
                           <option value=”madre”> madre </option>
                           <option value=”hermanos”> hermanos </option>
                           <option value=”hijos”> hijos </option>
                         </select></td>                
                    </tr>
                      <td><input type="checkbox"></td>
                      <td class="black">Alergias</td>
                      <td><select name=””>
                           <option value=”NAs”> ningun familiar </option>
                           <option value=”padre”> padre </option>
                           <option value=”madre”> madre </option>
                           <option value=”hermanos”> hermanos </option>
                           <option value=”hijos”> hijos </option>
                         </select></td>                     
                    </tr>
                  </table>
                </div>
                 
              </div>
              <!-- Widget body ends -->
              
            </div>
            <!-- Widget ends -->
          
          </div>
          <div class="col-md-6">
             <!-- Pages Widget starts -->
            <div class="widget">
              
              <!-- Widget body starts -->
              <div class="w-body pages-widget">
                 
                <div class="table-responsive">
                  <table class="table table-hover">
                    <!-- Table heading -->
                    <tr> 
                      <th>Seleccion</th>
                      <th>Condicion</th>
                      <th>Familia</th>
                
                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black">Fumador</td>
                      <!-- Page size -->
                      <!-- Status -->
                      <td><select name=””>
                           <option value=”NAs”> ningun familiar </option>
                           <option value=”padre”> padre </option>
                           <option value=”madre”> madre </option>
                           <option value=”hermanos”> hermanos </option>
                           <option value=”hijos”> hijos </option>
                         </select></td>               </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td class="black">Problemas cardiovasculares</td>
                      <td><select name=””>
                           <option value=”NAs”> ningun familiar </option>
                           <option value=”padre”> padre </option>
                           <option value=”madre”> madre </option>
                           <option value=”hermanos”> hermanos </option>
                           <option value=”hijos”> hijos </option>
                         </select></td>
                     
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td class="black">Alcoholismo</td>
                      <td><select name=””>
                           <option value=”NAs”> ningun familiar </option>
                           <option value=”padre”> padre </option>
                           <option value=”madre”> madre </option>
                           <option value=”hermanos”> hermanos </option>
                           <option value=”hijos”> hijos </option>
                         </select></td>                    
                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> Asma</td>
                      <td><select name=””>
                           <option value=”NAs”> ningun familiar </option>
                           <option value=”padre”> padre </option>
                           <option value=”madre”> madre </option>
                           <option value=”hermanos”> hermanos </option>
                           <option value=”hijos”> hijos </option>
                         </select></td>                  </tr>
                    <tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black">Drogas</td>
                      <!-- Page size -->
                      <!-- Status -->
                      <td><select name=””>
                           <option value=”NAs”> ningun familiar </option>
                           <option value=”padre”> padre </option>
                           <option value=”madre”> madre </option>
                           <option value=”hermanos”> hermanos </option>
                           <option value=”hijos”> hijos </option>
                         </select></td>                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td class="black"> VIH / Sida </td>
                      <td><select name=””>
                           <option value=”NAs”> ningun familiar </option>
                           <option value=”padre”> padre </option>
                           <option value=”madre”> madre </option>
                           <option value=”hermanos”> hermanos </option>
                           <option value=”hijos”> hijos </option>
                         </select></td>                    
                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black">Artritis</td>
                      <!-- Page size -->
                      <!-- Status -->
                      <td><select name=””>
                           <option value=”NAs”> ningun familiar </option>
                           <option value=”padre”> padre </option>
                           <option value=”madre”> madre </option>
                           <option value=”hermanos”> hermanos </option>
                           <option value=”hijos”> hijos </option>
                         </select></td>              
                     </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black">Anorexia</td>
                      <!-- Page size -->
                      <!-- Status -->
                      <td><select name=””>
                           <option value=”NAs”> ningun familiar </option>
                           <option value=”padre”> padre </option>
                           <option value=”madre”> madre </option>
                           <option value=”hermanos”> hermanos </option>
                           <option value=”hijos”> hijos </option>
                         </select></td>              
                     </tr>
                  </table>
                </div>

                 
              </div>
              <!-- Widget body ends -->
              
            </div>

            <!-- Widget ends -->
          </div>
          
        
        </div>
           <div class="ui-153">
        

        <div class="col-md-6">
          
            <!-- Item -->
            <div class="ui-item">
              <!-- Heading -->
              <div class="ui-head">
                <!-- Heading -->
                <h4 class="fs-18">Por favor introduce tu altura en cm. Ejemplo = 170 cm.</h4>
                <!-- Para -->
              </div>
              <!-- Body -->
                <div class="container-fluid">
                    <div class="col-md-12 col-sm-12  col-xs-12 col-padd">
                      <!-- Body item -->
                      <div class="ui-bitem clearfix">
                       <textarea class="form-control" id="emprendedor-tiempo" name="emprendedor-tiempo"></textarea>
                  </div>
                </div>
              </div>
              <!-- Foot -->
            </div>
          
          </div>

          <div class="col-md-6">
          
            <!-- Item -->
            <div class="ui-item">
              <!-- Heading -->
              <div class="ui-head">
                <!-- Heading -->
                <h4 class="fs-18">Introduce tu peso en Kg.</h4>
                <!-- Para -->
              </div>
              <!-- Body -->
                <div class="container-fluid">
                    <div class="col-md-12 col-sm-12  col-xs-12 col-padd">
                      <!-- Body item -->
                      <div class="ui-bitem clearfix">
                       <textarea class="form-control" id="emprendedor-tiempo" name="emprendedor-tiempo"></textarea>
                  </div>
                </div>
              </div>
              <!-- Foot -->
            </div>
          
          </div>

      </div>

    </div>


        </div>


   



<!-- END OF THE FIRST SECTION "PASO 1" BEGIN OF THE SECOND SECTION "PASO 2" -->
      <div>
        <div>
          <h3>
            PASO 2: ACTIVIDADES QUE MEJORAN LA CONDICION FISICA
          </h3>
          <p>Estas actividades haran que tu calidad de vida se alargue hasta los 80 o 100 años, pero debes empezar ya. Selecciona todas las que estes dispuesto a cumplir y seguir para tener una buena salud.</p>
        </div>
        <div>
          <div class="ui-159">

            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'aprender-a-comer-menos.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>APRENDER A COMER MENOS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'artes-marciales.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>APRENDER ARTES MARCIALES</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'correr.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>CORRER</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'dejar-un-vicio.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>DEJAR UN VICIO</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'desintoxicacion.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>DESINTOXICACION</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'dieta-saludable.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>DIETA SALUDABLE</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'dormir-bien.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>DORMIR BIEN</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'flexibilidad.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>FLEXIBILIDAD</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'flexiones.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>FLEXIONES</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'higiene-personal.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>HIGIENE PERSONAL</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'masajes.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>MASAJES</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'natacion.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>NATACION</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'practicar-basquetball.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>PRACTICAR BASQUETABALL</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'practicar-boxeo.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>PRACTICAR BOXEO</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>  
            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'practicar-futbol.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>PRACTICAR FUTBOL</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'practicar-futbol-americano.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>PRACTICAR FUTBOL AMERICANO</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'practicar-remo.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>PRACTICAR REMO</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'practicar-tenis.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>PRACTICAR TENIS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'saltar-la-cuerda.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>SALTAR LA CUERDA</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 
            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'salud-dental.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>SALUD DENTAL</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'salud-visual', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>SALUD VISUAL</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>  

            <div class="ui-i7">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'sentadillas.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>SENTADILLAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 
       
    </div>
    </div>


    </div>


        </div>
      </div>
<!-- END OF THE SECOND SECTION "PASO 2" BEGIN OF THE THIRD SECTION "PASO 3" -->
<div>
        <div>
          <h3>
            PASO 3: HABITOS DE SALUD
          </h3>
          <p>IMPORTANTE: Deberas seleccionar los habitos que pones en practica, se honesto contigo mismo recuerda que es para tener una gran calidad de vida.</p>
        </div>
          <div class="ui-159">

          <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'dormitorio.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi" role="button" data-toggle="collapse" href="#lavarse_las_manos" aria-expanded="false" aria-controls="collapseExample">                                <!-- Heading -->
                                <h6>LAVARSE LAS MANOS</h6>

                                <h6>La forma mas barata de prevenir enfermedades.</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div class="collapse" id="lavarse_las_manos">
            <p>Selecciona en cuales situaciones consideras que te lavas las manos.</p>

            
         <div class="ui-315">
          <div class="container-fluid">

        
           <div class="row">

           <div class="col-md-6">
          
            <!-- Pages Widget starts -->
            <div class="widget">

              
              <!-- Widget body starts -->
              <div class="w-body pages-widget">
                 
                <div class="table-responsive">
                  <table class="table table-hover">
                    <!-- Table heading -->
                    <tr> 
                      <th>Seleccion</th>
                      <th>Habito</th>
                
                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> Despues de hacer sus necesidades </td>

                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black">Despues de cambiar pañales o ayudar a un niño a ir al baño</td>

                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td class="black">Antes y despues de curar cortaduras o heridas </td>
                      
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td class="black"> Antes y despues de estar con alguien enfermo</td>
                    
                    </tr>
                  </table>
                </div>
                 
              </div>
              <!-- Widget body ends -->
              
            </div>
            <!-- Widget ends -->
          
          </div>

          <div class="col-md-6">
          
            <!-- Pages Widget starts -->
            <div class="widget">

              
              <!-- Widget body starts -->
              <div class="w-body pages-widget">
                 
                <div class="table-responsive">
                  <table class="table table-hover">
                    <!-- Table heading -->
                    <tr> 
                      <th>Seleccion</th>
                      <th>Habito</th>
                
                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> Antes de preparar, servir o comer alimentos </td>

                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black">Despues de estornudar, toser o limpiarse la nariz</td>

                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td class="black">Despues de recoger un animal o recoger sus excrementos </td>
                      
                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td class="black"> Despues de recoger tirar la basura</td>
                    
                    </tr>
                  </table>
                </div>
                 
              </div>
              <!-- Widget body ends -->
              
            </div>
            <!-- Widget ends -->
          
          </div>

            

            </div>
          </div>
          </div>
            </div>

            <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'baño.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi" role="button" data-toggle="collapse" href="#agua_limpia" aria-expanded="false" aria-controls="collapseExample">                                <!-- Heading -->
                                <h6>USAR AGUA LIMPIA Y SEGURA</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div class="collapse" id="agua_limpia">

            <p>Selecciona los habitos de higiene que tiene con respecto de el agua.</p>

            
         <div class="ui-315">
          <div class="container-fluid">

        
           <div class="row">

           <div class="col-md-6">
          
            <!-- Pages Widget starts -->
            <div class="widget">

              
              <!-- Widget body starts -->
              <div class="w-body pages-widget">
                 
                <div class="table-responsive">
                  <table class="table table-hover">
                    <!-- Table heading -->
                    <tr> 
                      <th>Seleccion</th>
                      <th>Habito</th>
                
                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> Se asegura de que el agua que usa para beber, cépillarse los dientes, hacer hielo, cocinar y lavar alimentos venga de una fuente segura y haya sido purificada correctamente. </td>

                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black">Hierve el agua o la desinfecta en zonas en las que el agua local no es muy confiable.</td>

                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td class="black">Utiliza un buen filtro para el agua para evitar prroblemas </td>
                      
                    </tr>
                  </table>
                </div>
                 
              </div>
              <!-- Widget body ends -->
              
            </div>
            <!-- Widget ends -->
          
          </div>

          <div class="col-md-6">
          
            <!-- Pages Widget starts -->
            <div class="widget">

              
              <!-- Widget body starts -->
              <div class="w-body pages-widget">
                 
                <div class="table-responsive">
                  <table class="table table-hover">
                    <!-- Table heading -->
                    <tr> 
                      <th>Seleccion</th>
                      <th>Habito</th>
                
                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> Se asegura que el recipiente en el que toma agua esta limpio </td>

                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black">No mete las manos ni los dedos en el agua que se va a tomar usted u otros</td>

                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td class="black"> Almacena el agua en recipientes limpios y cerrados para evitar que se contamine</td>
                    
                    </tr>
                  </table>
                </div>
                 
              </div>
              <!-- Widget body ends -->
              
            </div>
            <!-- Widget ends -->
          
          </div>

            

            </div>
          </div>
          </div>



            </div>

          <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'garage.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi" role="button" data-toggle="collapse" href="#higiene_alimentos" aria-expanded="false" aria-controls="collapseExample">                                <!-- Heading -->
                                <h6>HIGIENE EN LOS ALIMENTOS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div class="collapse" id="higiene_alimentos">

            <p>Selecciona los habitos que tienes al momento de tratar con la comida.</p>

              <div class="ui-315">
          <div class="container-fluid">

        
           <div class="row">

           <div class="col-md-6">
          
            <!-- Pages Widget starts -->
            <div class="widget">

              
              <!-- Widget body starts -->
              <div class="w-body pages-widget">
                 
                <div class="table-responsive">
                  <table class="table table-hover">
                    <!-- Table heading -->
                    <tr> 
                      <th>Seleccion</th>
                      <th>Habito</th>
                
                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> Acostumbra lavar las frutas y verduras puesto que regularmente contienen abono y pesticidas. </td>

                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black">Antes de cocinar se lava las manos con agua caliente y jabon, ademas de lavar los utensilio, platos y superficies donde preparara los alimentos.</td>

                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td class="black"> Acostumbra a hacer aguas frescas en lugar de consumir refrescos u otras bebidas procesadas.</td>
                    
                    </tr>
                  </table>
                </div>
                 
              </div>
              <!-- Widget body ends -->
              
            </div>
            <!-- Widget ends -->
          
          </div>

          <div class="col-md-6">
          
            <!-- Pages Widget starts -->
            <div class="widget">

              
              <!-- Widget body starts -->
              <div class="w-body pages-widget">
                 
                <div class="table-responsive">
                  <table class="table table-hover">
                    <!-- Table heading -->
                    <tr> 
                      <th>Seleccion</th>
                      <th>Habito</th>
                
                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> Se asegura que el recipiente y/o la zona en que guarda sus alimentos esta limpia </td>

                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black">Tira los alimentos que estuvieron por mas de 2 horas en temperaturas de mas de 32° grados</td>

                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td class="black">Siempre acostumbra guardar los alimentos que sobraron en el refrigerador o alguna zona en la que animales no los alcancen o se pudra la comida. </td>
                      
                    </tr>
            
                  </table>
                </div>
                 
              </div>
              <!-- Widget body ends -->
              
            </div>
            <!-- Widget ends -->
          
          </div>

            

            </div>
          </div>
          </div>

            </div>

           <div class="ui-i4">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'cocina.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi" role="button" data-toggle="collapse" href="#dormir" aria-expanded="false" aria-controls="collapseExample">                                <!-- Heading -->
                                <h6>HABITOS DE SUEÑO (dormir)</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div class="collapse" id="dormir">

            <p>Que habitos de los siguientes tienes cuando consideras irte a dormir.</p>

            <div class="ui-315">
          <div class="container-fluid">

        
           <div class="row">

           <div class="col-md-6">
          
            <!-- Pages Widget starts -->
            <div class="widget">

              
              <!-- Widget body starts -->
              <div class="w-body pages-widget">
                 
                <div class="table-responsive">
                  <table class="table table-hover">
                    <!-- Table heading -->
                    <tr> 
                      <th>Seleccion</th>
                      <th>Habito</th>
                
                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> Tiene un horario fijo para irse a la cama y levantarse. </td>

                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black">Se asegura de tener un dormitorio oscuro y acogedor, de que no haya ruido y de que no haga ni mucho frio o calor.</td>

                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td class="black">Evita ver la television, computadora, celular o tableta en la cama. </td>
                      
                    </tr>
                  </table>
                </div>
                 
              </div>
              <!-- Widget body ends -->
              
            </div>
            <!-- Widget ends -->
          
          </div>

          <div class="col-md-6">
          
            <!-- Pages Widget starts -->
            <div class="widget">

              
              <!-- Widget body starts -->
              <div class="w-body pages-widget">
                 
                <div class="table-responsive">
                  <table class="table table-hover">
                    <!-- Table heading -->
                    <tr> 
                      <th>Seleccion</th>
                      <th>Habito</th>
                
                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black"> Tiene una cama limpia y comoda para irse a dormir </td>

                    </tr>
                    <tr>
                      <!-- Check box -->
                      <td><input type="checkbox"></td>
                      <!-- Page name -->
                      <td class="black">No cena ni toma cafe o bebidas alcoholicas anres de irse a dormir.</td>

                    </tr>
                    <tr>
                      <td><input type="checkbox"></td>
                      <td class="black"> Tiene una conciencia "limpia" que le permite descansar tranquilamente.</td>
                    
                    </tr>
                  </table>
                </div>
                 
              </div>
              <!-- Widget body ends -->
              
            </div>
            <!-- Widget ends -->
          
          </div>

            

            </div>
          </div>
          </div>

            </div>

      <p>Muy bien has terminado la seleccion. Ahora solo falta que envies tu seleccion.</p>

    </div>
<a href="http://localhost:3000/travel/steps_travel" class="btn btn-solid js-goto-signup js-button-hero-get-free">
            ENVIAR
    </a>

    </div>


<!-- END OF THE SECTION "PASO 3" BEGIN OF THE FOURTH SECTION "PASO 4" -->
 
      

<!-- END OF THE THIRD SECTION "PASO 3" BEGIN OF THE EXPERT TRAVELER DREAM SECTION "SELECT ALL" -->

<div class="espacio">
        <div>
          <h3>
            SUEÑO EXTRAORDINARIAMENTE SANO
          </h3>
          <p>Tener un gran nivel de salud mental, fisica, emocional y espiritual.</p>
        </div>
        <div>
          <div class="ui-all text-center">
                <a href="#" class="all btn btn-red">SELECCIONAR</a> &nbsp; <a href="#" class="none btn btn-lblue">DESELECCIONAR</a>
          </div>
            <p>No olvides Enviar al terminar tu seleccion.</p>
        </div>
      </div>  
    <script>
      $(document).ready(function(){
      
        <!-- Select and deselect on click -->
        $(".ui-i3 .ui-item").click(function(){
          if($(this).parent().hasClass("active")){
            $(this).parent().removeClass("active");
          }
          else{
            $(this).parent().addClass("active");
          }
        });
        
        <!-- Select all -->
        $(".ui-all .all").click(function(e){
          e.preventDefault();
          $(".ui-i3").removeClass("active").addClass("active");
        });
        
        <!-- Select none -->
        $(".ui-all .none").click(function(e){
          e.preventDefault();
          $(".ui-i3").removeClass("active");
        });

        
      });

    </script>

    <script>
      $(document).ready(function(){
      
        <!-- Select and deselect on click -->
        $(".ui-i4 .ui-item").click(function(){
          if($(this).parent().hasClass("active")){
            $(this).parent().removeClass("active");
          }
          else{
            $(this).parent().addClass("active");
          }
        });
        
        <!-- Select all -->
        $(".ui-all .all").click(function(e){
          e.preventDefault();
          $(".ui-i4").removeClass("active").addClass("active");
        });
        
        <!-- Select none -->
        $(".ui-all .none").click(function(e){
          e.preventDefault();
          $(".ui-i4").removeClass("active");
        });

        
      });

    </script>

    <script>
      $(document).ready(function(){
      
        <!-- Select and deselect on click -->
        $(".ui-i7 .ui-item").click(function(){
          if($(this).parent().hasClass("active")){
            $(this).parent().removeClass("active");
          }
          else{
            $(this).parent().addClass("active");
          }
        });
        
        <!-- Select all -->
        $(".ui-all .all").click(function(e){
          e.preventDefault();
          $(".ui-i7").removeClass("active").addClass("active");
        });
        
        <!-- Select none -->
        $(".ui-all .none").click(function(e){
          e.preventDefault();
          $(".ui-i7").removeClass("active");
        });

        
      });

    </script>



      </div>
    </div>
   </div>
