%h1 Listing nobel_usuarios
%table.table
  %thead
    %tr
      %th Nombre
      %th Apellido paterno
      %th Apellido materno
      %th Fecha de nacimiento
      %th Telefono
      %th Estado civil
      %th Sexo
      %th Escolaridad
      %th Estado
      %th Municipio
      %th Domicilio
      %th Numero exterior
      %th Numero interior
      %th Codigo postal
      %th Correo
      %th Confirmar correo
      %th Contrase単a
      %th Confirmar contrase単a
      %th
      %th
      %th

  %tbody
    - @nobel_usuarios.each do |nobel_usuario|
      %tr
        %td= nobel_usuario.nombre
        %td= nobel_usuario.apellido_paterno
        %td= nobel_usuario.apellido_materno
        %td= nobel_usuario.fecha_de_nacimiento
        %td= nobel_usuario.telefono
        %td= nobel_usuario.estado_civil
        %td= nobel_usuario.sexo
        %td= nobel_usuario.escolaridad
        %td= nobel_usuario.estado
        %td= nobel_usuario.municipio
        %td= nobel_usuario.domicilio
        %td= nobel_usuario.numero_exterior
        %td= nobel_usuario.numero_interior
        %td= nobel_usuario.codigo_postal
        %td= nobel_usuario.correo
        %td= nobel_usuario.confirmar_correo
        %td= nobel_usuario.contrase単a
        %td= nobel_usuario.confirmar_contrase単a
        %td= link_to 'Show', nobel_usuario
        %td= link_to 'Edit', edit_nobel_usuario_path(nobel_usuario)
        %td= link_to 'Destroy', nobel_usuario, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Nobel usuario', new_nobel_usuario_path
