-# frozen_string_literal: true
= simple_form_for(@usuario) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :nombre
    = f.input :apellido_paterno
    = f.input :apellido_materno
    = f.input :fecha_de_nacimiento
    = f.input :telefono
    = f.input :estado_civil
    = f.input :sexo
    = f.input :escolaridad
    = f.input :estado
    = f.input :municipio
    = f.input :domicilio
    = f.input :numero_exterior
    = f.input :numero_interior
    = f.input :codigo_postal
    = f.input :correo
    = f.input :confirmar_correo
    = f.input :contraseña
    = f.input :confirmar_contraseña

  .form-actions
    = f.button :submit
