<%= form_with(model: usuario) do |form| %>
  <% if usuario.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
        <% usuario.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="bg-main">
  <!--
          <div style="display: block; background-image: url(&quot;//d2c87l0yth4zbw-2.global.ssl.fastly.net/i/home/bg-albums.png&quot;);" class="bg-main-img lazy lazy-no-small" data-original="//d2c87l0yth4zbw-2.global.ssl.fastly.net/i/home/bg-albums.png"></div> -->
</div>
      

  <div>
    <%= form.label :nombre, style: "display: block" %>
    <%= form.text_field :nombre %>
  </div>

  <div>
    <%= form.label :apellido_paterno, style: "display: block" %>
    <%= form.text_field :apellido_paterno %>
  </div>

  <div>
    <%= form.label :apellido_materno, style: "display: block" %>
    <%= form.text_field :apellido_materno %>
  </div>

  <div>
    <%= form.label :fecha_de_nacimiento, style: "display: block" %>
    <%= form.text_field :fecha_de_nacimiento %>
  </div>

  <div>
    <%= form.label :telefono, style: "display: block" %>
    <%= form.text_field :telefono %>
  </div>

  <div>
    <%= form.label :estado_civil, style: "display: block" %>
    <%= form.text_field :estado_civil %>
  </div>

  <div>
    <%= form.label :sexo, style: "display: block" %>
    <%= form.text_field :sexo %>
  </div>

  <div>
    <%= form.label :escolaridad, style: "display: block" %>
    <%= form.text_field :escolaridad %>
  </div>

  <div>
    <%= form.label :estado, style: "display: block" %>
    <%= form.text_field :estado %>
  </div>

  <div>
    <%= form.label :municipio, style: "display: block" %>
    <%= form.text_field :municipio %>
  </div>

  <div>
    <%= form.label :domicilio, style: "display: block" %>
    <%= form.text_field :domicilio %>
  </div>

  <div>
    <%= form.label :numero_exterior, style: "display: block" %>
    <%= form.text_field :numero_exterior %>
  </div>

  <div>
    <%= form.label :numero_interior, style: "display: block" %>
    <%= form.text_field :numero_interior %>
  </div>

  <div>
    <%= form.label :codigo_postal, style: "display: block" %>
    <%= form.text_field :codigo_postal %>
  </div>

  <div>
    <%= form.label :correo, style: "display: block" %>
    <%= form.text_field :correo %>
  </div>

  <div>
    <%= form.label :confirmar_correo, style: "display: block" %>
    <%= form.text_field :confirmar_correo %>
  </div>

  <div>
    <%= form.label :contrase単a, style: "display: block" %>
    <%= form.text_field :contrase単a %>
  </div>

  <div>
    <%= form.label :confirmar_contrase単a, style: "display: block" %>
    <%= form.text_field :confirmar_contrase単a %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
