<div id="<%= dom_id usuario %>">
  <p>
    <strong>Nombre:</strong>
    <%= usuario.nombre %>
  </p>

  <p>
    <strong>Apellido paterno:</strong>
    <%= usuario.apellido_paterno %>
  </p>

  <p>
    <strong>Apellido materno:</strong>
    <%= usuario.apellido_materno %>
  </p>

  <p>
    <strong>Fecha de nacimiento:</strong>
    <%= usuario.fecha_de_nacimiento %>
  </p>

  <p>
    <strong>Telefono:</strong>
    <%= usuario.telefono %>
  </p>

  <p>
    <strong>Estado civil:</strong>
    <%= usuario.estado_civil %>
  </p>

  <p>
    <strong>Sexo:</strong>
    <%= usuario.sexo %>
  </p>

  <p>
    <strong>Escolaridad:</strong>
    <%= usuario.escolaridad %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= usuario.estado %>
  </p>

  <p>
    <strong>Municipio:</strong>
    <%= usuario.municipio %>
  </p>

  <p>
    <strong>Domicilio:</strong>
    <%= usuario.domicilio %>
  </p>

  <p>
    <strong>Numero exterior:</strong>
    <%= usuario.numero_exterior %>
  </p>

  <p>
    <strong>Numero interior:</strong>
    <%= usuario.numero_interior %>
  </p>

  <p>
    <strong>Codigo postal:</strong>
    <%= usuario.codigo_postal %>
  </p>

  <p>
    <strong>Correo:</strong>
    <%= usuario.correo %>
  </p>

  <p>
    <strong>Confirmar correo:</strong>
    <%= usuario.confirmar_correo %>
  </p>

  <p>
    <strong>Contrase単a:</strong>
    <%= usuario.contrase単a %>
  </p>

  <p>
    <strong>Confirmar contrase単a:</strong>
    <%= usuario.confirmar_contrase単a %>
  </p>

</div>
