%h1 Listing usuarios

%table
  %thead
    %tr
      %th Nombre
      %th Apellido paterno
      %th Apellido materno
      %th Fecha de nacimiento
      %th Telefono
      %th Estado civil
      %th Sexo
      %th Escolaridad
      %th Estado
      %th Municipio
      %th Domicilio
      %th Numero exterior
      %th Numero interior
      %th Codigo postal
      %th Correo
      %th Confirmar correo
      %th Contrase単a
      %th Confirmar contrase単a
      %th
      %th
      %th

  %tbody
    - @usuarios.each do |usuario|
      %tr
        %td= usuario.nombre
        %td= usuario.apellido_paterno
        %td= usuario.apellido_materno
        %td= usuario.fecha_de_nacimiento
        %td= usuario.telefono
        %td= usuario.estado_civil
        %td= usuario.sexo
        %td= usuario.escolaridad
        %td= usuario.estado
        %td= usuario.municipio
        %td= usuario.domicilio
        %td= usuario.numero_exterior
        %td= usuario.numero_interior
        %td= usuario.codigo_postal
        %td= usuario.correo
        %td= usuario.confirmar_correo
        %td= usuario.contrase単a
        %td= usuario.confirmar_contrase単a
        %td= link_to 'Show', usuario
        %td= link_to 'Edit', edit_usuario_path(usuario)
        %td= link_to 'Destroy', usuario, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Usuario', new_usuario_path
