%p#notice= notice

%p
  %b Nombre:
  = @usuario.nombre
%p
  %b Apellido paterno:
  = @usuario.apellido_paterno
%p
  %b Apellido materno:
  = @usuario.apellido_materno
%p
  %b Fecha de nacimiento:
  = @usuario.fecha_de_nacimiento
%p
  %b Telefono:
  = @usuario.telefono
%p
  %b Estado civil:
  = @usuario.estado_civil
%p
  %b Sexo:
  = @usuario.sexo
%p
  %b Escolaridad:
  = @usuario.escolaridad
%p
  %b Estado:
  = @usuario.estado
%p
  %b Municipio:
  = @usuario.municipio
%p
  %b Domicilio:
  = @usuario.domicilio
%p
  %b Numero exterior:
  = @usuario.numero_exterior
%p
  %b Numero interior:
  = @usuario.numero_interior
%p
  %b Codigo postal:
  = @usuario.codigo_postal
%p
  %b Correo:
  = @usuario.correo
%p
  %b Confirmar correo:
  = @usuario.confirmar_correo
%p
  %b Contrase単a:
  = @usuario.contrase単a
%p
  %b Confirmar contrase単a:
  = @usuario.confirmar_contrase単a

= link_to 'Edit', edit_usuario_path(@usuario)
\|
= link_to 'Back', usuarios_path
