<div class="bg-main-combustibles">
          
      </div>


<div class="jumbotron">
    <div class="container altura bg-white-trans">
      <div class="row">

       <section class="altura">
       <div>
        <h2 class="nblue animated animatedFadeInUp hsdreamfs">
                            COMIDA AL TRABAJO
          </h2>
          <p>INDICACIONES: Vamos a ser ecologicos y a la vez ahorrar nuestro dinero para nuestros sueños, pero antes te explicaremos el llenado. Para poder ayudarte correctamente en tu sueño hemos creado un muy completo y simple llenado compuesto de 2 secciones. Solo llena lo que se te pide a continuacion.</p>
          </div>
       </section>

       <div>
       <div>
      <h3>PASO 1: LA COMIDA QUE QUIERO</h3>
      <p>Selecciona que tipo de combustible consume actualmente tu vehiculo.</p>
        </div>

          <div class="ui-159">


          <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'hamburguesas.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover --> 
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>HAMBURGUESAS Y HOTDOGS</h6>
                                <!-- UI Content Hover -->   <!-- Links -->
                            <div class="ui-hover">
                             <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                               </div>
                            </div>

                </div>
            </div>
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'jugos.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover --> 
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>JUGOS</h6>
                                <!-- UI Content Hover -->   <!-- Links -->
                            <div class="ui-hover">
                             <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                               </div>
                            </div>

                </div>
            </div>
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'chocolate.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover --> 
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>DULCES Y CHOCOLATES</h6>
                                <!-- UI Content Hover -->   <!-- Links -->
                            <div class="ui-hover">
                             <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                               </div>
                            </div>

                </div>
            </div>
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'churros.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover --> 
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>CHURROS</h6>
                                <!-- UI Content Hover -->   <!-- Links -->
                            <div class="ui-hover">
                             <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                               </div>
                            </div>

                </div>
            </div>
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'pan.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover --> 
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>PAN</h6>
                                <!-- UI Content Hover -->   <!-- Links -->
                            <div class="ui-hover">
                             <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                               </div>
                            </div>

                </div>
            </div>
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'parrilladas.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover --> 
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>CARNE ASADA O PARRILLADA</h6>
                                <!-- UI Content Hover -->   <!-- Links -->
                            <div class="ui-hover">
                             <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                               </div>
                            </div>

                </div>
            </div>
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'donas.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover --> 
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>DONAS</h6>
                                <!-- UI Content Hover -->   <!-- Links -->
                            <div class="ui-hover">
                             <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                               </div>
                            </div>

                </div>
            </div>

            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'pastas.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover --> 
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>PASTAS</h6>
                                <!-- UI Content Hover -->   <!-- Links -->
                            <div class="ui-hover">
                             <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                               </div>
                            </div>

                </div>
            </div>
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'pizzas.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover --> 
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>PIZZA</h6>
                                <!-- UI Content Hover -->   <!-- Links -->
                            <div class="ui-hover">
                             <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                               </div>
                            </div>

                </div>
            </div>
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'sushi.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover --> 
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>SUSHI</h6>
                                <!-- UI Content Hover -->   <!-- Links -->
                            <div class="ui-hover">
                             <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                               </div>
                            </div>

                </div>
            </div>
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'vegano.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover --> 
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>COMIDA VEGANA</h6>
                                <!-- UI Content Hover -->   <!-- Links -->
                            <div class="ui-hover">
                             <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                               </div>
                            </div>

                </div>
            </div>
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'tamales.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover --> 
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>TAMALES</h6>
                                <!-- UI Content Hover -->   <!-- Links -->
                            <div class="ui-hover">
                             <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                               </div>
                            </div>

                </div>
            </div>
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'tacos.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover --> 
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>TACOS</h6>
                                <!-- UI Content Hover -->   <!-- Links -->
                            <div class="ui-hover">
                             <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                               </div>
                            </div>

                </div>
            </div>
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'waffleria.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover --> 
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>WAFFLES</h6>
                                <!-- UI Content Hover -->   <!-- Links -->
                            <div class="ui-hover">
                             <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                               </div>
                            </div>

                </div>
            </div>
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'nieve_dulce.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover --> 
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>NIEVE</h6>
                                <!-- UI Content Hover -->   <!-- Links -->
                            <div class="ui-hover">
                             <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                               </div>
                            </div>

                </div>
            </div>
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'mariscos.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover --> 
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>MARISCOS</h6>
                                <!-- UI Content Hover -->   <!-- Links -->
                            <div class="ui-hover">
                             <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                               </div>
                            </div>

                </div>
            </div>
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'lonche.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover --> 
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>LONCHES</h6>
                                <!-- UI Content Hover -->   <!-- Links -->
                            <div class="ui-hover">
                             <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                               </div>
                            </div>

                </div>
            </div>
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'crepas.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover --> 
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>CREPAS</h6>
                                <!-- UI Content Hover -->   <!-- Links -->
                            <div class="ui-hover">
                             <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                               </div>
                            </div>

                </div>
            </div>
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'pozole.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover --> 
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>POZOLE Y MENUDO</h6>
                                <!-- UI Content Hover -->   <!-- Links -->
                            <div class="ui-hover">
                             <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                               </div>
                            </div>

                </div>
            </div>
            


          </div>
        </div>

    <div>
       <div>
      <h3>PASO 2: LUGAR DE TRABAJO</h3>
      <p>Te mostramos a continuacion las soluciones que tienes para hacer que diminuya en gran medida este gasto. Si seleccionas la combinacion perfecta puede disminuir hasta 40%. ( Actualmente hay muchas empresas que juran haber creado "ahorradores de gasolina" pero de acuerdo a <a href="http://www.profeco.gob.mx/encuesta/brujula/pdf-2008/Ahorradores%20de%20gasolina.pdf"> <em>La PROFECO</em></a> usualmente son frudes, toxicos para el ser humano, dañan el automovil o el ahorro es muy minimo y por lo tal han sido descartados de Noblidream).</p>
        </div>

<!-- BEGINING OF MOSTRAR MAS WHERE IT SHOWS ALL THE NON-COMMON FOR TOURISM COUNTRIES -->
      <div class="ui-153">

       <div class="col-md-4">
          
            <!-- Item -->
            <div class="ui-item">
              <!-- Heading -->
              <div class="ui-head">
                <!-- Heading -->
                <h4 class="fs-18">Codigo postal.</h4>
                <!-- Para -->
              </div>
              <!-- Body -->
                <div class="container-fluid">
                    <div class="col-md-12 col-sm-12  col-xs-12 col-padd">
                      <!-- Body item -->
                      <div class="ui-bitem clearfix">
                       <form action="/action_page.php">
                          <input type="text" name="FirstName"><br>
                    </form>
                  </div>
                </div>
              </div>
              <!-- Foot -->
            </div>
          
          </div>
          <div class="col-md-4">
          
            <!-- Item -->
            <div class="ui-item">
              <!-- Heading -->
              <div class="ui-head">
                <!-- Heading -->
                <h4 class="fs-18">Calle.</h4>
                <!-- Para -->
              </div>
              <!-- Body -->
                <div class="container-fluid">
                    <div class="col-md-12 col-sm-12  col-xs-12 col-padd">
                      <!-- Body item -->
                      <div class="ui-bitem clearfix">
                       <form action="/action_page.php">
                        <input type="text" name="FirstName"><br>
                    </form>
                  </div>
                </div>
              </div>
              <!-- Foot -->
            </div>
          
          </div>
          <div class="col-md-4">
          
            <!-- Item -->
            <div class="ui-item">
              <!-- Heading -->
              <div class="ui-head">
                <!-- Heading -->
                <h4 class="fs-18">Numero exterior.</h4>
                <!-- Para -->
              </div>
              <!-- Body -->
                <div class="container-fluid">
                    <div class="col-md-12 col-sm-12  col-xs-12 col-padd">
                      <!-- Body item -->
                      <div class="ui-bitem clearfix">
                       <form action="/action_page.php">
                         <input type="text" name="FirstName"><br>
                    </form>
                  </div>
                </div>
              </div>
              <!-- Foot -->
            </div>
          
          </div> 

          <div class="col-md-4">
          
            <!-- Item -->
            <div class="ui-item">
              <!-- Heading -->
              <div class="ui-head">
                <!-- Heading -->
                <h4 class="fs-18">Av de referencia.</h4>
                <!-- Para -->
              </div>
              <!-- Body -->
                <div class="container-fluid">
                    <div class="col-md-12 col-sm-12  col-xs-12 col-padd">
                      <!-- Body item -->
                      <div class="ui-bitem clearfix">
                       <form action="/action_page.php">
                         <input type="text" name="FirstName"><br>
                    </form>
                  </div>
                </div>
              </div>
              <!-- Foot -->
            </div>
          
          </div>

          <div class="col-md-4">
          
            <!-- Item -->
            <div class="ui-item">
              <!-- Heading -->
              <div class="ui-head">
                <!-- Heading -->
                <h4 class="fs-18">Numero interior.</h4>
                <!-- Para -->
              </div>
              <!-- Body -->
                <div class="container-fluid">
                    <div class="col-md-12 col-sm-12  col-xs-12 col-padd">
                      <!-- Body item -->
                      <div class="ui-bitem clearfix">
                       <form action="/action_page.php">
                         <input type="text" name="FirstName"><br>
                    </form>
                  </div>
                </div>
              </div>
              <!-- Foot -->
            </div>
          
          </div>

          <div class="col-md-4">
          
            <!-- Item -->
            <div class="ui-item">
              <!-- Heading -->
              <div class="ui-head">
                <!-- Heading -->
                <h4 class="fs-18">Nombre de la empresa o lugar de trabajo.</h4>
                <!-- Para -->
              </div>
              <!-- Body -->
                <div class="container-fluid">
                    <div class="col-md-12 col-sm-12  col-xs-12 col-padd">
                      <!-- Body item -->
                      <div class="ui-bitem clearfix">
                       <form action="/action_page.php">
                         <input type="text" name="FirstName"><br>
                    </form>
                  </div>
                </div>
              </div>
              <!-- Foot -->
            </div>
          
          </div>
        
            </div>
      </div>
<!-- END OF THE FIRST SECTION "PASO 1" BEGIN OF THE SECOND SECTION "PASO 2" -->
      
      <div>
      	<div>
        
      		<h3>
      			PASO 3: MARCA, MODELO Y AÑO DEL VEHICULO
      		</h3>
      		<p>A continuacion llena los datos que se te piden, esto es con el fin de crear el proceso de solucion para el auto al que se le aplicara la solucion.</p>

      	</div>

      	<div>
            
    <div class="ui-153">

    
      <div class="col-md-12">
          
            <!-- Item -->
            <div class="ui-item2">
              <!-- Heading -->
              <div class="ui-head">
                <!-- Heading -->
                <h4 class="fs-18">HORA DE COMIDA.</h4>
                <!-- Para -->
              </div>
              <!-- Body -->
                <div class="container-fluid">
                    <div class="col-md-12 col-sm-12  col-xs-12 col-padd">
                      <!-- Body item -->
                      <div class="ui-bitem clearfix">
                       <form action="/action_page.php">
                         <input type="text" name="FirstName"><br>
                    </form>
                  </div>
                </div>
              </div>
              <!-- Foot -->
            </div>
          
          </div>


           
      
      <p>Muy bien has terminado la seleccion. Ahora solo falta que envies tu seleccion.</p>
    </div>
    <a href="http://localhost:3000/travel/steps_travel" class="btn btn-solid js-goto-signup js-button-hero-get-free">
            ENVIAR
    </a>

        </div>

<!-- END OF THE THIRD SECTION "PASO 3" BEGIN OF THE EXPERT TRAVELER DREAM SECTION "SELECT ALL" -->

<div class="espacio">
      	<div>
      		<h3>
      			SUEÑO NO PIERDO TIEMPO NI DINERO
      		</h3>
      		<p>Quieres pasar mas tiempo haciendo las cosas realmente importantes y ahorrando en la mayoria de aspectos de tu vida.</p>
      	</div>
      	<div>
      		<div class="ui-all text-center">
         				<a href="#" class="all btn btn-red">SELECCIONAR</a> &nbsp; <a href="#" class="none btn btn-lblue">DESELECCIONAR</a>
         	</div>
            <p>No olvides Enviar al terminar tu seleccion.</p>
      	</div>
      </div>  
		<script>
			$(document).ready(function(){
			
				<!-- Select and deselect on click -->
				$(".ui-i3 .ui-item").click(function(){
					if($(this).parent().hasClass("active")){
						$(this).parent().removeClass("active");
					}
					else{
						$(this).parent().addClass("active");
					}
				});
				
				<!-- Select all -->
				$(".ui-all .all").click(function(e){
					e.preventDefault();
					$(".ui-i3").removeClass("active").addClass("active");
				});
				
				<!-- Select none -->
				$(".ui-all .none").click(function(e){
					e.preventDefault();
					$(".ui-i3").removeClass("active");
				});

				
			});

		</script>




      </div>
    </div>
   </div>