 <div class="bg-main-buy-house">
          
      </div>


<div class="jumbotron">
    <div class="container altura bg-white-trans">
      <div class="row">

       <section class="altura">
       <div>
        <h2 class="nblue animated animatedFadeInUp hsdreamfs">
                        DESPENSA A DOMICILIO
          </h2>
          <p>INDICACIONES: A tener una casa en la cual crear un hogar. Para poder ayudarte correctamente en tu sueño hemos creado un muy completo y simple llenado compuesto de 4 secciones. Solo llena lo que se te pide a continuacion.</p>
          </div>
       </section>

    <div>
       <div>
      <h3>Paso 1: COMPRA USUAL DE DESPENSA</h3>
      <p>Te mostramos a continuacion los estilos de construccion y arquitectura de hoy dia, hay para todos los gustos y bolsillos. Si seleccionas una sola opcion entenderemos que tienes muy claro tu sueño, y para los que no lo tienen muy claro, selecciona 3 o 4 opciones no te limites. Nuestro favorito es el sustentable.</p>
        </div>
<div class="ui-159">    

            <!-- All -->
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'tiendas.gif', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>TIENDAS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'mercado_organico.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>MERCADO ORGANICO</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'mercado.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>MERCADO</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'abastos.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>ABASTOS</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'bodega_aurrera.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>BODEGA AURRERA</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'chedraui.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>CHEDRAUI</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'comercial_mexicana.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>COMERCIAL MEXICANA</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'costco.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>COSTCO</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'oxxo.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>OXXO</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'sams_club.gif', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>SAMS CLUB</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'soriana.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>SORIANA</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>
            <div class="ui-i3">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'walmart.jpg', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">
                                <!-- Heading -->
                                <h6>WALMART</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                 <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

 


        <p>Muy bien has terminado la seleccion. Ahora solo falta que envies tu seleccion.</p>
         <a href="http://localhost:3000/travel/steps_travel" class="btn btn-solid js-goto-signup js-button-hero-get-free">
            ENVIAR
    </a>
    </div>


   

<!-- END OF THE THIRD SECTION "PASO 1" BEGIN OF THE EXPERT TRAVELER DREAM SECTION "SELECT ALL" -->

<div class="espacio">
        <div>
          <h3>
            SUEÑO CONOCEDOR DE CULTURAS Y CASAS
          </h3>
          <p>Vivir en todos los tipos de viviendas que les interesan al menos una semana. Para aquellas personas que quieren saber que estan tomando la mejor decision.</p>
        </div>
        <div>
          <div class="ui-all text-center">
                <a href="#" class="all btn btn-red">SELECCIONAR</a> &nbsp; <a href="#" class="none btn btn-lblue">DESELECCIONAR</a>
          </div>
            <p>No olvides Enviar al terminar tu seleccion.</p>
        </div>
      </div>  
    <script>
      $(document).ready(function(){
      
        <!-- Select and deselect on click -->
        $(".ui-i3 .ui-item").click(function(){
          if($(this).parent().hasClass("active")){
            $(this).parent().removeClass("active");
          }
          else{
            $(this).parent().addClass("active");
          }
        });
        
        <!-- Select all -->
        $(".ui-all .all").click(function(e){
          e.preventDefault();
          $(".ui-i3").removeClass("active").addClass("active");
        });
        
        <!-- Select none -->
        $(".ui-all .none").click(function(e){
          e.preventDefault();
          $(".ui-i3").removeClass("active");
        });

        
      });

    </script>

    <script>
      $(document).ready(function(){
      
        <!-- Select and deselect on click -->
        $(".ui-i4 .ui-item").click(function(){
          if($(this).parent().hasClass("active")){
            $(this).parent().removeClass("active");
          }
          else{
            $(this).parent().addClass("active");
          }
        });
        
        <!-- Select all -->
        $(".ui-all .all").click(function(e){
          e.preventDefault();
          $(".ui-i4").removeClass("active").addClass("active");
        });
        
        <!-- Select none -->
        $(".ui-all .none").click(function(e){
          e.preventDefault();
          $(".ui-i4").removeClass("active");
        });

        
      });

    </script>

    <script>
      $(document).ready(function(){
      
        <!-- Select and deselect on click -->
        $(".ui-i5 .ui-item").click(function(){
          if($(this).parent().hasClass("active")){
            $(this).parent().removeClass("active");
          }
          else{
            $(this).parent().addClass("active");
          }
        });
        
        <!-- Select all -->
        $(".ui-all .all").click(function(e){
          e.preventDefault();
          $(".ui-i5").removeClass("active").addClass("active");
        });
        
        <!-- Select none -->
        $(".ui-all .none").click(function(e){
          e.preventDefault();
          $(".ui-i5").removeClass("active");
        });

        
      });

    </script>



      </div>
    </div>
   </div>