<!DOCTYPE html>
<html>
  <head>
    <title>Noblidream</title>
    <%= csrf_meta_tags %>

     <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.2.0/jquery.rateyo.min.css"> 
     <link rel="stylesheet" href="jquery.rateyo.css"/> -->

    <%= stylesheet_link_tag    'custom', media: 'all', 'data-turbolinks-track': 'reload', version: '1.1' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

     <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.2.0/jquery.rateyo.min.js"></script> -->
     
    <meta property="og:url" content="#">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Sueños que cambian la vida.">
    <meta charset="UTF-8">
  </head>

  <body>
    <header>
       <%= render 'layouts/navbar' %>
       <%= render 'layouts/alerts' %>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
