 <div class="bg-main-buy-house">
          
      </div>


<div class="jumbotron bg-white-inv">
    <div class="container altura bg-white-trans">
      <div class="row">

       <section class="altura">
       <div>
        <h2 class="nblue animated animatedFadeInUp hsdreamfs">
                        ENCONTRAR EL AMOR
          </h2>
          <p>INDICACIONES: El amor, para encontrarlo deberas cambiar tu mentalidad y mejorar actitudes. Pero primero se te hara una investigacion en 3 aspectos. Respeto. Amor y Cariño</p>
          </div>
       </section>

    <div>
       <div>
      <h3>PASO 1: EVALUACION PERSONAL</h3>
      <p>Responde y calificate honestamente.</p>
        </div>
<div class="ui-153">

    <div class="col-md-4">
          
            <!-- Item -->
            <div class="ui-item">
              <!-- Heading -->
              <div class="ui-head">
                <!-- Heading -->
                <h4 class="fs-18">¿Que me hace sentir mas completo?</h4>
              </div>
              <!-- Body -->
                    <div class="col-md-12 col-sm-6  col-xs-6 col-padd">
                      <!-- Body item -->
                      <div class="ui-bitem clearfix">
                        <textarea class="form-control" id="historia" name="historia"></textarea>
                  </div>
              </div>
             
            </div>
          
          </div>
          <div class="col-md-4">
          
            <!-- Item -->
            <div class="ui-item">
              <!-- Heading -->
              <div class="ui-head">
                <!-- Heading -->
                <h4 class="fs-18">¿Cuando me siento mas en contacto con el resto del mundo?</h4>
              </div>
              <!-- Body -->
                    <div class="col-md-12 col-sm-6  col-xs-6 col-padd">
                      <!-- Body item -->
                      <div class="ui-bitem clearfix">
                        <textarea class="form-control" id="historia" name="historia"></textarea>
                  </div>
              </div>
             
            </div>
          
          </div>
          <div class="col-md-4">
          
            <!-- Item -->
            <div class="ui-item">
              <!-- Heading -->
              <div class="ui-head">
                <!-- Heading -->
                <h4 class="fs-18">¿Donde podria encontrar mas fuerza?</h4>
              </div>
              <!-- Body -->
                    <div class="col-md-12 col-sm-6  col-xs-6 col-padd">
                      <!-- Body item -->
                      <div class="ui-bitem clearfix">
                        <textarea class="form-control" id="historia" name="historia"></textarea>
                  </div>
              </div>
             
            </div>
          
          </div>
          <div class="col-md-6">
          
            <!-- Item -->
            <div class="ui-item">
              <!-- Heading -->
              <div class="ui-head">
                <!-- Heading -->
                <h4 class="fs-18">¿Que hago en mos momentos en los que me siento pleno y satisfecho?</h4>
              </div>
              <!-- Body -->
                    <div class="col-md-12 col-sm-6  col-xs-6 col-padd">
                      <!-- Body item -->
                      <div class="ui-bitem clearfix">
                        <textarea class="form-control" id="historia" name="historia"></textarea>
                  </div>
              </div>
             
            </div>
          
          </div>
          <div class="col-md-6">
          
            <!-- Item -->
            <div class="ui-item">
              <!-- Heading -->
              <div class="ui-head">
                <!-- Heading -->
                <h4 class="fs-18">¿Cuando me siento sentimentalmente herido, a que acudo?</h4>
              </div>
              <!-- Body -->
                    <div class="col-md-12 col-sm-12  col-xs-12 col-padd">
                      <!-- Body item -->
                      <div class="ui-bitem clearfix">
                        <textarea class="form-control" id="historia" name="historia"></textarea>
                  </div>
              </div>
             
            </div>
          
          </div>
<!-- TEST DE RESPETO GENERAL -->
         <div class="test bg-white-trans">
                        <table width="100%" cellspacing="0">
              <tbody>
                <tr>
                  <td width="3%"></td>
                  <td width="37%"></td>
                  <td style="font-size: 12px;" width="10%" align="center">Totalmente de acuerdo</td>
                  <td style="font-size: 12px;" width="10%" align="center">De acuerdo</td>
                  <td style="font-size: 12px;" width="10%" align="center">Ni a favor ni en contra</td>
                  <td style="font-size: 12px;" width="10%" align="center">En desacuerdo</td>
                  <td style="font-size: 12px;" width="10%" align="center">Totalmente en desacuerdo</td>
                  <td width="10%" align="center"></td>
                </tr>
                                <tr>
                  <td style="font-size: 12px;">1</td>
                  <td style="font-size: 12px;">Tergiverso los hechos</td>
                  
            <td align="center"><input value="cz" name="item1" type="radio"></td>
            <td align="center"><input value="fy" name="item1" type="radio"></td>
            <td align="center"><input value="jx" name="item1" type="radio"></td>
            <td align="center"><input value="nw" name="item1" type="radio"></td>
            <td align="center"><input value="rv" name="item1" type="radio"></td>
            <td align="center"><div id="q1" class="form_cuestionario"></div></td>
                </tr>
                                <tr>
                  <td style="font-size: 12px;">2</td>
                  <td style="font-size: 12px;">Intento seguir las reglas</td>
                  
            <td align="center"><input value="rv" name="item2" type="radio"></td>
            <td align="center"><input value="nw" name="item2" type="radio"></td>
            <td align="center"><input value="jx" name="item2" type="radio"></td>
            <td align="center"><input value="fy" name="item2" type="radio"></td>
            <td align="center"><input value="cz" name="item2" type="radio"></td>
            <td align="center"><div id="q2" class="form_cuestionario"></div></td>
                </tr>
                                <tr>
                  <td style="font-size: 12px;">3</td>
                  <td style="font-size: 12px;">Digo la verdad</td>
                  
            <td align="center"><input value="rv" name="item3" type="radio"></td>
            <td align="center"><input value="nw" name="item3" type="radio"></td>
            <td align="center"><input value="jx" name="item3" type="radio"></td>
            <td align="center"><input value="fy" name="item3" type="radio"></td>
            <td align="center"><input value="cz" name="item3" type="radio"></td>
            <td align="center"><div id="q3" class="form_cuestionario"></div></td>
                </tr>
                                <tr>
                  <td style="font-size: 12px;">4</td>
                  <td style="font-size: 12px;">Hago lo contrario a lo que se pide</td>
                  
            <td align="center"><input value="cz" name="item4" type="radio"></td>
            <td align="center"><input value="fy" name="item4" type="radio"></td>
            <td align="center"><input value="jx" name="item4" type="radio"></td>
            <td align="center"><input value="nw" name="item4" type="radio"></td>
            <td align="center"><input value="rv" name="item4" type="radio"></td>
            <td align="center"><div id="q4" class="form_cuestionario"></div></td>
                </tr>
                                <tr>
                  <td style="font-size: 12px;">5</td>
                  <td style="font-size: 12px;">Dejo que otros cumplan con mis responsabilidades</td>
                  
            <td align="center"><input value="cz" name="item5" type="radio"></td>
            <td align="center"><input value="fy" name="item5" type="radio"></td>
            <td align="center"><input value="jx" name="item5" type="radio"></td>
            <td align="center"><input value="nw" name="item5" type="radio"></td>
            <td align="center"><input value="rv" name="item5" type="radio"></td>
            <td align="center"><div id="q5" class="form_cuestionario"></div></td>
                </tr>
                                <tr>
                  <td style="font-size: 12px;">6</td>
                  <td style="font-size: 12px;">Rompo mis promesas
</td>
                  
            <td align="center"><input value="cz" name="item6" type="radio"></td>
            <td align="center"><input value="fy" name="item6" type="radio"></td>
            <td align="center"><input value="jx" name="item6" type="radio"></td>
            <td align="center"><input value="nw" name="item6" type="radio"></td>
            <td align="center"><input value="rv" name="item6" type="radio"></td>
            <td align="center"><div id="q6" class="form_cuestionario"></div></td>
                </tr>
                                <tr>
                  <td style="font-size: 12px;">7</td>
                  <td style="font-size: 12px;">Hago caso a mi conciencia</td>
                  
            <td align="center"><input value="rv" name="item7" type="radio"></td>
            <td align="center"><input value="nw" name="item7" type="radio"></td>
            <td align="center"><input value="jx" name="item7" type="radio"></td>
            <td align="center"><input value="fy" name="item7" type="radio"></td>
            <td align="center"><input value="cz" name="item7" type="radio"></td>
            <td align="center"><div id="q7" class="form_cuestionario"></div></td>
                </tr>
                                <tr>
                  <td style="font-size: 12px;">8</td>
                  <td style="font-size: 12px;">Cumplo mis promesas</td>
                  
            <td align="center"><input value="rv" name="item8" type="radio"></td>
            <td align="center"><input value="nw" name="item8" type="radio"></td>
            <td align="center"><input value="jx" name="item8" type="radio"></td>
            <td align="center"><input value="fy" name="item8" type="radio"></td>
            <td align="center"><input value="cz" name="item8" type="radio"></td>
            <td align="center"><div id="q8" class="form_cuestionario"></div></td>
                </tr>
                                <tr>
                  <td style="font-size: 12px;">9</td>
                  <td style="font-size: 12px;">Pago mis facturas a tiempo</td>
                  
            <td align="center"><input value="rv" name="item9" type="radio"></td>
            <td align="center"><input value="nw" name="item9" type="radio"></td>
            <td align="center"><input value="jx" name="item9" type="radio"></td>
            <td align="center"><input value="fy" name="item9" type="radio"></td>
            <td align="center"><input value="cz" name="item9" type="radio"></td>
            <td align="center"><div id="q9" class="form_cuestionario"></div></td>
                </tr>
                                <tr>
                  <td style="font-size: 12px;">10</td>
                  <td style="font-size: 12px;">No respeto las reglas</td>
                  
            <td align="center"><input value="cz" name="item10" type="radio"></td>
            <td align="center"><input value="fy" name="item10" type="radio"></td>
            <td align="center"><input value="jx" name="item10" type="radio"></td>
            <td align="center"><input value="nw" name="item10" type="radio"></td>
            <td align="center"><input value="rv" name="item10" type="radio"></td>
            <td align="center"><div id="q10" class="form_cuestionario"></div></td>
                </tr>
                              </tbody>
            </table>
            <input name="oculto" id="oculto" type="hidden">
            <input name="tiempo_inicio" value="1488733021" type="hidden">
            <p>&nbsp;</p>
                </div>
<!-- FIN DE TEST DE RESPETO GENERAL -->

           
    
    </div>



<!-- END OF THE FIRST SECTION "PASO 1" BEGIN OF THE SECOND SECTION "PASO 2" -->
      <div>
        <div>
          <h3>
            PASO 2: ¿QUE TAN BUENA PAREJA ERES TU
          </h3>
          <p>Tu salud espiritual puede cubrirse de las siguientes maneras. Analiza cada una de las opciones y podras sentir como una te llama mas que todas las demas, selecciona solo esa.</p>
        </div>

        <div>
          <div class="ui-153">

          <div class="col-md-4">
          
            <!-- Item -->
            <div class="ui-item">
              <!-- Heading -->
              <div class="ui-head">
                <!-- Heading -->
                <h4 class="fs-18">¿Que tan honesto te consideras?</h4>
                <p>Siendo 1 totalmente deshonesto y 10 que cada accion que haces la analizas para saber si es honesta</p>
                <!-- Para -->
              </div>
              <!-- Body -->
                <div class="container-fluid">
                    <div class="col-md-12 col-sm-12  col-xs-12 col-padd">
                      <!-- Body item -->
                      <div class="ui-bitem clearfix">
                        <select name=””>
                           <option value=”menos-de-3”> 1 </option>
                           <option value=”entre-4y7”> 2 </option>
                           <option value=”entre-8y10”> 3 </option>
                           <option value=”entre-11y14”> 4 </option>
                           <option value=”mas-de-15”> 5</option>
                           <option value=”menos”> 6 </option>
                           <option value=”entre-4y7”> 7 </option>
                           <option value=”entre-8y10”> 8 </option>
                           <option value=”entre-11y14”> 9 </option>
                           <option value=”mas-de-15”> 10 </option>
                         </select>

                      </div>
                    </div>
              </div>
              <!-- Foot -->
            </div>
          
          </div>

          <div class="col-md-4">
          
            <!-- Item -->
            <div class="ui-item">
              <!-- Heading -->
              <div class="ui-head">
                <!-- Heading -->
                <h4 class="fs-18">¿Que nivel de paciencia tienes?</h4>
                <p>Siendo 1 que no tienes ninguna tolerancia y 10 que tienes una condicion que no te permite enojarte nunca.</p>
                <!-- Para -->
              </div>
              <!-- Body -->
                <div class="container-fluid">
                    <div class="col-md-12 col-sm-12  col-xs-12 col-padd">
                      <!-- Body item -->
                      <div class="ui-bitem clearfix">
                        <select name=””>
                           <option value=”menos-de-3”> 1 </option>
                           <option value=”entre-4y7”> 2 </option>
                           <option value=”entre-8y10”> 3 </option>
                           <option value=”entre-11y14”> 4 </option>
                           <option value=”mas-de-15”> 5</option>
                           <option value=”menos”> 6 </option>
                           <option value=”entre-4y7”> 7 </option>
                           <option value=”entre-8y10”> 8 </option>
                           <option value=”entre-11y14”> 9 </option>
                           <option value=”mas-de-15”> 10 </option>
                         </select>

                      </div>
                    </div>
              </div>
              <!-- Foot -->
            </div>
          
          </div>

          <div class="col-md-4">
          
            <!-- Item -->
            <div class="ui-item">
              <!-- Heading -->
              <div class="ui-head">
                <!-- Heading -->
                <h4 class="fs-18">¿Cuantas veces al mes consideras que debes convivir con tu pareja?</h4>
                <!-- Para -->
              </div>
              <!-- Body -->
                <div class="container-fluid">
                    <div class="col-md-12 col-sm-12  col-xs-12 col-padd">
                      <!-- Body item -->
                      <div class="ui-bitem clearfix">
                        <select name=””>
                           <option value=”menos-de-3”> 1 vez </option>
                           <option value=”entre-4y7”> 2 veces </option>
                           <option value=”entre-8y10”> 3 veces </option>
                           <option value=”entre-11y14”> 4 veces </option>
                           <option value=”mas-de-15”> 5 veces</option>
                           <option value=”menos”> 6 veces </option>
                           <option value=”entre-4y7”> entre 7 y 9 </option>
                           <option value=”entre-11y14”> entre 10 y 15 </option>
                           <option value=”mas-de-15”> mas de 15 veces </option>
                         </select>

                      </div>
                    </div>
              </div>
              <!-- Foot -->
            </div>
          
          </div>

          <div class="col-md-6">
          
            <!-- Item -->
            <div class="ui-item">
              <!-- Heading -->
              <div class="ui-head">
                <!-- Heading -->
                <h4 class="fs-18">Comunicacion y platica</h4>
                <p>Ve las opciones y ve cual encaja contigo.</p>
                <!-- Para -->
              </div>
              <!-- Body -->
                <div class="container-fluid">
                    <div class="col-md-12 col-sm-12  col-xs-12 col-padd">
                      <!-- Body item -->
                      <div class="ui-bitem clearfix">
                        <select name=””>
                           <option value=”menos”> callado </option>
                           <option value=”entre-4y7”> solo hablas cuando es necesario </option>
                           <option value=”entre-8y10”> te puedes comunicar libremente </option>
                           <option value=”entre”> te gusta iniciar conversaciones para que no haya silencio</option>
                           <option value=”mas-de-15”> disfrutas mucho de hablar, consideras que hablas mucho</option>
                         </select>

                      </div>
                    </div>
              </div>
              <!-- Foot -->
            </div>
          
          </div>

          <div class="col-md-6">
          
            <!-- Item -->
            <div class="ui-item">
              <!-- Heading -->
              <div class="ui-head">
                <!-- Heading -->
                <h4 class="fs-18">¿Que tan generoso te consideras? Ademas cuentanos una historia en la que hayas sido generoso.</h4>
                <!-- Para -->
              </div>
              <!-- Body -->
                <div class="container-fluid">
                    <div class="col-md-12 col-sm-12  col-xs-12 col-padd">
                      <!-- Body item -->
                      <div class="ui-bitem clearfix">
                        <textarea class="form-control" id="historia" name="historia"></textarea>

                      </div>
                    </div>
              </div>
              <!-- Foot -->
            </div>
          
          </div>

          <div class="col-md-6">
          
            <!-- Item -->
            <div class="ui-item">
              <!-- Heading -->
              <div class="ui-head">
                <!-- Heading -->
                <h4 class="fs-18">¿Que tan franco crees que eres?</h4>
                <!-- Para -->
              </div>
              <!-- Body -->
                <div class="container-fluid">
                    <div class="col-md-12 col-sm-12  col-xs-12 col-padd">
                      <!-- Body item -->
                      <div class="ui-bitem clearfix">
                        <select name=””>
                           <option value=”menos”>no me gusta herir a los demas <br> por eso prefiero no hablar</option>
                           <option value=”entre-4y7”> a veces digo lo que pienso </option>
                           <option value=”entre-8y10”> me expreso francamente cuando hablo </option>
                           <option value=”entre”> Siempre digo lo que pienso </option>
                           <option value=”mas-de-15”> a veces puedo ser agresivo cuando digo lo que pienso</option>
                         </select>

                      </div>
                    </div>
              </div>
              <!-- Foot -->
            </div>
          
          </div>

          <div class="col-md-6">
          
            <!-- Item -->
            <div class="ui-item">
              <!-- Heading -->
              <div class="ui-head">
                <!-- Heading -->
                <h4 class="fs-18">¿Que tan agradecido eres?</h4>
                <!-- Para -->
              </div>
              <!-- Body -->
                <div class="container-fluid">
                    <div class="col-md-12 col-sm-12  col-xs-12 col-padd">
                      <!-- Body item -->
                      <div class="ui-bitem clearfix">
                        <select name=””>
                           <option value=”menos”> Intento serlo a veces </option>
                           <option value=”entre-4y7”> A veces puedo serlo, pero prefiero callarme </option>
                           <option value=”entre-8y10”> Siempre doy regalos y muestras de agradecimiento </option>
                           <option value=”mas-de-15”> Al despertarme agradezco a todos por lo que me dan</option>
                         </select>

                      </div>
                    </div>
              </div>
              <!-- Foot -->
            </div>
          
          </div>

            

         </div>
       </div>


    </div>


        </div>
      </div>


<!-- END OF THE SECTION "PASO 3" BEGIN OF THE FOURTH SECTION "PASO 4" -->
 
      <div>
        <div>
        
          <h3>
            PASO 3: PERSONALIDADES CON LAS QUE TE GUSTARIA TENER UNA PAREJA
          </h3>
          <p>Regularmente las personalidades identicas o similares a la nuestra es con las que desarrollamos confianza mas pronto, puesto que nos identificamos, sin embargo intenta que sean diferentes a la tuya para que desarrolles la capacidad de comprension e inteligencia social con todas las personas, te ayudara a ser una mejor persona y mas agradable para las distintas personalidades. </p>

        </div>

        <div class="ui-159">

        <div class="ui-i6">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'arquitecto-intj.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>ARQUITECTO <br> INTJ</h6>
                                <h6>Pensadores imaginativos y estratégicos, con un plan para todo.</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i6">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'logico-intp.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>LOGICO <br> INTP</h6>
                                <h6>Inventores innovadores con una sed insaciable por el conocimiento.</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i6">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'comandante-entj.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>COMANDANTE <br>ENTJ</h6>
                                <h6>Líderes audaces, imaginativos y de voluntad fuerte, siempre en busca de un camino, o creando uno.</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i6">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'innovador-entp.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>INNOVADOR <br>ENTP</h6>
                                <h6>Pensadores inteligentes y curiosos que no pueden resistir un reto intelectual.</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i6">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'abogado-infj.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>ABOGADO <br>INFJ</h6>
                                <h6>Callados y místicos, que sin embargo son inspiradores e idealistas incansables.</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div class="ui-i6">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'mediador-infp.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>MEDIADOR <br>INFP</h6>
                                <h6>Personas poéticas, amables y altruistas, siempre en busca de ayudar a una buena causa.</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

             <div class="ui-i6">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'protagonista-enfj.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>PROTAGONISTA <br>ENFJ</h6>
                                <h6>Líderes carismáticos e inspiradores, capaces de cautivar a quienes los escuchan.</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i6">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'activista-enfp.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>ACTIVISTA <br>ENFP</h6>
                                <h6>Espíritus libres entusiastas, creativos y sociales, que siempre pueden encontrar una razón para sonreír.</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

            <div class="ui-i6">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'logista-istj.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>LOGISTA <br>ISTJ</h6>
                                <h6>Individuos prácticos y enfocados en los hechos, de cuya confiabilidad no puede dudarse.</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i6">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'defensor-isfj.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>DEFENSOR <br>ISFJ</h6>
                                <h6>Protectores muy dedicados y cálidos, siempre listos para defender a sus seres queridos.</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i6">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'ejecutivo-estj.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>EJECUTIVO <br>ESTJ</h6>
                                <h6>Administradores excelentes, inigualables al administrar cosas o personas.</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i6">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'consul-esfj.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>CONSUL <br>ESFJ</h6>
                                <h6>Personas extraordinariamente consideradas, sociables y populares, siempre en busca de ayudar.</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i6">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'virtuoso-istp.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>VIRTUOSO <br>ISTP</h6>
                                <h6>Experimentadores audaces y prácticos, maestros en el uso de todo tipo de herramientas.</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i6">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'aventurero-isfp.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>AVENTURERO <br>ISFP</h6>
                                <h6>Artistas flexibles y encantadores, siempre listos para explorar y experimentar algo nuevo.</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i6">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'emprendedor-estp.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>EMPRENDEDOR <br>ESTP</h6>
                                <h6>Personas inteligentes, enérgicas y muy perceptivas, que realmente disfrutan vivir al límite.</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div> 

            <div class="ui-i6">
                <!-- Item -->
                <div class="ui-item">
                    <!-- Image -->
                    <%= image_tag 'animador-esfp.png', :class => 'img-responsive', :size => '200x200' %>
                    <!-- Hover -->
                      <div class="ui-content ui-bg-grawhi">                                <!-- Heading -->
                                <h6>ANIMADOR <br>ESFP</h6>
                                <h6>Animadores espontáneos, enérgicos y entusiastas. La vida nunca es aburrida a su alrededor.</h6>
                                <!-- UI Content Hover -->   
                                <div class="ui-hover">
                                <div class="ui-links">
                                 <i class="fa fa-check fa-3x text-white"></i>
                             </div>
                                </div>
                            </div>
                </div>
            </div>

      <p>Muy bien has terminado la seleccion. Ahora solo falta que envies tu seleccion.</p>
      </div>
    <a href="http://localhost:3000/travel/steps_travel" class="btn btn-solid js-goto-signup js-button-hero-get-free">
            ENVIAR
    </a>

        </div>

<!-- END OF THE THIRD SECTION "PASO 3" BEGIN OF THE EXPERT TRAVELER DREAM SECTION "SELECT ALL" -->

<div class="espacio">
        <div>
          <h3>
            SUEÑO SER UNA GRAN PERSONA EN LAS RELACIONES
          </h3>
          <p>Todas las personas tienen sus fortalezas y debilidades todos lo sabemos, pero que tal si alguien se esfuerza a tal punto que parezca que no tenga defectos. Eso es lo que se busca hacer con este sueño.</p>
        </div>
        <div>
          <div class="ui-all text-center">
                <a href="#" class="all btn btn-red">SELECCIONAR</a> &nbsp; <a href="#" class="none btn btn-lblue">DESELECCIONAR</a>
          </div>
            <p>No olvides Enviar al terminar tu seleccion.</p>
        </div>
      </div>  
    <script>
      $(document).ready(function(){
      
        <!-- Select and deselect on click -->
        $(".ui-i6 .ui-item").click(function(){
          if($(this).parent().hasClass("active")){
            $(this).parent().removeClass("active");
          }
          else{
            $(this).parent().addClass("active");
          }
        });
        
        <!-- Select all -->
        $(".ui-all .all").click(function(e){
          e.preventDefault();
          $(".ui-i6").removeClass("active").addClass("active");
        });
        
        <!-- Select none -->
        $(".ui-all .none").click(function(e){
          e.preventDefault();
          $(".ui-i6").removeClass("active");
        });

        
      });

    </script>



      </div>
    </div>
   </div>